-
    var topMenuData = {
        version: "ru",
        mainMenu: [
            {
                href: "#",
                text: "Частным клиентам",
                additionalClass: "is-active"
            },
            {
                href: "#",
                text: "Корпоративным клиентам",
                additionalClass: "d-none d-xl-block"
            },
            {
                href: "#",
                text: "МСБ",
                additionalClass: "d-none d-xl-block"
            }
        ],
        mainDropDownMenu: [
            {
                href: "#",
                text: "Корпоративным клиентам",
                additionalClass: "d-xl-none"
            },
            {
                href: "#",
                text: "МСБ",
                additionalClass: "d-xl-none"
            },
            {
                href: "#",
                text: "Финансовым институтам",
            },
            {
                href: "#",
                text: "О банке",
            },
            {
                href: "#",
                text: "Помощь",
            },
            {
                href: "#",
                text: "English version",
            }
        ],
        downloadAppText: "Мобильное приложение",
        onlineBank: {
            text: "Онлайн-банк",
            items: ["Для частных лиц", "Для организаций"]
        }
    }

mixin top-row(data=topMenuData)
    div.header__top-row
        if data.mainMenu
            .d-none.d-lg-flex.align-items-center
                nav.main-menu
                    each item in data.mainMenu
                        a.main-menu__link.text-s(href= item.href class= item.additionalClass)= item.text

                    .dropdown
                        button.icon.size-m.dropdown-toggle(type="button", data-bs-toggle="dropdown", aria-expanded="false")
                            +svg-use("icon-more")
                        ul.dropdown-menu.dropdown-menu-end
                            each item in data.mainDropDownMenu
                                li
                                    a.dropdown-item.fw-bold(href= item.href class= item.additionalClass)= item.text

        .d-flex.align-items-center.gap-4.column-gap-xxl-3.column-gap-xxxl-6.ms-auto
            .d-none.d-lg-flex.gap-4.column-gap-xxl-3.column-gap-xxxl-6
                if data.version === "ru"
                    a.text-s.d-inline-flex.gap-1.align-items-center.dark-100(href="#")
                        span.icon.size-s.d-none.d-xxl-inline-block.violet-70
                            +svg-use("icon-point-small")
                        span.icon.size-m.d-xxl-none.violet-100
                            +svg-use("icon-point")
                        span.header-contact-link__text.d-none.d-xxl-inline-block
                            | Офисы и банкоматы
                if data.version === "en"
                    .dropdown.d-flex
                        button.dropdown-toggle.text-s.d-inline-flex.gap-1.align-items-center.dark-100(type="button" data-bs-toggle="dropdown" aria-expanded="false")
                            | Other ways of communication
                        .dropdown-menu.dropdown-menu-end
                            .p-3.text-nowrap
                                p
                                    | Single reference service:
                                    br
                                    a.link.link-underline(href="tel:+74959747187") +7 495 974-71-87
                                p
                                    | For calls from abroad:
                                    br
                                    a.link.link-underline(href="tel:+78002507007") +7 800 250-70-07,
                                    br
                                    a.link.link-underline(href="tel:74959747187") +7 495 974-71-87
                                button.link.link-underline(data-bs-toggle="modal", data-bs-target="#modal-callback-form") Request a call
                                br
                                button.link.link-underline(data-bs-toggle="modal", data-bs-target="#modal-feedback-form") Ask a Question
                                br
                                a.link.link-underline(href="/customer-requests/") Procedure for contacting the bank
                a.header-contact-link.text-s.dark-100(href="tel:+78002507007")
                    span.icon.size-m.d-xxl-none.violet-100
                        +svg-use("icon-phone")
                    span.header-contact-link__text.d-none.d-xxl-inline-block
                        | +7 800 250-70-07
            .d-flex.column-gap-md-3.column-gap-lg-4.column-gap-xxl-3
                button.btn.btn-outline-primary.btn-sm.d-none.d-md-inline-flex.gap-2.align-items-center.justify-content-center(type="button")
                    +svg-use("icon-download-small", "icon size-s")
                    != data.downloadAppText
                .dropdown
                    button.btn.btn-sm.btn-primary.dropdown-toggle(type="button", data-bs-toggle="dropdown", aria-expanded="false")
                        != data.onlineBank.text
                    ul.dropdown-menu.dropdown-menu-end
                        li
                            a.dropdown-item.fw-bold(href="#")!= data.onlineBank.items[0]
                        li
                            a.dropdown-item.fw-bold(href="#")!= data.onlineBank.items[1]
