---
import ATag from "../ui/ATag/ATag.astro";
interface Props {
	title: string;
	link: string;
	date: string;
	className?: string;
	tagText?: string;
	class?: string;
}

const {
	title,
	link = '#',
	class: className,
	tagText,
	date,
	...rest
} = Astro.props;
---

<a href={link} class="news-card" class:list={className} {...rest}>
	<div class="news-card__head">
		<ATag class="news-card__tag" outline>{tagText}</ATag>
		<div class="news-card__date body-s-light dark-70">{date}</div>
	</div>
	<div class="news-card__body body-m-light">{title}</div>
</a>

<style lang="scss" is:global>
	@import "@styles/placeholders.scss";
	@import "@styles/functions.scss";
	@import "@styles/media-queries";

	.news-card {
		@extend %reset-link;

		display: flex;
		flex-direction: column;
		background-color: var(--dark-10);
		border-radius: 0.75rem;
		gap: 2.5rem;
		padding: 1.5rem 1rem;
		height: 100%;

		&__head {
			display: flex;
			flex-wrap: wrap;
			column-gap: 1rem;
			justify-content: space-between;
		}

		&__date {
			margin-top: 0.875rem;
		}

		&__tag {
			flex-shrink: 0;
		}

		@include use-media(tablet) {
			padding: 1.5rem 1.5rem 2.5rem 1.5rem;
		}

		@include use-media(tablet-album) {
			padding: 1.5rem 2.5rem 4rem 2.5rem;
		}
	}
</style>
