---
import AIcon from "@components/AIcon.astro";

export type ContactListType = {
    href?: string;
    text: string;
    icon: string;
    iconColorClass?: string;
    description?: string;
    additionalText?: string;
    additionalClass?: string;
};

interface Props {
    list: ContactListType[];
    class?: string;
}

const { class: className, list } = Astro.props as Props;

// список контактов
---

<ul class:list={["contact-list", className]}>
    {
        list.map(
            ({
                href,
                text,
                icon,
                description,
                additionalText,
                additionalClass,
                iconColorClass,
            }) => (
                <li class="contact-list__item">
                    <AIcon
                        class={`contact-list__icon ${iconColorClass ? iconColorClass : ""}`}
                        symbolId={icon}
                        size="m"
                    />
                    <div class="contact-list__text">
                        {href ? (
                            <a
                                href={href}
                                class={`contact-list__link ${additionalClass ? additionalClass : ""}`}>
                                <span class="body-l-light">{text}</span>
                            </a>
                        ) : (
                            <span class="body-l-light">{text}</span>
                        )}

                        {additionalText && (
                            <span class="contact-list__chip caption-m">
                                {additionalText}
                            </span>
                        )}
                        {description && (
                            <span class="contact-list__notes body-l-light">
                                {description}
                            </span>
                        )}
                    </div>
                </li>
            ),
        )
    }
</ul>

<style lang="scss" is:global>
    @import "@styles/media-queries";
    @import "@styles/placeholders";

    .contact-list {
        @extend %reset-list;

        display: flex;
        flex-direction: column;
        gap: 1.5rem;
        list-style: none;

        &__item {
            display: flex;
            column-gap: 1rem;
        }

        &__icon {
            flex-shrink: 0;
        }

        &__text {
            display: flex;
            flex-wrap: wrap;
            gap: 0.5rem;
            color: currentColor;
        }

        &__link {
            color: currentColor;
            text-decoration: none;

            &.is-underlined {
                text-decoration: underline;
            }
        }

        &__notes {
            opacity: 0.5;
        }

        &__chip {
            white-space: nowrap;
            border: 1px solid var(--purple-30);
            padding: 0.25rem 0.5rem;
            opacity: .5;
            border-radius: 0.125rem;
        }
    }
</style>
