---
import APolygonContainer from "../APolygonContainer/APolygonContainer.astro";
import AButton from "../../ui/Buttons/AButton.astro";

interface Props {
    polygonColor?: string;
    buttonText?: string;
    textNotes?: string;
    backgroundColor?: 'grey' | 'white' | 'violet';
}

const {
    polygonColor = 'green-100',
    backgroundColor = 'white',
    buttonText = 'Оформить заявку',
    textNotes
} = Astro.props as Props;
---
<div class:list={[
    'calculator-card',
    'js-calculator-card',
    `calculator-card--${backgroundColor}`
]}>
    <APolygonContainer color={polygonColor}>
        <div class="calculator-card__inner">
            <slot />
            <div class="calculator-card__footer">
                <AButton class="js-calculator-card-button" size="lm" full>{buttonText}</AButton>
                <div class="calculator-card__note body-s-light">
                    <slot name="notes" />
                </div>
            </div>
        </div>
    </APolygonContainer>
</div>


<style lang="scss" is:global>
    @import '@styles/media-queries';

    .calculator-card {
        $root: #{&};

        &__inner {
            display: flex;
            flex-direction: column;
            gap: 1.5rem;
            padding: var(--polygon-padding);

            @include use-media(tablet-album) {
                gap: 3rem;
            }
        }

        &__footer {
            display: flex;
            flex-direction: column;
            gap: 1rem;

            @include use-media(tablet-album) {
                gap: 1.5rem;
            }
        }

        &__note {
            color: var(--dark-70);
        }

        &#{$root}--white {
            #{$root}__inner {
                background-color: var(--dark-0);
            }
        }

        &#{$root}--grey {
            #{$root}__inner {
                background-color: var(--dark-10);
            }
        }

        &#{$root}--violet {
          #{$root}__inner {
            background: linear-gradient(42.24deg, #6655A2 20%, #55246A 80%);
            color: var(--dark-0);
          }
        }
    }
</style>
