mixin benefit-text(data, colorClass = 'green-100')
    div.d-inline-flex.flex-column.row-gap-2&attributes(attributes)
        div.d-inline-flex.flex-nowrap.align-items-baseline.text-l.fw-semibold.gap-1(class= colorClass)
            if data.title
                span.h4!= data.title
            if data.beforeNum
                span= data.beforeNum
            if data.num
                span.text-number-l.fw-bold.text-nowrap= data.num
            if data.currency
                span.text-number-l.currency.fw-bold= data.currency
            if data.afterNum
                span= data.afterNum
        if data.description
            span.d-block(class=data.descriptionColorClass)!= data.description
