form(action="#" data-form).pb-form
    div(data-form-validate-group).d-flex.flex-column.row-gap-4.row-gap-lg-5
        h4.pb-form__title.dark-0.text-center Стать клиентом
        .row.g-1
            .col-12.col-md-6
                .d-flex.flex-column.row-gap-1.row-gap-lg-2.position-relative
                    label(for="name").form-label.form-label--pb.mb-0
                        | Имя
                    input#name(type="text" name="name" placeholder="Введите имя" data-form-input required).form-control.form-control--pb
                    .invalid-feedback(aria-live="polite")
            .col-12.col-md-6
                .d-flex.flex-column.row-gap-1.row-gap-lg-2.position-relative
                    label(for="phone").form-label.form-label--pb.mb-0
                        | Телефон
                    input#phone(type="tel" name="phone" aria-describedby="mobile-phone-hint" placeholder="+7" data-error-message="Неверный формат" pattern="\\+7\\s\\(\\d{3}\\)\\s\\d{3}-\\d{2}-\\d{2}" data-form-input required).js-mask-phone.form-control.form-control--pb
                    .invalid-feedback(aria-live="polite")
        .row.g-1
            .col-12.col-md-8
                .d-flex.flex-column.row-gap-1.row-gap-lg-2
                    label(for="select-date").form-label.form-label--pb.mb-0
                        | Удобное время для звонка
                    select#select-date(aria-label="Выберите дату").form-select.js-select.js-select-date

            .col-12.col-md-4
                .d-flex.flex-column.row-gap-1.row-gap-lg-2
                    div(aria-hidden="true").form-label.form-label--pb.mb-0 &nbsp;
                    .form-control-time
                        .d-flex.flex-column.row-gap-1.row-gap-lg-2.position-relative
                            input#hours(type="number" name="hours" min="1" max="24" placeholder="19" data-form-input required).form-control.form-control--pb
                            .invalid-feedback(aria-live="polite")
                        .d-flex.flex-column.row-gap-1.row-gap-lg-2.position-relative
                            input#minutes(type="number" name="minutes" min="0" max="59" placeholder="00" data-form-input required).form-control.form-control--pb
                            .invalid-feedback(aria-live="polite")

        .form-check.form-check--pb
            input#personal(type="checkbox" checked required data-form-checkbox data-form-input).form-check-input
            label(for="personal").form-check-label
                | Я&nbsp;согласен с&nbsp;условиями использования банком моих персональных данных для&nbsp;обработки данного обращения
            .invalid-feedback(aria-live="polite")
        .pb-form__footer.d-flex.flex-column.align-items-center.justify-content-center.gap-5
            button(type="submit" data-form-button aria-disabled="true" disabled).btn.btn-pb.btn-pb--primary.w-100.w-md-auto Отправить
            div.text-m.orange-100.text-center.d-none(data-form-error)
    div(
        hidden
        aria-hidden="true"
        data-success-title="Заявка отправлена"
        data-success-info="Ваша заявка отправлена, наш специалист свяжется с&nbsp;вами в&nbsp;выбранное время"
        data-error-title="Не удалось отправить заявку"
        data-error-info="Проверьте, правильно ли указаны все данные и отправьте заявку снова"
    ).js-message
