---
import SectionLayout from "./SectionLayout.astro";
import ACollapsedButton from "../ui/ACollapsedItems/ACollapsedButton.astro";
import BenefitTextCard from "../common/BenefitCard/BenefitTextCard.astro";
import ACollapsedItem from "../ui/ACollapsedItems/ACollapsedItem.astro";
import BenefitCardsLayout from "./BenefitCardsLayout.astro";
import ACollapsedItems from "../ui/ACollapsedItems/ACollapsedItems.astro";
import AList from "../ui/AList/AList.astro";

interface Props {
	title?: string;
	benefits: {
		title: string;
		description?: string;
		iconId: string;
        list?: string[];
        isIconImage?: boolean;
	}[];
	visibleItems?: number;
    useBackground?: boolean;
}

const {
	title,
	benefits = [],
	visibleItems = 4,
    useBackground = true,
    ...rest
} = Astro.props as Props;

const benefitsLength = benefits.length;
const maxCols = benefitsLength === 2 || benefitsLength === 4 ? 2 : benefitsLength === 3 || benefitsLength > 4 ? 3 : 1;
---
<SectionLayout
    class:list={[
        'section-benefits',
        {'section-benefits--bg': useBackground},
    ]}
    {...rest}
>
	<div class="content-container">
		<div class="section-benefits__container">
			{
				title && (
					<h3 class="section-benefits__title headline-2">{title}</h3>
				)
			}
			{
				Astro.slots['tabs'] && (
					<div class="section-benefits__tabs">
						<slot name="tabs" />
					</div>
				)
			}
			{
                benefitsLength > visibleItems ? (
                    benefitsLength > 0 && (
                        <ACollapsedItems>
                            <div class="section-benefits__content">
                                <BenefitCardsLayout
                                    maxCols={maxCols}
                                >
                                    {
                                        benefits.map(({ title, description, iconId, list, isIconImage }) => (
                                            <ACollapsedItem>
                                                <BenefitTextCard
                                                    title={title}
                                                    description={description}
                                                    iconId={iconId}
                                                    isIconImage={isIconImage}
                                                >
                                                    {
                                                        (Array.isArray(list) && list?.length > 0) && (
                                                            <AList size="m">
                                                                {
                                                                    list.map((text) => (
                                                                        <li set:html={text}></li>
                                                                    ))
                                                                }
                                                            </AList>
                                                        )
                                                    }
                                                </BenefitTextCard>
                                            </ACollapsedItem>
                                        ))
                                    }
                                </BenefitCardsLayout>
                                <ACollapsedButton hiddenText="Скрыть" visibleText="Еще преимущества"/>
                            </div>
                        </ACollapsedItems>
                    )
				) : (
                    benefitsLength > 0 && (
                        <div class="section-benefits__content">
                            <BenefitCardsLayout
                                maxCols={maxCols}
                            >
                                {
                                    benefits.map(({ title, description, iconId, list }) => (
                                        <BenefitTextCard
                                            title={title}
                                            description={description}
                                            iconId={iconId}
                                        >
                                            {
                                                (Array.isArray(list) && list?.length > 0) && (
                                                    <AList size="m">
                                                        {
                                                            list.map((text) => (
                                                                <li set:html={text}></li>
                                                            ))
                                                        }
                                                    </AList>
                                                )
                                            }
                                        </BenefitTextCard>
                                    ))
                                }
                            </BenefitCardsLayout>
                        </div>
                    )
				)
			}
		</div>
	</div>
</SectionLayout>

<style lang="scss" is:global>
	@import "@styles/media-queries";

	.section-benefits {
        &.section-benefits--bg {
            background: url("../assets/section-benefits.svg") bottom right no-repeat;
        }

		&__container {
			display: flex;
			flex-direction: column;
			gap: 2rem;

			@include use-media(tablet) {
				gap: 2.5rem;
			}

			@include use-media(tablet-album) {
				gap: 3rem;
				padding: 0 2.5rem;
			}
		}

		&__content {
			display: flex;
			flex-direction: column;
			gap: 2rem;
		}
	}
</style>
