---
import AButton from "../../ui/Buttons/AButton.astro";
const items = [
	{
		hint: 'Процентная ставка',
		value: '16,5%'
	},
	{
		hint: 'Ежемесячный платеж',
		value: '35 404,38 ₽',
		link: {
			text: 'График платежей',
			href: '#'
		}
	},
	{
		hint: 'Диапазон полной стоимости кредита',
		value: '16,464 – 20,474 %'
	}
]

interface Props {
    backgroundColor?: 'grey' | 'white'
}

const {
    backgroundColor = 'white'
} = Astro.props as Props;
---

<div class:list={[
    'loan-application-form',
    `loan-application-form--${backgroundColor}`
]}>
	{
		items.map((item) => (
			<div class="loan-application-form__item loan-application-form-item">
				<div class="loan-application-form-item__hint body-s-light">{item.hint}</div>
				<div class="loan-application-form-item__value">
					<div class="loan-application-form-item__number number-l-heavy">{item.value}</div>
					{
						item?.link && (
							<AButton
								element="a"
								href={item.link.href}
								size="s"
								class="loan-application-form-item__link"
								text
								afterIcon="icon-chevron-right"
							>
								{item.link.text}
							</AButton>
						)
					}
				</div>
			</div>
		))
	}
	<div class="loan-application-form__footer">
		<AButton size="lm" full>Оформить заявку</AButton>
		<div class="loan-application-form__note body-s-light">
			Калькулятор не гарантирует точность расчетов. Окончательные параметры кредита определяются по итогам рассмотрения заявки.
		</div>
	</div>
</div>

<style lang="scss" is:global>
	@import '@styles/media-queries';

	.loan-application-form {
		display: flex;
		flex-direction: column;
		gap: 1.5rem;
		padding: var(--polygon-padding);

		&__footer {
			display: flex;
			flex-direction: column;
			gap: 1rem;

			@include use-media(tablet-album) {
				gap: 1.5rem;
			}
		}

		&__note {
			color: var(--dark-70);
		}

		@include use-media(tablet-album) {
			gap: 3rem;
		}
	}

    .loan-application-form.loan-application-form--white {
        background-color: var(--dark-0);
    }

    .loan-application-form.loan-application-form--grey {
        background-color: var(--dark-10);
    }

    .loan-application-form-item {
		display: flex;
		flex-direction: column;
		gap: 0.5rem;

		&__hint {
			color: var(--dark-70);
		}

		&__value {
			display: flex;
			flex-direction: column;
			justify-content: space-between;
			align-items: flex-start;
			flex-wrap: wrap;
			gap: 0.5rem;

			@include use-media(tablet) {
				gap: 1rem;
				flex-direction: row;
				align-items: flex-end;
			}
		}
	}
</style>
