---
import MainSliderThumb from "./MainSliderThumb.astro";
import AIcon from "@components/AIcon.astro";
import AButton from "@components/ui/Buttons/AButton.astro";
import type { Colors } from "@components/ui/Buttons/types";
import PatternBg from "../Pattern/PatternBg.astro";

type Slides = {
	title: string;
	text: string;
	button?: {
		text: string;
		color: Colors;
	};
	image?: string
}

type BackgroundColors = 'heavy-purple' | 'heavy-violet' | 'blue';
type BannerType = 'msb' | 'finance';

interface Props {
	class?: string;
	className?: string;
	slides: Slides[];
	staticBackground?: boolean;
	hasPattern?: boolean;
	image?: string;
	backgroundColor?: BackgroundColors;
	bannerType?: BannerType;
}

const {
	class: className,
	staticBackground = false,
	hasPattern = false,
	slides,
	image,
	backgroundColor,
	bannerType,
	...rest
} = Astro.props;

const backgroundClass = `${backgroundColor ? `main-slider--${backgroundColor}` : ''}`
const typeClass = `${bannerType ? `main-slider--type-${bannerType}` : ''}`
---

<div class:list={[
	'main-slider',
	backgroundClass,
	typeClass,
	className
]}>
	{staticBackground && (
		<img src="assets/slides/hero_banner_bg_desktop.png" class="main-slider__bg" alt="" />
	)}
	{hasPattern && (
		<PatternBg theme="dark" type="section" />
	)}
	<div class="main-slider__container swiper swiper-container">
		<div class="main-slider__wrapper swiper-wrapper">
			{
				slides.map((slide) => (
					<div class="swiper-slide main-slider__slide">
						<div class="main-slider__content">
							<div class="main-slider-content">
								<div class="main-slider-content__text">
									<h1 class="main-slider-content__title" set:html={slide.title}></h1>
									<p class="body-l-light" set:html={slide.text}></p>
									{
										slide.image && (
											<img src={`${slide.image}`} class="main-slider-content__image" alt=""/>
										)
									}
									{slide.button && (
										<AButton
											element="a"
											href="#"
											color={slide.button.color}
											size="m"
											class="main-slider-content__button"
										>
											{slide.button.text}
										</AButton>
									)}
								</div>
							</div>
						</div>
					</div>
				))
			}
		</div>

		<div class="main-slider-pagination"></div>
		<div class="main-slider-controls">
			<button type="button" class="main-slider-control main-slider-control__prev">
				<AIcon symbolId="icon-chevron-left" />
			</button>
			<button type="button" class="main-slider-control main-slider-control__next">
				<AIcon symbolId="icon-chevron-right" />
			</button>
		</div>
	</div>

	<div class="main-slider__thumbs swiper">
		<div class="main-slider__thumbs-wrapper swiper-wrapper">
			{slides.map((slide) => <MainSliderThumb set:html={slide.title} />)}
		</div>
	</div>
</div>

<script>
	import { initMainSlider } from "./index";

	initMainSlider();
</script>

<style lang="scss" is:global>
	@use "sass:map";
	@use "@styles/functions";
	@import "@styles/media-queries";
	@import "@styles/placeholders";

	$transition: map.get($transitions, default);
	$dark-100: var(--dark-100);

	.main-slider {
		width: 100%;
		overflow: hidden;
		position: relative;

		@include use-media(tablet) {
			height: 30rem; //480px
		}

		@include use-media(tablet-album) {
			min-height: unset;
			height: 43.75rem; //700px
		}

		&__container {
			height: 100%;
			position: relative;
			min-height: 30rem; //480px

			@include use-media(desktop) {
				max-width: 120rem;
				margin: 0 auto;
			}
		}

		&__bg {
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			width: 100%;
			height: 100%;
			object-fit: cover;
		}

		&__slide {
			height: 100%;
			overflow: hidden;
			padding: 0;
			border: none;
		}

		&__thumbs {
			display: none;

			@include use-media(tablet-album) {
				z-index: 1;
				display: block;
				position: absolute;
				bottom: 0;
				left: 0;
				right: 0;
				border-top: 1px solid var(--violet-70);
			}

			@include use-media(laptop-x) {
				max-width: 100rem;
				margin: 0 auto;
				border-left: 1px solid var(--violet-70);
				border-right: 1px solid var(--violet-70);
			}
		}

		&__thumbs-wrapper {
			background-color: rgba(#121112, .3);

			@include use-media(tablet-album) {
				display: flex;
				align-items: center;
				width: 100%;
			}
		}

		&--heavy-violet {
			background: linear-gradient(222.24deg, #101317 20%, #6655A2 80%);
		}

		&--heavy-purple {
			background: linear-gradient(222.24deg, #101317 20%, #5A2375 80%);
		}

		&--type-msb {
			border-top: .25rem solid var(--yellow-100);

			@include use-media(tablet-album) {
				border-width: .5rem;
			}

			& .swiper-slide-thumb-active {
				&:after {
					background-color: var(--yellow-100);
				}
			}
		}

		&--type-finance {
			border-top: .25rem solid var(--violet-100);

			@include use-media(tablet-album) {
				border-width: .5rem;
			}

			& .swiper-slide-thumb-active {
				&:after {
					background-color: var(--violet-100);
				}
			}
		}
	}

	.main-slider-content {
		color: var(--dark-0);
		padding: 2.5rem 1rem;

		@include use-media(tablet) {
			padding: 4rem 2.5rem;
		}

		@include use-media(tablet-album) {
			padding: 5rem;
		}

		@include use-media(laptop-x) {
			padding-top: 7.5rem; //120px
		}

		@include use-media(desktop) {
			padding-left: 10rem;
			padding-right: 10rem;
		}

		&__text {
			gap: 1.5rem;
			flex-direction: column;
			display: flex;
			align-items: flex-start;

			@include use-media(tablet) {
				max-width: 20.5rem; //328px
			}

			@include use-media(tablet-album) {
				max-width: 42.5rem; //680px
				padding-left: 2.5rem;
				gap: 3rem;
			}

			@include use-media(laptop-x) {
				max-width: 43.75rem; //700px
			}

			@include use-media(desktop) {
				gap: 4rem;
				max-width: 57.5rem; //920px
			}
		}

		&__title {
			margin: 0;
			font-size: 2rem;
			line-height: 1.25;
			font-weight: 700;

			@include use-media(tablet) {
				font-size: 2.25rem; //36px
				line-height: 1.32;
				font-weight: 600;
			}

			@include use-media(tablet-album) {
				font-size: 3.5rem; //56px
				line-height: 1.22;
			}
		}

		&__button.a-button {
			width: 100%;

			@include use-media(tablet) {
				width: auto;
			}

			@include use-media(tablet-album) {
				font-size: 1.125rem;
				padding: 1rem 2rem;
			}
		}

		&__image {
			display: block;
			width: calc(100% + 2rem);
			margin: -1rem;

			@include use-media(mobile) {
				max-width: 23.75rem; //380px
			}

			@include use-media(tablet) {
				margin: 0;
				position: absolute;
				z-index: 1;
				top: 50%;
				right: -4vw;
				transform: translateY(-50%);
				width: 62.5vw;
				max-width: 45rem; //720px
			}

			@include use-media(tablet-album) {
				width: 45vw;
				right: 0;
			}
		}
	}

	.main-slider-controls {
		position: absolute;
		z-index: 1;
		gap: 1rem;
		bottom: 1rem;
		right: 2.5rem;
		display: none;

		@include use-media(tablet) {
			display: flex;
		}

		@include use-media(tablet-album) {
			bottom: auto;
			top: 50%;
			left: 2.5rem;
			transform: translateY(-50%);
			justify-content: space-between;
		}
	}

	.main-slider-control {
		@extend %reset-button;

		width: 1.5rem;
		height: 1.5rem;
		color: var(--dark-0);
		cursor: pointer;

		@include use-media(tablet-album) {
			width: 2rem;
			height: 2rem;
			color: var(--blue-70);

			& svg {
				transform: scale(1.5);
			}
		}

		.a-icon {
			width: 100%;
			height: 100%;
		}
	}

	.main-slider-pagination {
		display: flex;
		gap: .5rem;
		position: absolute;
		bottom: 0;
		left: 0;
		right: 0;
		align-items: center;
		padding: 1rem;
		justify-content: center;
		z-index: 2;

		@include use-media(tablet) {
			padding: .75rem 0;
			justify-content: flex-start;
			max-width: 20.5rem; //328px
			left: 2.5rem;
			bottom: 1rem;
		}

		@include use-media(tablet-album) {
			display: none;
		}

		.swiper-pagination-bullet {
			background-color: var(--blue-30);
		}

		.swiper-pagination-bullet-active {
			background-color: var(--dark-0);
		}
	}
</style>
