---
import AIcon from "@components/AIcon.astro";
import ATag from "@components/ui/ATag/ATag.astro";

import type { Colors } from "@components/ui/ATag/ATag.astro";
import ContactList from "@components/ui/ContactList/ContactList.astro";
import type { ContactListType } from "@components/ui/ContactList/ContactList.astro";


type BackgroundColors = "blue" | "gray" | "heavy-purple";
type Tag = {
    text: string;
    color?: Colors;
    outline?: boolean;
};



interface Props {
    class?: string;
    title: string;
    description?: string;
    backgoroundColor: BackgroundColors;
    tag?: Tag;
    list: ContactListType[];
}

const {
    class: className,
    backgoroundColor,
    title,
    description,
    tag,
    list,
    ...rest
} = Astro.props as Props;

const tagOutline = tag?.outline ? "outline" : "";

// карточка контактов
---

<div
    class:list={[
        "card-contact",
        `card-contact--bg-${backgoroundColor}`,
        className,
        { ...rest },
    ]}
>
    <div class="card-contact__wrapper">
        {
            tag?.text && (
                <ATag
                    class="card-contact__tag"
                    color={tag.color}
                    outline={tag.outline}
                >
                    {tag.text}
                </ATag>
            )
        }
        <div class="card-contact__header">
            <h3 class="headline-3 card-contact__title" set:html={title} />
            {
                description && (
                    <p
                        class="body-m-light card-contact__description"
                        set:html={description}
                    />
                )
            }
        </div>
        <div class="card-contact__body">
            <ContactList list={list} />
        </div>
    </div>
</div>

<style lang="scss" is:global>
    @import "@styles/media-queries";

    .card-contact {
        $root: #{&};

        padding: 1.5rem 1rem;
        border-radius: 0.75rem;
        overflow: hidden;

        @include use-media(tablet) {
            padding: 2rem;
        }

        @include use-media(tablet-album) {
            padding: 2.5rem;
        }

        &__wrapper {
            display: flex;
            flex-direction: column;
            gap: 2rem;
            height: 100%;

            @include use-media(tablet) {
                gap: 2.5rem;
            }

            @include use-media(tablet-album) {
                gap: 3rem;
            }
        }

        &__tag {
            margin-bottom: 0;
        }

        &__header {
            display: flex;
            flex-direction: column;
            gap: 0.5rem;
        }

        &__body {
            margin-top: auto;
        }

        &--bg-blue {
            background: linear-gradient(42.24deg, #383a74 20%, #2e1b52 80%);
            color: var(--dark-0);

            #{$root}__description {
                opacity: 0.5;
            }
        }

        &--bg-gray {
            background-color: var(--dark-10);
            color: var(--dark-100);

            #{$root}__description {
                color: var(--dark-70);
            }
        }

        &--bg-heavy-purple {
            background: linear-gradient(222.24deg, #101317 20%, #5A2375 80%);
            color: var(--dark-0);

            #{$root}__description {
                opacity: 0.5;
            }
        }

        @at-root .swiper-slide & {
            height: 100%;
        }
    }
</style>
