---
import AIcon from "../../AIcon.astro";
import AButton from "../../ui/Buttons/AButton.astro";

type Theme = 'grey' | 'light-blue' |'gradient' | 'white';

interface Props {
	class?: string;
	theme: Theme;
	title: string;
	description: string;
	icon: string;
	textButton?: string;
	headerIcon?: string;
}

const {
	class: className,
	icon: icon,
	title,
	headerIcon,
	description,
	textButton,
	theme= 'grey'
} = Astro.props as Props;

const btnColorByTheme = () => {
	if (theme && ['gradient'].includes(theme)) {
		return 'white';
	}

	return 'primary';
};
---

<div class:list={[
	"benefit-card",
	`benefit-card--${theme}`
]}>
	<div class="benefit-card__title">
		{
			headerIcon && (
				<AIcon class="benefit-card__icon" symbolId={headerIcon} size="xxl" />
			)
		}
		<div class="headline-3">{title}</div>
	</div>
	<div class="benefit-card__description body-m-light">{description}</div>
	<div class="benefit-card__footer">
		{
			icon && (
				<AIcon class="benefit-card__icon" symbolId={icon} size="xxl" />
			)
		}
		{
			textButton && (
				<AButton element="a" href="#" color={btnColorByTheme()} afterIcon="icon-chevron-right" text size="m">
					{textButton}
				</AButton>
			)
		}
	</div>
</div>

<style lang="scss" is:global>
	@import "@styles/media-queries";
	.benefit-card {
		display: flex;
		flex-direction: column;
		padding: 1.5rem 1rem;
		border-radius: 0.75rem;
		height: 100%;

		@include use-media(tablet) {
			padding: 2.5rem;
		}

		&__title {
			display: flex;
			align-items: center;
			gap: 1rem;
			margin-bottom: 1.5rem;
		}

		&__description {
			flex: 1;
		}

		&__footer {
			display: flex;
			align-items: flex-end;
			justify-content: space-between;
			margin-top: 2.5rem;

			@include use-media(tablet-album) {
				margin-top: 3rem;
			}
		}

		&__icon {
			color: var(--green-100);
		}

		&.benefit-card--grey {
			background: var(--dark-10);
		}

		&.benefit-card--light-blue {
			background: var(--blue-10);
		}

		&.benefit-card--gradient {
			background: linear-gradient(222.24deg, #101317 20%, #5A2375 80%);
			color: var(--dark-0);
		}

		&.benefit-card--white {
			background: var(--dark-0);
		}
	}
</style>
