---
import SliderSlide from "../common/Sliders/common/SliderSlide/SliderSlide.astro";
import OfferCard from "../common/OfferCard/OfferCard.astro";
import SectionLayout from "../layouts/SectionLayout.astro";
import SectionTitle from "../ui/SectionTitle/SectionTitle.astro";
import PersistentSlider from "../common/Sliders/PersistentSlider/PersistentSlider.astro";

const defaultOfferCards = [
	{
		title: 'Программа «Кешбэк»',
		description: 'Возврат рублями от покупок <br>по карте ',
        imgSrc: 'assets/big-illustrations/large-individual/cashback-program.png',
		href: '#',
		beforeNumberText: 'до',
		numberText: '7%',
		afterNumberText: '',
		buttonText: 'Участвовать'
	},
	{
		title: 'Программа «Бонусы»',
		description: 'Бонусные баллы за покупки',
        imgSrc: 'assets/big-illustrations/large-individual/bonus-program.png',
		href: '#',
		beforeNumberText: 'до',
		numberText: '20%',
		afterNumberText: '',
		buttonText: 'Участвовать'
	},
	{
		title: 'Программа «Бонусная копилка»',
		description: 'Начисление бонусных баллов<br>за наличие остатка на счете<br>вашей карты',
        imgSrc: 'assets/big-illustrations/large-individual/bonus-piggy-bank-program.png',
		href: '#',
		beforeNumberText: 'до',
		numberText: '7%',
		afterNumberText: 'годовых',
		buttonText: 'Перейти'
	},
    {
        title: 'Программа «Кешбэк»',
        description: 'Возврат рублями от покупок <br>по карте ',
        imgSrc: 'assets/big-illustrations/large-individual/cashback-program.png',
        href: '#',
        beforeNumberText: 'до',
        numberText: '7%',
        afterNumberText: '',
        buttonText: 'Участвовать'
    },
    {
        title: 'Программа «Бонусы»',
        description: 'Бонусные баллы за покупки',
        imgSrc: 'assets/big-illustrations/large-individual/bonus-program.png',
        href: '#',
        beforeNumberText: 'до',
        numberText: '20%',
        afterNumberText: '',
        buttonText: 'Участвовать'
    },
    {
        title: 'Программа «Бонусная копилка»',
        description: 'Начисление бонусных баллов<br>за наличие остатка на счете<br>вашей карты',
        imgSrc: 'assets/big-illustrations/large-individual/bonus-piggy-bank-program.png',
        href: '#',
        beforeNumberText: 'до',
        numberText: '7%',
        afterNumberText: 'годовых',
        buttonText: 'Перейти'
    }
];

interface Props {
	offerCards?: [];
	spaceBetween?: string,
	slidesPerView?: string,
}

const {
	offerCards = defaultOfferCards,
	spaceBetween,
	slidesPerView,
} = Astro.props as Props;
---

<SectionLayout>
	<div class="content-container">
		<SectionTitle titleClass="headline-2" usePadding>Подключите выгоду</SectionTitle>
		<PersistentSlider
			spaceBetween={spaceBetween}
			slidesPerView={slidesPerView}
		>
			{
				offerCards.map((card) =>(
					<SliderSlide>
						<OfferCard
							imgSrc={card.imgSrc}
							color="green"
							textButton={card.buttonText}
							title={card.title}
							description={card.description}
							textIndicating={
								{
									text: card.numberText,
									beforeText: card.beforeNumberText,
									afterText: card.afterNumberText
								}
							}
						/>
					</SliderSlide>
				))
			}
		</PersistentSlider>
	</div>
</SectionLayout>
