mixin card-calculate-result(data, bgColor = 'bg-dark-0')
    .card-calculate-result(class= bgColor)&attributes(attributes)
        .card-calculate-result__body
            each item in data.rows
                .d-flex.flex-column.row-gap-2
                    span.card-calculate-result__label.text-s= item.title
                    if item.link
                        .d-flex.flex-column.flex-md-row.justify-content-md-between.flex-wrap.align-items-md-end
                            span.text-number-ml.fw-bold.text-nowrap= item.value
                                if item.currency
                                    | &nbsp;
                                    span.currency ₽
                            button.btn.btn-link.btn-sm.btn-icon.mt-2.mt-md-0(type="button")
                                span= item.link
                                +svg-use("icon-chevron-right-small", "icon size-s")
                    else
                        span.text-number-ml.fw-bold.text-nowrap= item.value
                            if item.currency
                                | &nbsp;
                                span.currency ₽

                    span.text-number-ml.fw-bold.text-nowrap(class= item.additionalClass ? item.additionalClass: '')= item.value
                        if item.currency
                            | &nbsp;
                            span.currency ₽

        if data.btnText || data.notes || data.link
            .card-calculate-result__footer
                if data.btnText
                    button(type="button").btn.btn-primary.btn-lg-lg.w-100= data.btnText
                if data.notes
                    p.dark-70.caption-m!= data.notes
