mixin card-benefit(data)
    .card-benefit.d-inline-flex.px-3.px-sm-5.px-lg-6.p-4.p-sm-5.p-lg-6.bg-dark-10.w-100&attributes(attributes)
        div.card-benefit__inner.d-flex.flex-column.gap-6.gap-lg-7.justify-content-between.h-100.w-100
            div.card-benefit__content.d-flex.flex-column.gap-4
                if data.image
                    img.card-benefit__image(src= `img/big-illustrations/${data.image}`, alt= data.title, loading="lazy")
                h4.card-benefit__title!= data.title
                if data.description
                    p.card-benefit__description.text-m.m-0!= data.description
            if data.sprite || data.link
                .card-benefit__read-more.d-flex.align-items-end.justify-content-between
                    if data.sprite
                        .card-benefit__icon
                            img(src="img/icons/icon-money.svg", alt="", loading="lazy" class= data.sprite.classList).icon
                    if data.link
                        a(href=data.link).text-m.btn.btn-link.btn-lg.d-inline-flex.gap-2.align-items-center
                            span.fw-bold!= data.linkText ? data.linkText : 'Подробнее'
                            +svg-use('icon-chevron-right-small', 'icon size-m')
