mixin card-calculate-result(data, bgColor = 'bg-dark-0')
    .card-calculate-result(class= bgColor)&attributes(attributes)
        .card-calculate-result__body
            h4.dark-70.js-program-name
            each item in data.rows
                .d-flex.flex-column.row-gap-2
                    span.card-calculate-result__label.text-s= item.title

                    span.text-number-ml.fw-bold.text-nowrap(class= item.additionalClass ? item.additionalClass: '')= item.value
                        if item.currency
                            | &nbsp;
                            span.currency ₽

        if data.btnText || data.notes || data.link
            .card-calculate-result__footer
                if data.btnText
                    button(type="button").btn.btn-primary.btn-lg-lg.w-100= data.btnText
                if data.notes
                    p.dark-70.caption-m.mb-0!= data.notes
                if data.link
                    a.btn.btn-link.btn-sm.btn-icon.mt-md-2.mt-lg-4.align-self-center(
                        data-bs-toggle="collapse"
                        href="#payment-loan-schedule"
                        role="button"
                        aria-expanded="false"
                        aria-controls="payment-loan-schedule")
                        span= data.link
                        +svg-use("icon-chevron-down-small", "icon size-s")
