include ../benefit-text
include ../benefit
include ../ui/breadcrumbs

mixin banner-product(data)
    .banner-product(
        class= data.bgColor ? `banner-product--${data.bgColor}` : ''
        class= data.type ? `banner-product--type-${data.type}` : ''
        )&attributes(attributes)
        .banner-product__wrapper
            .banner-product__content(class= data.imgSrc ? '' : 'w-100 w-lg-60')
                .banner-product__header
                    if data.breadcrumbsArray
                        - var textColorClass= data.theme === "light" ? "dark-70" : "text-white-50"
                        +breadcrumbs(data.breadcrumbsArray, textColorClass).banner-product__breadcrumbs
                    h1!= data.title
                    p.banner-product__subtitle.text-l(class= data.imgSrc ? '' : 'mw-100')!= data.subtitle
                if data.imgSrc
                    img(src= data.imgSrc, class="banner-product__image", alt="", loading="lazy")
                if data.benefits
                    .banner-product__benefits-list(class=data.benefitsClass)
                        each benefit in data.benefits
                            +benefit-text(benefit, benefit.colorClass)(class=benefit.widthMinContent&&'w-min-content')
                if data.lists
                    .banner-product__lists
                        each list in data.lists
                            ul.list.list--heavy.list--size-m.violet-100
                                each item in list
                                    li!= item
                if data.buttonText
                   a(href= data.urlHref class= data.btnType ? data.btnType : 'btn-tertiary').btn.btn-lg-lg.banner-product__button!= data.buttonText
            if data.footer
                .banner-product__footer.row.row-gap-4.mt-6.mt-lg-16.mt-xl-26
                    each item in data.footer
                        .col-12.col-md-6(class= data.footer.length === 3 ? 'col-xl-4' : 'col-xl-3')
                            +benefit(item.spriteData, item.title)(class=item.colorClass)
                                if item.description
                                    p.mb-0.text-m!= item.description

        if data.theme !== "light"
            +pattern-bg("section", "dark", `banner-product__pattern ${data.patternClass}`)
        else
            +pattern-bg("section-heavy", "light", "banner-product__pattern pattern-bg--position-top")
