// title - str
// breadcrumbsArray - array with obj's
// breadcrumbsArray[0].link - str
// breadcrumbsArray[0].linkText - str
// description - str
// borderColor - str

include ../ui/breadcrumbs

mixin banner-text-content(title, breadcrumbsArray, description, button, isSmallTitle, additionalClassList, type)
    .d-flex.flex-column.align-items-start.gap-3.gap-md-4(class=additionalClassList)
        if breadcrumbsArray
            - var textColorClass= type === "light" ? "dark-70" : "text-white-50"
            +breadcrumbs(breadcrumbsArray, textColorClass)
        h1.banner-text__title.text-break(class=[isSmallTitle && "h2 text-white", type === "light" ? "dark-100" : "dark-0"])!= title
        if description
            .banner-text__description.text-l(class=[type === "light" ? "dark-100" : "dark-0"])!= description
    if button
        if button.isModalTrigger && button.modalSelector
            button.mt-7.w-100.w-sm-auto.btn.btn-secondary.btn-lg-lg.d-inline-block(type="button" data-bs-toggle="modal" data-bs-target=button.modalSelector)= button.text
        else
            a.mt-7.w-100.w-sm-auto.btn.btn-secondary.btn-lg-lg.d-inline-block(href=button.link)= button.text

mixin banner-text(data, borderColor, bgGradient='bg-linear-blue', patternType='section')
    section.banner-text(class=`banner-text--border-${borderColor} ${bgGradient}`)
        div.container.banner-text__container.position-relative.z-2
            .row.ps-lg-6
                if data.imageSrc
                    .col-12.col-sm-6.col-md-8.position-relative.z-1.mb-5.mb-md-0.pt-6
                        +banner-text-content(data.title, data.breadcrumbsArray, data.description, data.button, data.isSmallTitle, data.additionalClassList, data.type)
                    .d-none.d-sm-block.col-12.col-sm-6.col-md-4
                        img(src=data.imageSrc, class="banner-text__image position-relative w-auto float-end", alt="")
                else
                    .col-12.col-xl-6.position-relative.z-1.mb-5.mb-md-0.pt-6
                        +banner-text-content(data.title, data.breadcrumbsArray, data.description, data.button, data.isSmallTitle, data.additionalClassList, data.type)
        +pattern-bg(patternType, 'light', 'pattern-bg--position-sm-top banner-text__pattern')
