include ../ui/tag

mixin banner-product-info(data, bgColor='bg-blue-10')
    section.section-layout.section-banner-product-info.py-lg-11(class= bgColor class=data.breadcrumbsArray && 'pt-6 pt-lg-6' class=data.borderColor&&`section-banner-product-info--border-${data.borderColor}`)
        .container
            if data.breadcrumbsArray
                .banner-product-info-breadcrumbs.ps-lg-6.mb-4.mb-sm-6.mb-lg-7.d-flex.gap-2
                    each item, index in data.breadcrumbsArray
                        a.text-banner__breadcrumbs-item.d-md-inline-flex.align-items-center.gap-2.text-s.dark-70(href=item.link, class= index==data.breadcrumbsArray.length-1 ? 'd-inline-flex' : 'd-none')
                            if index == data.breadcrumbsArray.length-1
                                +svg-use("icon-chevron-left", "icon size-s dark-70 d-inline-block d-md-none")
                            span=item.linkText
            .banner-product-info.ps-lg-6(class=!data.imageSrc&&'d-flex flex-column')
                .banner-product-info__header
                    .d-flex.flex-row.gap-3
                        if data.tag
                            +tag(data.tag, 'outline')
                        if data.date
                            span.text-s.dark-100.mt-1.mt-md-2= data.date
                    h3!= data.title
                .banner-product-info__body
                    block
                    if data.button
                        a(href= data.button.href).btn.btn-lg-lg.btn-outline-primary.fw-bold.w-100.w-md-auto.mt-6.mt-lg-7= data.button.text
                    if data.link
                        a(href="#").btn.btn-link.btn-lg.d-inline-flex.gap-2.align-items-center.mt-6.mt-lg-7
                            span.text-m.fw-bold= data.link.text
                            +svg-use('icon-chevron-right', 'icon size-m')

                if data.imageSrc
                    .banner-product-info__image
                        +polygon-container('violet-100')
                            img(src=data.imageSrc alt="")
        +pattern-bg('section-heavy', 'light', 'pattern-bg--position-sm-bottom')
