// title - str
// breadcrumbsArray - array with obj's
// breadcrumbsArray[0].link - str
// breadcrumbsArray[0].linkText - str
// description - str
// borderColor - str

mixin text-banner-content(title, breadcrumbsArray, description)
    .d-flex.flex-column.align-items-start.gap-3.gap-md-4
        .text-banner__breadcrumbs.d-flex.gap-2
            each item in breadcrumbsArray
                a.text-banner__breadcrumbs-item.d-inline-flex.align-items-center.gap-2.text-s.text-white-50(href=item.link)= item.linkText
        h1.text-banner__title.dark-0= title
        .text-banner__description.text-l.dark-0= description

mixin text-banner(title, breadcrumbsArray, description, borderColor, image = '')
    section.text-banner.pe-lg-0.px-0.px-lg-6.bg-linear-blue-purple(class=`text-banner--border-${borderColor}`)
        div.container.text-banner__container.position-relative.z-2
            .row
                if image
                    .col-12.col-sm-6.col-md-8.position-relative.z-1.mb-5.mb-md-0.pt-6
                        +text-banner-content(title, breadcrumbsArray, description)
                    .d-none.d-sm-block.col-12.col-sm-6.col-md-4
                        img(src=image, class="text-banner__image w-auto float-end", alt="")
                else
                    .col-12.position-relative.z-1.mb-5.mb-md-0.pt-6
                        +text-banner-content(title, breadcrumbsArray, description)
        +pattern-bg('section', 'light', 'pattern-bg--position-sm-top text-banner__pattern')