---
import DefaultPageLayout from "../layouts/DefaultPageLayout.astro";
import SectionBankOffers from "../components/sections/SectionBankOffers.astro";
import type { OfferCardColor } from "@components/common/OfferCard/OfferCard.astro";
import SectionLayout from "../components/layouts/SectionLayout.astro";
import AButton from "@components/ui/Buttons/AButton.astro";
import SectionTitle from "@components/ui/SectionTitle/SectionTitle.astro";
import PersistentSlider from "@components/common/Sliders/PersistentSlider/PersistentSlider.astro";
import SliderSlide from "@components/common/Sliders/common/SliderSlide/SliderSlide.astro";
import CardContact from "@components/common/Cards/CardContact.astro";
import CardFeedback from "@components/common/Cards/CardFeedback.astro";
import AAccordion from "@components/ui/AAccordion/AAccordion.astro";
import AAccordionPanel from "@components/ui/AAccordion/AAccordionPanel.astro";
import AAccordionHeader from "@components/ui/AAccordion/AAccordionHeader.astro";
import AAccordionContent from "@components/ui/AAccordion/AAccordionContent.astro";
import ATabs from "@components/ui/ATabs/ATabs.astro";
import ATabSwiper from "@components/ui/ATabs/common/ATabSwiper/ATabSwiper.astro";
import ATabSwiperWrapper from "@components/ui/ATabs/common/ATabSwiperWrapper.astro";
import ATab from "@components/ui/ATabs/common/ATab/ATab.astro";
import ATabPanel from "@components/ui/ATabs/common/ATabPanel.astro";
import ATabPanels from "@components/ui/ATabs/common/ATabPanels.astro";
import DisplayStepper from "@components/common/DisplayStepper/DisplayStepper.astro";
import DisplayStepperItem from "@components/common/DisplayStepper/DisplayStepperItem.astro";
import ARte from "@components/ARte.astro";
import CardRating from "@components/common/Cards/CardRating.astro";
import AList from "@components/ui/AList/AList.astro";
import ProductCardBanner from "@components/banners/ProductCardBanner.astro";
import BenefitTextCard from "@components/common/BenefitCard/BenefitTextCard.astro";


const offerCards = [
    {
        title: "Меры господдержки",
        description: "Подача заявки на&nbsp;льготное финансирование",
        imgSrc: "assets/big-illustrations/large-business/state-support.png",
        href: "#",
        buttonText: "Подробнее",
        cardColor: "yellow" as OfferCardColor,
        textLink: true,
        tagText: "Малому и среднему бизнесу",
    },
    {
        title: "Кредиты для малого бизнеса",
        description:
            "Поддержка производственных предприятий малого и&nbsp;среднего бизнеса",
        imgSrc: "assets/big-illustrations/large-business/crediting.png",
        href: "#",
        buttonText: "Подробнее",
        cardColor: "yellow" as OfferCardColor,
        textLink: true,
        tagText: "Малому и среднему бизнесу",
    },
    {
        title: "Валютный контроль",
        description:
            "Соблюдение требований валютного законодательства резидентами и&nbsp;нерезидентами",
        imgSrc: "assets/big-illustrations/large-business/deposits.png",
        href: "#",
        buttonText: "Подробнее",
        cardColor: "yellow" as OfferCardColor,
        textLink: true,
        tagText: "Малому и среднему бизнесу",
    },
    {
        title: "Меры господдержки",
        description: "Подача заявки на&nbsp;льготное финансирование",
        imgSrc: "assets/big-illustrations/large-business/state-support.png",
        href: "#",
        buttonText: "Подробнее",
        cardColor: "yellow" as OfferCardColor,
        textLink: true,
        tagText: "Малому и среднему бизнесу",
    },
    {
        title: "Кредиты для малого бизнеса",
        description:
            "Поддержка производственных предприятий малого и&nbsp;среднего бизнеса",
        imgSrc: "assets/big-illustrations/large-business/crediting.png",
        href: "#",
        buttonText: "Подробнее",
        cardColor: "yellow" as OfferCardColor,
        textLink: true,
        tagText: "Малому и среднему бизнесу",
    },
    {
        title: "Валютный контроль",
        description:
            "Соблюдение требований валютного законодательства резидентами и&nbsp;нерезидентами",
        imgSrc: "assets/big-illustrations/large-business/deposits.png",
        href: "#",
        buttonText: "Подробнее",
        cardColor: "yellow" as OfferCardColor,
        textLink: true,
        tagText: "Малому и среднему бизнесу",
    },
];

const listConatact = [
    {
        href: "tel:+78002507007",
        text: "+7 (800) 250-70-07",
        icon: "icon-phone",
    },
    {
        href: "tel:+74959747187",
        text: "+7 (495) 974-71-87",
        icon: "icon-phone",
    },
    {
        href: "emailto:garant@novikom.ru",
        text: "garant@novikom.ru",
        icon: "icon-mail",
        additionalClass: "is-underlined",
    },
];

const breadcrumbs = [
    { title: "Малому и среднему бизнесу", url: "#" },
    { title: "Гарантии", url: "#" },
];

const productBenefits = [
    {
        title: "Индивидуальный<br> подход",
        description:
            "Банк готов согласовать любую форму гарантии, предложенную заказчиком",
        iconId: "icon-a-part-down",
    },
    {
        title: "Гарантии в&nbsp;пользу <br>госкорпораций",
        description:
            "Упрощенное рассмотрение заявок на&nbsp;гарантии в&nbsp;пользу государственных корпораций",
        iconId: "icon-a-money",
    },
    {
        title: "Минимальный <br>пакет документов",
        description:
            "Всего 8&nbsp;документов для принятия решения",
        iconId: "icon-a-money-down",
    },
];
---

<DefaultPageLayout title="МСБ Гарантии">
    <ProductCardBanner
        benefits={[
            {
                beforeNum: "до",
                num: "30 млн",
                currency: "₽",
                description: "Сумма",
            },
            {
                num: "2%",
                beforeNum: "от",
                afterNum: "годовых",
                description: "Ставка",
            },
            {
                num: "1",
                beforeNum: "за",
                afterNum: "день",
                description: "Принятие решение",
            },
        ]}
        image="/assets/big-illustrations/large-business/guarantees.png"
        urlHref="#"
        buttonText="Отправить заявку на услугу"
        hasPattern
        backgroundColor="heavy-violet"
        breadcrumbs={breadcrumbs}
        ,
        type="msb"
    >
        <Fragment slot="title">Экспресс-гарантия</Fragment>
        <Fragment slot="subtitle"
            >Гарантии для юридических лиц, участвующих в&nbsp;государственных
            закупках</Fragment
        >
        <Fragment slot="footer">
            {
                productBenefits.map(({ title, description, iconId }) => (
                    <BenefitTextCard
                        title={title}
                        description={description}
                        iconId={iconId}
                    />
                ))
            }
        </Fragment>
    </ProductCardBanner>

    <SectionLayout small>
        <div class="content-container">
            <CardRating
                title="Рейтинги Банка НОВИКОМ"
                image="/assets/big-illustrations/large-business/bank-rating.png"
            >
                <AList class="card-rating__list" size="l" isHeavy>
                    <li>АКРА&nbsp;&mdash; &laquo;А+(RU)&raquo;</li>
                    <li>НКР&nbsp;&mdash; &laquo;АА-.ru&raquo;</li>
                    <li>Эксперт РА&nbsp;&mdash; ruA+</li>
                </AList>
            </CardRating>
        </div>
    </SectionLayout>

    <SectionLayout>
        <div class="content-container">
            <AAccordion type="layout">
                <AAccordionPanel>
                    <AAccordionHeader class="a-accordion-header--mobile-only">
                        <h3 class="headline-2">Оформление гарантии</h3>
                    </AAccordionHeader>
                    <AAccordionContent class="a-accordion-content--hide-mobile">
                        <ATabs useLayout>
                            <div class="a-accordion-content__wrapper">
                                <h3
                                    class="headline-2 a-accordion-content__title"
                                >
                                    Оформление гарантии
                                </h3>
                                <ATabSwiper class="a-accordion-content__tabs">
                                    <ATabSwiperWrapper>
                                        <ATab value="0" size="m">Онлайн</ATab>
                                        <ATab value="1" size="m" isActive
                                            >В банке</ATab
                                        >
                                    </ATabSwiperWrapper>
                                </ATabSwiper>
                                <ATabPanels>
                                    <ATabPanel value="0">
                                        <DisplayStepper steps={4}>
                                            <DisplayStepperItem
                                                number={1}
                                                color="yellow"
                                            >
                                                <ARte class="body-l-light">
                                                    <p>
                                                        Заполните заявку
                                                        и&nbsp;подготовьте
                                                        комплект документов
                                                    </p>
                                                </ARte>
                                            </DisplayStepperItem>
                                            <DisplayStepperItem
                                                number={2}
                                                color="yellow"
                                            >
                                                <ARte class="body-l-light">
                                                    <p>
                                                        Получите консультацию
                                                        специалиста
                                                        по&nbsp;телефону
                                                    </p>
                                                </ARte>
                                            </DisplayStepperItem>
                                            <DisplayStepperItem
                                                number={3}
                                                color="yellow"
                                            >
                                                <ARte class="body-l-light">
                                                    <p>
                                                        Согласуйте текст
                                                        гарантии
                                                        и&nbsp;подпишите
                                                        документы
                                                    </p>
                                                </ARte>
                                            </DisplayStepperItem>
                                            <DisplayStepperItem
                                                number={4}
                                                color="yellow"
                                            >
                                                <ARte class="body-l-light">
                                                    <p>Получите решение</p>
                                                </ARte>
                                            </DisplayStepperItem>
                                        </DisplayStepper>
                                    </ATabPanel>
                                    <ATabPanel value="1">
                                        <DisplayStepper steps={4}>
                                            <DisplayStepperItem
                                                number={1}
                                                color="yellow"
                                            >
                                                <ARte class="body-l-light">
                                                    <p>
                                                        Заполните заявку
                                                        и&nbsp;подготовьте
                                                        комплект документов
                                                    </p>
                                                </ARte>
                                            </DisplayStepperItem>
                                            <DisplayStepperItem
                                                number={2}
                                                color="yellow"
                                            >
                                                <ARte class="body-l-light">
                                                    <p>
                                                        Получите консультацию
                                                        специалиста
                                                        по&nbsp;телефону
                                                    </p>
                                                </ARte>
                                            </DisplayStepperItem>
                                            <DisplayStepperItem
                                                number={3}
                                                color="yellow"
                                            >
                                                <ARte class="body-l-light">
                                                    <p>
                                                        Согласуйте текст
                                                        гарантии
                                                        и&nbsp;подпишите
                                                        документы
                                                    </p>
                                                </ARte>
                                            </DisplayStepperItem>
                                            <DisplayStepperItem
                                                number={4}
                                                color="yellow"
                                            >
                                                <ARte class="body-l-light">
                                                    <p>Получите решение</p>
                                                </ARte>
                                            </DisplayStepperItem>
                                        </DisplayStepper>
                                    </ATabPanel>
                                </ATabPanels>
                            </div>
                        </ATabs>
                    </AAccordionContent>
                </AAccordionPanel>
            </AAccordion>
        </div>
    </SectionLayout>
    <SectionLayout bgColor="blue">
        <div class="content-container">
            <SectionTitle titleClass="headline-2" usePadding
                >Контакты</SectionTitle
            >
            <PersistentSlider
                spaceBetween="mobile-s:8,mobile:8,tablet:16,tablet-album:40,laptop:40,laptop-x:40"
                slidesPerView="mobile-s:1,mobile:1,tablet:1,tablet-album:2,laptop:2,laptop-x:2"
            >
                <SliderSlide>
                    <CardContact
                        title="Отдел поддержки клиентов МСП"
                        backgoroundColor="blue"
                        list={listConatact}
                    />
                </SliderSlide>
                <SliderSlide>
                    <CardFeedback
                        title="Остались вопросы"
                        description="Оставьте свой телефон и мы перезвоним вам, либо задайте вопрос в чате"
                    >
                        <Fragment slot="footer">
                            <AButton element="a" href="#" size="lm" outline>
                                Открыть чат
                            </AButton>
                            <AButton size="lm">Перезвоните мне</AButton>
                        </Fragment>
                    </CardFeedback>
                </SliderSlide>
            </PersistentSlider>
        </div>
    </SectionLayout>
    <SectionBankOffers
        title="Другие услуги для бизнеса"
        cards={offerCards}
        slidesPerView="mobile-s:1,mobile:1,tablet:2,tablet-album:2,laptop:3,laptop-x:3"
        spaceBetween="mobile-s:8,mobile:8,tablet:16,tablet-album:40,laptop:40,laptop-x:40"
    />
</DefaultPageLayout>
