---
import DefaultPageLayout from "../layouts/DefaultPageLayout.astro";
import SectionSeeAlso from "../components/sections/SectionSeeAlso.astro";
import TextBanner from "../components/banners/TextBanner.astro";
import AButton from "../components/ui/Buttons/AButton.astro";
import PageBanner from "../components/common/Banners/PageBanner.astro";
import ATag from "../components/ui/ATag/ATag.astro";
import ARte from "../components/ARte.astro";
import SectionLayout from "../components/layouts/SectionLayout.astro";
import IllustrationCard from "../components/common/IllustrationCard/IllustrationCard.astro";

const breadcrumbs = [
    {
        title: 'Частным клиентам',
        url: '#'
    }
];

const pages = [
    {
        title: 'Моментальный онлайн-перевод',
        description: 'Переводы с карты на карту по России, а также в Абхазию, Армению, Беларусь, Казахстан, Таджикистан и Южную Осетию.',
        textLink: 'Перевести онлайн',
        imgSrc: 'assets/big-illustrations/large-individual/instant-online-translation.png'
    },
    {
        title: 'Переводы в интернет-банке<br>или приложении',
        description: 'Удобные и быстрые переводы через онлайн сервисы',
        textLink: 'Подробнее',
        imgSrc: 'assets/big-illustrations/large-individual/transfers-in-internet-banking.png'
    },
    {
        title: 'Операции через банкомат',
        description: 'Переводы, пополнение и снятие наличных в банкоматах Новиком и сторонних банков',
        textLink: 'Подробнее',
        imgSrc: 'assets/big-illustrations/large-individual/ATM-transactions.png'
    },
    {
        title: 'Банковские переводы <br>в офисе',
        description: 'Переводы денежных средств в рублях и иностранной валюте в пользу физических и юридических лиц в любую точку мира',
        textLink: 'Подробнее',
        imgSrc: 'assets/big-illustrations/large-individual/transfers-in-office.png'
    }
]
---
<DefaultPageLayout title="Платежи и переводы">
    <TextBanner
        title="Платежи и переводы"
        breadcrumbs={breadcrumbs}
        description="Переводите деньги любым удобным для вас способом: на сайте, в банкоматах, в интернет-банке и мобильном приложении."
    />
    <SectionLayout class="payments-and-transfers-pages">
        <div class="content-container">
            <div class="payments-and-transfers-pages__list">
                {
                    pages.map(page => (
                        <IllustrationCard
                            title={page.title}
                            description={page.description}
                            textLink={page.textLink}
                            imgSrc={page.imgSrc}
                        />
                    ))
                }
            </div>
        </div>
    </SectionLayout>
    <PageBanner img="/assets/banners/page-banner-4.png">
        <Fragment slot="tag">
            <ATag href="#" outline>Услуга</ATag>
        </Fragment>
        <h3 slot="title" class="headline-2">Защита от мошенничества</h3>
        <Fragment>
            <ARte class="body-l-light">
                <p>Мы придаём большое значение обеспечению безопасности доступа к денежным средствам Клиентов и подготовили для вас памятку.</p>
                <p>Узнайте как уберечь себе и своих близких от финансового мошенничества.</p>
            </ARte>
        </Fragment>
        <Fragment slot="footer">
            <AButton element="a" size="lm" outline>Подробнее</AButton>
        </Fragment>
    </PageBanner>
    <SectionSeeAlso />
</DefaultPageLayout>

<style lang="scss" is:global>
    @import "@styles/media-queries";

    .payments-and-transfers-pages {
        background-color: var(--dark-10);

        &__list {
            display: grid;
            grid-template-columns: 100%;
            gap: 1rem;

            @include use-media(tablet) {
                grid-template-columns: 1fr 1fr;
            }

            @include use-media(tablet-album) {
                gap: 2.5rem;
            }
        }
    }
</style>
