---
import DefaultPageLayout from "../layouts/DefaultPageLayout.astro";
import SectionTitle from "@components/ui/SectionTitle/SectionTitle.astro";
import ATag from "@components/ui/ATag/ATag.astro";
import AButton from "@components/ui/Buttons/AButton.astro";
import AIcon from "../components/AIcon.astro";
import ATabs from "@components/ui/ATabs/ATabs.astro";
import ABreadcrumbs from "@components/ui/ABreadcrumbs/ABreadcrumbs.astro";
import OfferCard, {
    type OfferCardColor,
} from "@components/common/OfferCard/OfferCard.astro";
import AppButton from "../components/ui/Buttons/AppButton.astro";
import AInput from "../components/ui/AInput/AInput.astro";
import ServiceCard from "../components/common/ServiceCard.astro";
import ServiceAppsCard from "../components/common/ServiceAppsCard.astro";
import ServiceSalaryCard from "../components/common/ServiceSalaryCard.astro";
import APolygonContainer from "../components/common/APolygonContainer/APolygonContainer.astro";
import AFooterApps from "../components/footer/AFooterApps.astro";
import AAccordion from "../components/ui/AAccordion/AAccordion.astro";
import AAccordionPanel from "../components/ui/AAccordion/AAccordionPanel.astro";
import AAccordionHeader from "../components/ui/AAccordion/AAccordionHeader.astro";
import AAccordionContent from "../components/ui/AAccordion/AAccordionContent.astro";
import InputWithIcon from "../components/ui/InputWithIcon/InputWithIcon.astro";
import TagSimple from "../components/ui/TagSimple/TagSimple.astro";
import ASliderInput from "../components/ui/ASliderInput/ASliderInput.astro";
import BenefitCard from "../components/common/BenefitCard/BenefitCard.astro";
import ATab from "../components/ui/ATabs/common/ATab/ATab.astro";
import ATabPanel from "../components/ui/ATabs/common/ATabPanel.astro";
import ATabSwiper from "../components/ui/ATabs/common/ATabSwiper/ATabSwiper.astro";
import ATabSwiperWrapper from "../components/ui/ATabs/common/ATabSwiperWrapper.astro";
import ATabPanels from "../components/ui/ATabs/common/ATabPanels.astro";
import ACollapseContent from "../components/ui/ACollapseContent/ACollapseContent.astro";
import ProductCard from "../components/common/ProductCard/ProductCard.astro";
import TextIndicatingBenefits from "../components/common/TextIndicatingBenefits/TextIndicatingBenefits.astro";
import ARte from "../components/ARte.astro";
import AList from "../components/ui/AList/AList.astro";
import AHelper from "../components/common/AHelper.astro";
import ACollapsedItems from "../components/ui/ACollapsedItems/ACollapsedItems.astro";
import ACollapsedItem from "../components/ui/ACollapsedItems/ACollapsedItem.astro";
import ACollapsedButton from "../components/ui/ACollapsedItems/ACollapsedButton.astro";
import ADropDownCheckbox from "../components/ui/ADropDown/ADropDownCheckbox/ADropDownCheckbox.astro";
import ASelectInput from "../components/ui/ASelectInput/ASelectInput.astro";
import ADropDownItem from "../components/ui/ADropDown/ADropDownItem/ADropDownItem.astro";
import FormRow from "../components/layouts/FormLayout/FormRow.astro";
import ACurrencyInput from "../components/ui/ACurrencyInput/ACurrencyInput.astro";
import ADropDownButton from "../components/ui/ADropDown/ADropDownButton/ADropDownButton.astro";
import AInputField from "../components/ui/AInput/AInputField.astro";
import CardPromo from "@components/common/Cards/CardPromo.astro";
import CardProduct from "@components/common/Cards/CardProduct.astro";
import CardContact from "@components/common/Cards/CardContact.astro";
import CardFeedback from "@components/common/Cards/CardFeedback.astro";
import DisplayStepper from "@components/common/DisplayStepper/DisplayStepper.astro";
import DisplayStepperItem from "@components/common/DisplayStepper/DisplayStepperItem.astro";
import CardRating from "@components/common/Cards/CardRating.astro";

const loan = {
    title: "Кредит на любые цели<br> для зарплатных клиентов",
    description:
        "Воплощение задуманных планов и реализация любых целей уже сегодня",
    symbolId: "loan-for-any-purpose",
    links: [],
    conditions: [
        {
            startText: "",
            beforeText: "от",
            text: "18%",
            afterText: "",
            currency: "",
            description: "Ставка",
        },
        {
            startText: "",
            beforeText: "до",
            text: "1 500 000",
            afterText: "",
            currency: "₽",
            description: "Сумма",
        },
        {
            startText: "",
            beforeText: "до",
            text: "3 лет",
            afterText: "",
            currency: "",
            description: "Срок",
        },
    ],
};

const cardOfferBenefits = [
    {
        num: "0",
        currency: "₽",
        description: "Открытие <br>и&nbsp;обслуживание счета",
        colorClass: "yellow-100",
    },
    {
        beforeNum: "от",
        num: "500",
        currency: "₽",
        description: "Ежемесячная плата <br>за&nbsp;счёт",
        colorClass: "yellow-100",
    },
    {
        beforeNum: "до",
        num: "150",
        description: "Бесплатных <br>платежей",
        colorClass: "yellow-100",
    },
];

const serviceAppBenefits = [
    {
        icon: "icon-mobile",
        text: "Управление кешбэком и&nbsp;бонусами",
    },
    {
        icon: "icon-time",
        text: "Доступ к&nbsp;услугам банка 24/7",
    },
    {
        icon: "icon-cash",
        text: "Платежи и&nbsp;переводы без&nbsp;комиссии",
    },
];

const offerCards = [
    {
        title: "Программа «Кешбэк»",
        description: "",
        imgSrc: "assets/big-illustrations/large-individual/contribution-rentier.png",
        href: "#",
        beforeNumberText: "до",
        numberText: "15,5%",
        afterNumberText: "",
        buttonText: "Открыть вклад",
        tagText: "Частным клиентам",
        cardColor: "green" as OfferCardColor,
        textLink: false,
    },
    {
        title: "Ипотека по программе <br>«IT-ипотека»",
        description: "",
        imgSrc: "assets/big-illustrations/large-individual/it-mortgage.png",
        href: "#",
        buttonText: "Подать заявку",
        cardColor: "transparent" as OfferCardColor,
        textLink: true,
    },
    {
        title: "Кредит<br>на образование",
        description: "",
        imgSrc: "assets/big-illustrations/large-individual/credit-education.png",
        href: "#",
        beforeNumberText: "от",
        numberText: "16%",
        afterNumberText: "",
        buttonText: "Оформить",
        tagText: "Частным клиентам",
        cardColor: "yellow" as OfferCardColor,
        textLink: false,
    },
];

const listConatact = [
    {
        href: "tel:+78002507007",
        text: "+7 (800) 250-70-07",
        icon: "icon-phone",
    },
    {
        href: "tel:+74959747187",
        text: "+7 (495) 974-71-87",
        icon: "icon-phone",
    },
    {
        href: "emailto:garant@novikom.ru",
        text: "garant@novikom.ru",
        icon: "icon-mail",
    },
];
---

<DefaultPageLayout title="index">
    <Fragment slot="header">header</Fragment>
    <div class="content-container">
        <div class="ui-section">
            <SectionTitle class="ui-section-title" titleClass="headline-2"
                >{"AIcon"}</SectionTitle
            >

            <div class="ui-row">
                <AIcon symbolId="icon-chevron-down" size="m" />
                <AIcon symbolId="icon-chevron-left" size="m" />
                <AIcon symbolId="icon-chevron-right" size="m" />
                <AIcon symbolId="icon-chevron-up" size="m" />
                <AIcon symbolId="icon-circle-telegram" size="m" />
                <AIcon symbolId="icon-arrow-left" size="m" />
                <AIcon symbolId="icon-arrow-right" size="m" />
                <AIcon symbolId="icon-close" size="m" />
                <AIcon symbolId="icon-plus" size="m" />
                <AIcon symbolId="icon-mobile" size="m" />
                <AIcon symbolId="icon-download" size="m" />
                <AIcon symbolId="icon-glasses" size="m" />
                <AIcon symbolId="icon-point" size="m" />
                <AIcon symbolId="icon-edit" size="m" />
                <AIcon symbolId="icon-search" size="m" />
                <AIcon symbolId="icon-more" size="m" />
                <AIcon symbolId="icon-time" size="m" />
                <AIcon symbolId="icon-bonus" size="m" />
                <AIcon symbolId="icon-transfer" size="m" />
                <AIcon symbolId="icon-percent" size="m" />
                <AIcon symbolId="icon-question" size="m" />
                <AIcon symbolId="icon-info" size="m" />
                <AIcon symbolId="icon-done" size="m" />
                <AIcon symbolId="icon-alert" size="m" />
                <AIcon symbolId="icon-cash" size="m" />
                <AIcon symbolId="icon-card" size="m" />
                <AIcon symbolId="icon-deposit" size="m" />
                <AIcon symbolId="icon-wallet" size="m" />
                <AIcon symbolId="icon-house" size="m" />
                <AIcon symbolId="icon-sale" size="m" />
                <AIcon symbolId="icon-doc" size="m" />
                <AIcon symbolId="icon-phone" size="m" />
                <AIcon symbolId="icon-mail" size="m" />
                <AIcon symbolId="icon-check" size="m" />
                <AIcon symbolId="icon-menu" size="m" />
            </div>

            <div class="ui-row">
                <AIcon symbolId="icon-a-web-bank" size="xl" />
                <AIcon symbolId="icon-a-house" size="xl" />
                <AIcon symbolId="icon-a-money" size="xl" />
                <AIcon symbolId="icon-a-money-out" size="xl" />
                <AIcon symbolId="icon-a-money-on" size="xl" />
                <AIcon symbolId="icon-a-transfer" size="xl" />
                <AIcon symbolId="icon-a-hand-money" size="xl" />
                <AIcon symbolId="icon-a-notification" size="xl" />
                <AIcon symbolId="icon-a-car" size="xl" />
                <AIcon symbolId="icon-a-heart" size="xl" />
                <AIcon symbolId="icon-a-chill" size="xl" />
                <AIcon symbolId="icon-a-shop" size="xl" />
                <AIcon symbolId="icon-a-fun" size="xl" />
                <AIcon symbolId="icon-a-date" size="xl" />
                <AIcon symbolId="icon-a-multitasking" size="xl" />
                <AIcon symbolId="icon-a-documents" size="xl" />
                <AIcon symbolId="icon-a-money-down" size="xl" />
                <AIcon symbolId="icon-a-money-up" size="xl" />
                <AIcon symbolId="icon-a-part-down" size="xl" />
                <AIcon symbolId="icon-a-document-money" size="xl" />
                <AIcon symbolId="icon-a-doc-stat" size="xl" />
                <AIcon symbolId="icon-a-timer" size="xl" />
                <AIcon symbolId="icon-a-hands" size="xl" />
                <AIcon symbolId="icon-a-global" size="xl" />
                <AIcon symbolId="icon-a-low-percent" size="xl" />
                <AIcon symbolId="icon-a-flexibility" size="xl" />
                <AIcon symbolId="icon-a-stability" size="xl" />
                <AIcon symbolId="icon-a-rates" size="xl" />
                <AIcon symbolId="icon-a-easily" size="xl" />
                <AIcon symbolId="icon-a-stock-exchange" size="xl" />
                <AIcon symbolId="icon-a-limits" size="xl" />
                <AIcon symbolId="icon-a-channels" size="xl" />
                <AIcon symbolId="icon-a-calculator" size="xl" />
                <AIcon symbolId="icon-a-cash-machine" size="xl" />
                <AIcon symbolId="icon-a-delivery" size="xl" />
                <AIcon symbolId="icon-a-reputation" size="xl" />
                <AIcon symbolId="icon-a-old-money" size="xl" />
                <AIcon symbolId="icon-a-rub-euro-dollar" size="xl" />
                <AIcon symbolId="icon-a-conversion" size="xl" />
                <AIcon symbolId="icon-a-server" size="xl" />
                <AIcon symbolId="icon-a-report" size="xl" />
                <AIcon symbolId="icon-a-prices" size="xl" />
                <AIcon symbolId="icon-a-individual" size="xl" />
                <AIcon symbolId="icon-a-low-price" size="xl" />
                <AIcon symbolId="icon-a-other" size="xl" />
                <AIcon symbolId="icon-a-credit-rating" size="xl" />
                <AIcon symbolId="icon-a-conditions" size="xl" />
                <AIcon symbolId="icon-a-reward" size="xl" />
                <AIcon symbolId="icon-a-relevance" size="xl" />
                <AIcon symbolId="icon-a-mir-pass" size="xl" />
                <AIcon symbolId="icon-a-card-security" size="xl" />
                <AIcon symbolId="icon-a-free-service-card" size="xl" />
                <AIcon symbolId="icon-a-cashback" size="xl" />
                <AIcon symbolId="icon-a-bank" size="xl" />
                <AIcon symbolId="icon-a-bankInform" size="xl" />
                <AIcon symbolId="icon-a-personal-manager" size="xl" />
                <AIcon symbolId="icon-a-concierge-service" size="xl" />
                <AIcon symbolId="icon-a-mobile-ready" size="xl" />
                <AIcon symbolId="icon-a-mobile-stick" size="xl" />
                <AIcon symbolId="icon-a-mobile-payment" size="xl" />
                <AIcon symbolId="icon-a-mir-payment" size="xl" />
                <AIcon symbolId="icon-a-free-service" size="xl" />
                <AIcon symbolId="icon-a-free-service-2" size="xl" />
                <AIcon symbolId="icon-a-info" size="xl" />
                <AIcon symbolId="icon-a-account" size="xl" />
                <AIcon symbolId="icon-a-rub" size="xl" />
                <AIcon symbolId="icon-a-euro" size="xl" />
                <AIcon symbolId="icon-a-transh" size="xl" />
            </div>
        </div>

        <div class="ui-section">
            <SectionTitle class="ui-section-title" titleClass="headline-2"
                >{"ATag"}</SectionTitle
            >

            <div class="ui-row ui-dark-bg" style="padding-bottom: 32px">
                <ATag>Filled</ATag>
                <ATag outline>Outlined</ATag>
            </div>
        </div>
        <div class="ui-section">
            <SectionTitle class="ui-section-title" titleClass="headline-2"
                >{"TagSimple"}</SectionTitle
            >

            <div class="ui-row ui-dark-bg" style="padding-bottom: 32px">
                <TagSimple href="#">Зарплатный проект</TagSimple>
                <TagSimple href="#">Зарплатная карта</TagSimple>
                <TagSimple href="#">Расчетный счет</TagSimple>
                <TagSimple href="#">Ипотека в новостройке</TagSimple>
                <TagSimple href="#">Кредит на бизнес</TagSimple>
                <TagSimple href="#">Депозиты</TagSimple>
                <TagSimple href="#">Вклады</TagSimple>
                <TagSimple href="#">Социально-платежная карта МИР</TagSimple>
                <TagSimple href="#">Банковские гарантии</TagSimple>
            </div>
        </div>
        <div class="ui-section">
            <SectionTitle class="ui-section-title" titleClass="headline-2"
                >{"AButton"}</SectionTitle
            >

            <div class="ui-grid">
                <div class="headline-3 dark-70">Sizes Button</div>
                <div class="ui-row">
                    <AButton size="l">Primary Button size L</AButton>
                    <AButton size="m">Primary Button size M</AButton>
                    <AButton size="s">Primary Button size S</AButton>
                    <AButton size="lm">Primary Button size LM</AButton>
                    <AButton size="ls">Primary Button size LS</AButton>
                    <AButton size="ms">Primary Button size MS</AButton>
                </div>
                <div class="headline-3 dark-70">Color Button</div>
                <div class="ui-row ui-dark-bg">
                    <AButton size="m">Secondary Button</AButton>
                    <AButton size="m" color="secondary"
                        >Secondary Button</AButton
                    >
                    <AButton size="m" color="white">Secondary Button</AButton>
                </div>
                <div class="headline-3 dark-70">Icon Button</div>
                <div class="ui-row ui-dark-bg">
                    <AButton size="m" beforeIcon="icon-download"
                        >Icon Button</AButton
                    >
                    <AButton
                        size="m"
                        color="secondary"
                        afterIcon="icon-download">Icon Button</AButton
                    >
                    <AButton
                        size="m"
                        color="white"
                        beforeIcon="icon-download"
                        afterIcon="icon-download">Icon Button</AButton
                    >
                    <AButton
                        element="a"
                        href="#"
                        size="m"
                        beforeIcon="icon-download">Icon Button</AButton
                    >
                    <AButton
                        element="a"
                        href="#"
                        size="m"
                        color="secondary"
                        afterIcon="icon-download">Icon Button</AButton
                    >
                    <AButton
                        element="a"
                        href="#"
                        size="m"
                        color="white"
                        beforeIcon="icon-download"
                        afterIcon="icon-download">Icon Button</AButton
                    >
                </div>
                <div class="headline-3 dark-70">Link Button</div>
                <div class="ui-row">
                    <AButton element="a" href="#" size="m">Link Button</AButton>
                    <AButton element="a" href="#" size="m">Link Button</AButton>
                    <AButton element="a" href="#" size="m">Link Button</AButton>
                </div>
                <div class="headline-3 dark-70">Outlined Button</div>
                <div class="ui-row ui-dark-bg">
                    <AButton element="a" href="#" size="m" outline
                        >Outlined Link Button</AButton
                    >
                    <AButton size="m" outline>Outlined Button</AButton>
                </div>
                <div class="headline-3 dark-70">Text Button</div>
                <div class="ui-row ui-dark-bg">
                    <AButton element="a" href="#" size="m" text
                        >Text Link Button</AButton
                    >
                    <AButton element="a" href="#" size="m" color="white" text
                        >Text Link Button</AButton
                    >
                    <AButton size="m" text>Text Button</AButton>
                    <AButton size="m" color="white" text>Text Button</AButton>
                </div>
                <div class="headline-3 dark-70">Full Button</div>
                <div class="ui-row ui-dark-bg">
                    <AButton
                        size="m"
                        full
                        beforeIcon="icon-download"
                        afterIcon="icon-download">Full Button</AButton
                    >
                </div>
            </div>
        </div>
        <div class="ui-section">
            <SectionTitle class="ui-section-title" titleClass="headline-2"
                >{"AInput"}</SectionTitle
            >

            <div class="ui-grid">
                <div class="headline-3 dark-70">Sizes Input</div>
                <div class="ui-row">
                    <AInput
                        size="ms"
                        placeholder="Primary Button size MS"
                        name="input-1"
                    />
                    <AInput
                        size="m"
                        placeholder="Primary Button size M"
                        name="input-2"
                    />
                    <AInput
                        size="s"
                        placeholder="Primary Button size S"
                        name="input-3"
                    />
                </div>
                <div class="headline-3 dark-70">Label Input</div>
                <div class="ui-row">
                    <AInput
                        size="ms"
                        placeholder="Primary Button size MS"
                        label="Наименование"
                        forId="name-1"
                        name="input-1"
                    />
                    <AInput
                        size="m"
                        placeholder="Primary Button size M"
                        label="Наименование"
                        forId="name-2"
                        name="input-2"
                    />
                    <AInput
                        size="s"
                        placeholder="Primary Button size S"
                        label="Наименование"
                        forId="name-3"
                        name="input-3"
                    />
                </div>
                <div class="headline-3 dark-70">Hint Input</div>
                <div class="ui-row">
                    <AInput
                        size="ms"
                        placeholder="Primary Button size MS"
                        hint="Подсказка"
                        label="Наименование"
                        forId="name-1"
                        name="input-1"
                    />
                    <AInput
                        size="m"
                        placeholder="Primary Button size M"
                        hint="Подсказка"
                        label="Наименование"
                        forId="name-2"
                        name="input-2"
                    />
                    <AInput
                        size="s"
                        placeholder="Primary Button size S"
                        hint="Подсказка"
                        label="Наименование"
                        forId="name-3"
                        name="input-3"
                    />
                </div>
                <div class="headline-3 dark-70">Required Input</div>
                <div class="ui-row">
                    <AInput
                        size="ms"
                        placeholder="Primary Button size MS"
                        hint="Подсказка"
                        label="Наименование"
                        forId="name-1"
                        required
                        name="input-1"
                    />
                    <AInput
                        size="m"
                        placeholder="Primary Button size M"
                        hint="Подсказка"
                        label="Наименование"
                        forId="name-2"
                        required
                        name="input-2"
                    />
                    <AInput
                        size="s"
                        placeholder="Primary Button size S"
                        hint="Подсказка"
                        label="Наименование"
                        forId="name-3"
                        required
                        name="input-3"
                    />
                </div>
            </div>
        </div>
        <div class="ui-section">
            <SectionTitle class="ui-section-title" titleClass="headline-2"
                >{"AInputField"}</SectionTitle
            >

            <div class="ui-grid">
                <FormRow cols={2}>
                    <AInputField
                        size="m"
                        label="Дата пополнения"
                        forId="name-1"
                        name="input-1"
                        afterIcon="icon-calendar"
                        hint="подсказка"
                        required
                    />
                    <AInputField
                        size="m"
                        label="Сумма пополнения"
                        forId="name-2"
                        name="input-2"
                        afterIcon="icon-rub"
                    />
                </FormRow>
            </div>
        </div>
        <div class="ui-section">
            <SectionTitle class="ui-section-title" titleClass="headline-2"
                >&lt;ASliderInput&gt;</SectionTitle
            >

            <div class="ui-grid">
                <div class="headline-3 dark-70">Basic</div>
                <ASliderInput
                    id="amount-credit"
                    label="Сумма кредита"
                    maxValue={5000000}
                    minValue={20000}
                    startValue={1000000}
                    stepSize={5000}
                    type="price"
                />
                <ASliderInput
                    id="deposit-term"
                    label="Срок вклада"
                    startValue={550}
                    maxValue={1100}
                    minValue={250}
                    type="day"
                />
                <ASliderInput
                    id="credit-term"
                    label="Срок кредита"
                    maxValue={60}
                    minValue={1}
                    startValue={31}
                    type="month"
                />
                <div class="headline-3 dark-70">Editable</div>
                <ASliderInput
                    id="amount-credit-2"
                    label="Сумма кредита"
                    maxValue={5000000}
                    minValue={20000}
                    startValue={1000000}
                    stepSize={5000}
                    type="price"
                    editable
                />
                <ASliderInput
                    id="deposit-term-2"
                    label="Срок вклада"
                    startValue={550}
                    maxValue={1100}
                    minValue={250}
                    type="day"
                    editable
                />
                <ASliderInput
                    id="credit-term-2"
                    label="Срок кредита"
                    maxValue={60}
                    minValue={1}
                    startValue={31}
                    type="month"
                    editable
                />
                <div class="headline-3 dark-70">Steps</div>
                <ASliderInput
                    id="amount-credit-3"
                    label="Сумма кредита"
                    startValue={1000000}
                    steps={[20000, 1000000, 2000000, 3000000, 4000000, 5000000]}
                    editable
                    type="price"
                />
                <ASliderInput
                    id="deposit-term-3"
                    label="Срок вклада"
                    startValue={550}
                    steps={[250, 550, 1100]}
                    type="day"
                    editable
                />
                <ASliderInput
                    id="credit-term-3"
                    label="Срок кредита"
                    startValue={10}
                    steps={[1, 10, 30, 50, 60]}
                    type="month"
                    editable
                />
            </div>
        </div>
        <div class="ui-section">
            <SectionTitle class="ui-section-title" titleClass="headline-2"
                >{"InputWithIcon"}</SectionTitle
            >

            <div class="ui-grid">
                <div class="ui-row">
                    <InputWithIcon
                        placeholder="Поиск по сайту"
                        beforeIcon="icon-search"
                    />
                </div>
            </div>
        </div>
        <div class="ui-section">
            <SectionTitle class="ui-section-title" titleClass="headline-2"
                >{"ServiceCard"}</SectionTitle
            >

            <div class="ui-grid ui-grid-col-3">
                <ServiceCard title="Интернет-банк" icon="icon-a-web-bank" />
                <ServiceCard title="Кредиты" icon="icon-a-money" />
                <ServiceCard title="Ипотека" icon="icon-a-house" />
            </div>
        </div>
        <div class="ui-section">
            <SectionTitle class="ui-section-title" titleClass="headline-2"
                >{"ServiceAppsCard"}</SectionTitle
            >

            <div class="ui-grid">
                <ServiceAppsCard
                    benefits={serviceAppBenefits}
                    title="Мобильное приложение"
                    class="bank-services__apps"
                >
                    <Fragment slot="footer">
                        <AppButton href="#" iconName="ru-store" />
                        <AppButton href="#" iconName="ru-market" />
                        <AppButton href="#" iconName="nash-store" />
                        <AButton
                            element="a"
                            href="#"
                            size="m"
                            afterIcon="icon-download"
                            color="white">Скачать</AButton
                        >
                    </Fragment>
                </ServiceAppsCard>
            </div>
        </div>
        <div class="ui-section">
            <SectionTitle class="ui-section-title" titleClass="headline-2"
                >{"ServiceSalaryCard"}</SectionTitle
            >

            <div class="ui-grid">
                <ServiceSalaryCard />
            </div>
        </div>
        <div class="ui-section">
            <SectionTitle class="ui-section-title" titleClass="headline-2"
                >{"APolygonContainer"}</SectionTitle
            >

            <div class="ui-grid ui-grid-col-3">
                <APolygonContainer color="purple-100">
                    <AFooterApps />
                </APolygonContainer>
                <APolygonContainer color="green-100">
                    <div
                        style="
						display: flex;
						flex-direction: column;
						height: 100%;
						background-color: var(--dark-10);
						padding: 2.5rem"
                    >
                        <h3 class="headline-2">Заголовок</h3>
                        <p class="body-l-heavy">Описание</p>
                    </div>
                </APolygonContainer>
            </div>
        </div>

        <div class="ui-section">
            <SectionTitle class="ui-section-title" titleClass="headline-2"
                >{"BenefitCard"}</SectionTitle
            >

            <div class="ui-grid ui-grid-col-3">
                <BenefitCard
                    title="Заголовок"
                    description="Описание"
                    icon="icon-a-money"
                    headerIcon="icon-a-money"
                    theme="grey"
                    textButton="Подробнее"
                />
                <BenefitCard
                    title="Заголовок"
                    description="Описание"
                    icon="icon-a-money"
                    headerIcon="icon-a-money"
                    theme="light-blue"
                    textButton="Подробнее"
                />
                <BenefitCard
                    title="Заголовок"
                    description="Описание"
                    icon="icon-a-money"
                    headerIcon="icon-a-money"
                    theme="gradient"
                    textButton="Подробнее"
                />
            </div>
        </div>

        <div class="ui-section">
            <SectionTitle class="ui-section-title" titleClass="headline-2"
                >{"AppButton"}</SectionTitle
            >

            <div class="ui-grid ui-grid-col-3 ui-dark-bg">
                <AppButton href="#" iconName="ru-store" />
                <AppButton href="#" iconName="ru-market" />
                <AppButton href="#" iconName="nash-store" />
            </div>
        </div>

        <div class="ui-section">
            <SectionTitle class="ui-section-title" titleClass="headline-2"
                >{"AAccordion"}</SectionTitle
            >

            <div class="ui-grid ui-light-bg">
                <div class="headline-3 dark-70">Component Basic Accordion</div>
                <AAccordion type="component">
                    <AAccordionPanel>
                        <AAccordionHeader>
                            <div class="headline-4">Header 1</div>
                        </AAccordionHeader>
                        <AAccordionContent>
                            <div class="body-s-light dark-70">
                                Lorem ipsum dolor sit amet, consectetur
                                adipiscing elit, sed do eiusmod tempor
                                incididunt ut labore et dolore magna aliqua. Ut
                                enim ad minim veniam, quis nostrud exercitation
                                ullamco laboris nisi ut aliquip ex ea commodo
                                consequat. Duis aute irure dolor in
                                reprehenderit in voluptate velit esse cillum
                                dolore eu fugiat nulla pariatur. Excepteur sint
                                occaecat cupidatat non proident, sunt in culpa
                                qui officia deserunt mollit anim id est laborum.
                            </div>
                        </AAccordionContent>
                    </AAccordionPanel>
                    <AAccordionPanel>
                        <AAccordionHeader>
                            <div class="headline-4">Header 2</div>
                        </AAccordionHeader>
                        <AAccordionContent>
                            <div class="body-s-light dark-70">
                                Lorem ipsum dolor sit amet, consectetur
                                adipiscing elit, sed do eiusmod tempor
                                incididunt ut labore et dolore magna aliqua. Ut
                                enim ad minim veniam, quis nostrud exercitation
                                ullamco laboris nisi ut aliquip ex ea commodo
                                consequat. Duis aute irure dolor in
                                reprehenderit in voluptate velit esse cillum
                                dolore eu fugiat nulla pariatur. Excepteur sint
                                occaecat cupidatat non proident, sunt in culpa
                                qui officia deserunt mollit anim id est laborum.
                            </div>
                        </AAccordionContent>
                    </AAccordionPanel>
                    <AAccordionPanel>
                        <AAccordionHeader>
                            <div class="headline-4">Header 3</div>
                        </AAccordionHeader>
                        <AAccordionContent>
                            <div class="body-s-light dark-70">
                                Lorem ipsum dolor sit amet, consectetur
                                adipiscing elit, sed do eiusmod tempor
                                incididunt ut labore et dolore magna aliqua. Ut
                                enim ad minim veniam, quis nostrud exercitation
                                ullamco laboris nisi ut aliquip ex ea commodo
                                consequat. Duis aute irure dolor in
                                reprehenderit in voluptate velit esse cillum
                                dolore eu fugiat nulla pariatur. Excepteur sint
                                occaecat cupidatat non proident, sunt in culpa
                                qui officia deserunt mollit anim id est laborum.
                            </div>
                        </AAccordionContent>
                    </AAccordionPanel>
                </AAccordion>
                <div class="headline-3 dark-70">
                    Component Multiple Accordion
                </div>
                <AAccordion type="component" multiple>
                    <AAccordionPanel>
                        <AAccordionHeader>
                            <div class="headline-4">Header 1</div>
                        </AAccordionHeader>
                        <AAccordionContent>
                            <div class="body-s-light">
                                Lorem ipsum dolor sit amet, consectetur
                                adipiscing elit, sed do eiusmod tempor
                                incididunt ut labore et dolore magna aliqua. Ut
                                enim ad minim veniam, quis nostrud exercitation
                                ullamco laboris nisi ut aliquip ex ea commodo
                                consequat. Duis aute irure dolor in
                                reprehenderit in voluptate velit esse cillum
                                dolore eu fugiat nulla pariatur. Excepteur sint
                                occaecat cupidatat non proident, sunt in culpa
                                qui officia deserunt mollit anim id est laborum.
                            </div>
                        </AAccordionContent>
                    </AAccordionPanel>
                    <AAccordionPanel>
                        <AAccordionHeader>
                            <div class="headline-4">Header 2</div>
                        </AAccordionHeader>
                        <AAccordionContent>
                            <div class="body-s-light">
                                Lorem ipsum dolor sit amet, consectetur
                                adipiscing elit, sed do eiusmod tempor
                                incididunt ut labore et dolore magna aliqua. Ut
                                enim ad minim veniam, quis nostrud exercitation
                                ullamco laboris nisi ut aliquip ex ea commodo
                                consequat. Duis aute irure dolor in
                                reprehenderit in voluptate velit esse cillum
                                dolore eu fugiat nulla pariatur. Excepteur sint
                                occaecat cupidatat non proident, sunt in culpa
                                qui officia deserunt mollit anim id est laborum.
                            </div>
                        </AAccordionContent>
                    </AAccordionPanel>
                    <AAccordionPanel>
                        <AAccordionHeader>
                            <div class="headline-4">Header 3</div>
                        </AAccordionHeader>
                        <AAccordionContent>
                            <div class="body-s-light">
                                Lorem ipsum dolor sit amet, consectetur
                                adipiscing elit, sed do eiusmod tempor
                                incididunt ut labore et dolore magna aliqua. Ut
                                enim ad minim veniam, quis nostrud exercitation
                                ullamco laboris nisi ut aliquip ex ea commodo
                                consequat. Duis aute irure dolor in
                                reprehenderit in voluptate velit esse cillum
                                dolore eu fugiat nulla pariatur. Excepteur sint
                                occaecat cupidatat non proident, sunt in culpa
                                qui officia deserunt mollit anim id est laborum.
                            </div>
                        </AAccordionContent>
                    </AAccordionPanel>
                </AAccordion>
                <div class="headline-3 dark-70">Layout Basic Accordion</div>
                <AAccordion type="layout">
                    <AAccordionPanel>
                        <AAccordionHeader>
                            <div class="headline-4">Header 1</div>
                        </AAccordionHeader>
                        <AAccordionContent>
                            <div class="body-s-light dark-70">
                                Lorem ipsum dolor sit amet, consectetur
                                adipiscing elit, sed do eiusmod tempor
                                incididunt ut labore et dolore magna aliqua. Ut
                                enim ad minim veniam, quis nostrud exercitation
                                ullamco laboris nisi ut aliquip ex ea commodo
                                consequat. Duis aute irure dolor in
                                reprehenderit in voluptate velit esse cillum
                                dolore eu fugiat nulla pariatur. Excepteur sint
                                occaecat cupidatat non proident, sunt in culpa
                                qui officia deserunt mollit anim id est laborum.
                            </div>
                        </AAccordionContent>
                    </AAccordionPanel>
                    <AAccordionPanel>
                        <AAccordionHeader>
                            <div class="headline-4">Header 2</div>
                        </AAccordionHeader>
                        <AAccordionContent>
                            <div class="body-s-light dark-70">
                                Lorem ipsum dolor sit amet, consectetur
                                adipiscing elit, sed do eiusmod tempor
                                incididunt ut labore et dolore magna aliqua. Ut
                                enim ad minim veniam, quis nostrud exercitation
                                ullamco laboris nisi ut aliquip ex ea commodo
                                consequat. Duis aute irure dolor in
                                reprehenderit in voluptate velit esse cillum
                                dolore eu fugiat nulla pariatur. Excepteur sint
                                occaecat cupidatat non proident, sunt in culpa
                                qui officia deserunt mollit anim id est laborum.
                            </div>
                        </AAccordionContent>
                    </AAccordionPanel>
                    <AAccordionPanel>
                        <AAccordionHeader>
                            <div class="headline-4">Header 3</div>
                        </AAccordionHeader>
                        <AAccordionContent>
                            <div class="body-s-light dark-70">
                                Lorem ipsum dolor sit amet, consectetur
                                adipiscing elit, sed do eiusmod tempor
                                incididunt ut labore et dolore magna aliqua. Ut
                                enim ad minim veniam, quis nostrud exercitation
                                ullamco laboris nisi ut aliquip ex ea commodo
                                consequat. Duis aute irure dolor in
                                reprehenderit in voluptate velit esse cillum
                                dolore eu fugiat nulla pariatur. Excepteur sint
                                occaecat cupidatat non proident, sunt in culpa
                                qui officia deserunt mollit anim id est laborum.
                            </div>
                        </AAccordionContent>
                    </AAccordionPanel>
                </AAccordion>
                <div class="headline-3 dark-70">Layout Multiple Accordion</div>
                <AAccordion type="layout" multiple>
                    <AAccordionPanel>
                        <AAccordionHeader>
                            <div class="headline-4">Header 1</div>
                        </AAccordionHeader>
                        <AAccordionContent>
                            <div class="body-s-light">
                                Lorem ipsum dolor sit amet, consectetur
                                adipiscing elit, sed do eiusmod tempor
                                incididunt ut labore et dolore magna aliqua. Ut
                                enim ad minim veniam, quis nostrud exercitation
                                ullamco laboris nisi ut aliquip ex ea commodo
                                consequat. Duis aute irure dolor in
                                reprehenderit in voluptate velit esse cillum
                                dolore eu fugiat nulla pariatur. Excepteur sint
                                occaecat cupidatat non proident, sunt in culpa
                                qui officia deserunt mollit anim id est laborum.
                            </div>
                        </AAccordionContent>
                    </AAccordionPanel>
                    <AAccordionPanel>
                        <AAccordionHeader>
                            <div class="headline-4">Header 2</div>
                        </AAccordionHeader>
                        <AAccordionContent>
                            <div class="body-s-light">
                                Lorem ipsum dolor sit amet, consectetur
                                adipiscing elit, sed do eiusmod tempor
                                incididunt ut labore et dolore magna aliqua. Ut
                                enim ad minim veniam, quis nostrud exercitation
                                ullamco laboris nisi ut aliquip ex ea commodo
                                consequat. Duis aute irure dolor in
                                reprehenderit in voluptate velit esse cillum
                                dolore eu fugiat nulla pariatur. Excepteur sint
                                occaecat cupidatat non proident, sunt in culpa
                                qui officia deserunt mollit anim id est laborum.
                            </div>
                        </AAccordionContent>
                    </AAccordionPanel>
                    <AAccordionPanel>
                        <AAccordionHeader>
                            <div class="headline-4">Header 3</div>
                        </AAccordionHeader>
                        <AAccordionContent>
                            <div class="body-s-light">
                                Lorem ipsum dolor sit amet, consectetur
                                adipiscing elit, sed do eiusmod tempor
                                incididunt ut labore et dolore magna aliqua. Ut
                                enim ad minim veniam, quis nostrud exercitation
                                ullamco laboris nisi ut aliquip ex ea commodo
                                consequat. Duis aute irure dolor in
                                reprehenderit in voluptate velit esse cillum
                                dolore eu fugiat nulla pariatur. Excepteur sint
                                occaecat cupidatat non proident, sunt in culpa
                                qui officia deserunt mollit anim id est laborum.
                            </div>
                        </AAccordionContent>
                    </AAccordionPanel>
                </AAccordion>
            </div>
        </div>
        <div class="ui-section">
            <SectionTitle class="ui-section-title" titleClass="headline-2"
                >{"OfferCard"}</SectionTitle
            >

            <div class="ui-grid ui-gap-2 ui-grid-col-3 ui-grid-items-a-stretch">
                {
                    offerCards.map((card) => (
                        <OfferCard
                            imgSrc={card.imgSrc}
                            color={card.cardColor}
                            textButton={card.buttonText}
                            title={card.title}
                            description={card.description}
                            textIndicating={{
                                text: card.numberText ? card.numberText : "",
                                beforeText: card.beforeNumberText
                                    ? card.beforeNumberText
                                    : "",
                                afterText: card.afterNumberText
                                    ? card.afterNumberText
                                    : "",
                            }}
                            textLink={card.textLink}
                        >
                            {card.tagText && (
                                <div class="offer-card__tag" slot="tag">
                                    <ATag>{card.tagText}</ATag>
                                </div>
                            )}
                        </OfferCard>
                    ))
                }
            </div>
        </div>
        <div class="ui-section">
            <SectionTitle class="ui-section-title" titleClass="headline-2"
                >&lt;ATabs&gt;</SectionTitle
            >

            <div class="ui-grid">
                <div class="headline-3 dark-70">Component Default</div>
                <ATabs>
                    <Fragment slot="tabs">
                        <ATab value="0" size="m" isActive>Первый</ATab>
                        <ATab value="1" size="m">Второй</ATab>
                        <ATab value="2" size="m">Третий</ATab>
                    </Fragment>
                    <Fragment slot="panels">
                        <ATabPanel value="0">Контент 1</ATabPanel>
                        <ATabPanel value="1">Контент 2</ATabPanel>
                        <ATabPanel value="2">Контент 3</ATabPanel>
                    </Fragment>
                </ATabs>
                <div class="headline-3 dark-70">Component Layout</div>
                <ATabs useLayout>
                    <div style="padding: 16px 0">Первый Контент</div>
                    <ATabSwiper>
                        <ATabSwiperWrapper>
                            <ATab value="0" size="m" isActive>Первый</ATab>
                            <ATab value="1" size="m">Второй</ATab>
                            <ATab value="2" size="m">Третий</ATab>
                        </ATabSwiperWrapper>
                    </ATabSwiper>
                    <div style="padding: 16px 0">Второй контент</div>
                    <ATabPanels>
                        <ATabPanel value="0">Контент 1</ATabPanel>
                        <ATabPanel value="1">Контент 2</ATabPanel>
                        <ATabPanel value="2">Контент 3</ATabPanel>
                    </ATabPanels>
                    <div style="padding: 16px 0">Третий контент</div>
                </ATabs>
                <div class="headline-3 dark-70">Component Links</div>
                <ATabs>
                    <Fragment slot="tabs">
                        <ATab href="#" size="lm"
                            >Для работников ГК «Ростех»</ATab
                        >
                        <ATab href="#" size="lm">Для организаций</ATab>
                        <ATab href="#" size="lm" isActive
                            >Для руководителей</ATab
                        >
                        <ATab href="#" size="lm"
                            >Для новых зарплатных клиентов</ATab
                        >
                    </Fragment>
                </ATabs>
                <div class="headline-3 dark-70">Component Sizes</div>
                <ATabs>
                    <Fragment slot="tabs">
                        <ATab value="0" size="l" isActive>Первый</ATab>
                        <ATab value="1" size="l">Второй</ATab>
                        <ATab value="2" size="l">Третий</ATab>
                    </Fragment>
                    <Fragment slot="panels">
                        <ATabPanel value="0">Контент 1</ATabPanel>
                        <ATabPanel value="1">Контент 2</ATabPanel>
                        <ATabPanel value="2">Контент 3</ATabPanel>
                    </Fragment>
                </ATabs>
                <ATabs>
                    <Fragment slot="tabs">
                        <ATab value="0" size="lm" isActive>Первый</ATab>
                        <ATab value="1" size="lm">Второй</ATab>
                        <ATab value="2" size="lm">Третий</ATab>
                    </Fragment>
                    <Fragment slot="panels">
                        <ATabPanel value="0">Контент 1</ATabPanel>
                        <ATabPanel value="1">Контент 2</ATabPanel>
                        <ATabPanel value="2">Контент 3</ATabPanel>
                    </Fragment>
                </ATabs>
                <ATabs>
                    <Fragment slot="tabs">
                        <ATab value="0" size="m" isActive>Первый</ATab>
                        <ATab value="1" size="m">Второй</ATab>
                        <ATab value="2" size="m">Третий</ATab>
                    </Fragment>
                    <Fragment slot="panels">
                        <ATabPanel value="0">Контент 1</ATabPanel>
                        <ATabPanel value="1">Контент 2</ATabPanel>
                        <ATabPanel value="2">Контент 3</ATabPanel>
                    </Fragment>
                </ATabs>
            </div>
        </div>
        <div class="ui-section">
            <SectionTitle class="ui-section-title" titleClass="headline-2"
                >&lt;ABreadcrumbs&gt;</SectionTitle
            >

            <div class="ui-grid">
                <div class="ui-dark-light-bg">
                    <ABreadcrumbs
                        links={[
                            { title: "Частным клиентам", url: "#" },
                            { title: "Карты", url: "#" },
                            { title: "Зарплатные карты", url: "#" },
                        ]}
                    />
                </div>
            </div>
            <div class="ui-dark-bg">
                <ABreadcrumbs
                    dark
                    links={[
                        { title: "Частным клиентам", url: "#" },
                        { title: "Карты", url: "#" },
                        { title: "Зарплатные карты", url: "#" },
                    ]}
                />
            </div>
        </div>
        <div class="ui-section">
            <SectionTitle class="ui-section-title" titleClass="headline-2"
                >&lt;TextIndicatingBenefits&gt;</SectionTitle
            >

            <div class="ui-grid ui-gap-2 ui-grid-col-3">
                <TextIndicatingBenefits
                    startText="Выгодно"
                    beforeText="от"
                    text="1 000 000"
                    afterText="дней"
                    currency="₽"
                >
                    <div class="body-m-light">Описание</div>
                    <ARte class="body-m-light">
                        <ul>
                            <li>Пункт 1</li>
                            <li>Пункт 2</li>
                            <li>Пункт 3</li>
                        </ul>
                    </ARte>
                </TextIndicatingBenefits>
                <TextIndicatingBenefits
                    beforeText="от"
                    text="0"
                    afterText="дней"
                    currency="₽"
                >
                    <div class="body-m-light dark-70">Описание</div>
                </TextIndicatingBenefits>
                <TextIndicatingBenefits text="Без комиссии">
                    <div class="body-m-light dark-70">
                        Снятие и внесение наличных
                    </div>
                </TextIndicatingBenefits>
            </div>
        </div>
        <div class="ui-section">
            <SectionTitle class="ui-section-title" titleClass="headline-2"
                >&lt;AList&gt;</SectionTitle
            >

            <div class="ui-grid ui-gap-2 ui-grid-col-3">
                <div>
                    <h3 class="headline-3">List M</h3>
                    <AList>
                        <li>Lorem ipsum dolor sit amet.</li>
                        <li>
                            Lorem ipsum dolor sit amet, consectetur adipisicing
                            elit. Aut, quasi.
                        </li>
                        <li>
                            Lorem ipsum dolor sit amet, consectetur adipisicing.
                        </li>
                        <li>
                            Lorem ipsum dolor sit amet, consectetur adipisicing
                            elit. Adipisci assumenda cumque doloribus excepturi
                            molestiae molestias necessitatibus quia quo
                            repudiandae vel?
                        </li>
                    </AList>
                </div>
                <div>
                    <h3 class="headline-3">List S Heavy</h3>
                    <AList size="s" isHeavy>
                        <li>Lorem ipsum dolor sit amet.</li>
                        <li>
                            Lorem ipsum dolor sit amet, consectetur adipisicing
                            elit. Aut, quasi.
                        </li>
                        <li>
                            Lorem ipsum dolor sit amet, consectetur adipisicing.
                        </li>
                        <li>
                            Lorem ipsum dolor sit amet, consectetur adipisicing
                            elit. Adipisci assumenda cumque doloribus excepturi
                            molestiae molestias necessitatibus quia quo
                            repudiandae vel?
                        </li>
                    </AList>
                </div>
                <div>
                    <h3 class="headline-3">List L</h3>
                    <AList size="l">
                        <li>Lorem ipsum dolor sit amet.</li>
                        <li>
                            Lorem ipsum dolor sit amet, consectetur adipisicing
                            elit. Aut, quasi.
                        </li>
                        <li>
                            Lorem ipsum dolor sit amet, consectetur adipisicing.
                        </li>
                        <li>
                            Lorem ipsum dolor sit amet, consectetur adipisicing
                            elit. Adipisci assumenda cumque doloribus excepturi
                            molestiae molestias necessitatibus quia quo
                            repudiandae vel?
                        </li>
                    </AList>
                </div>
            </div>
        </div>
        <div class="ui-section">
            <SectionTitle class="ui-section-title" titleClass="headline-2"
                >&lt;ProductCard&gt;</SectionTitle
            >

            <div class="ui-grid">
                <ProductCard
                    imgSrc="assets/big-illustrations/large-individual/contribution-rentier.png"
                    ,
                    title={loan.title}
                    description={loan.description}
                    symbolId={loan.symbolId}
                    conditions={loan.conditions}
                    links={loan.links}
                />
            </div>
        </div>
        <div class="ui-section">
            <SectionTitle class="ui-section-title" titleClass="headline-2"
                >&lt;ACollapsedItems&gt;</SectionTitle
            >

            <div class="ui-grid">
                <ACollapsedItems
                    visibleItems="2"
                    rebuildingMq="tablet"
                    useCountInButton={true}
                >
                    <div class="ui-grid ui-gap-2 ui-grid-col-3">
                        <ACollapsedItem>Первый элемент</ACollapsedItem>
                        <ACollapsedItem>Второй элемент</ACollapsedItem>
                        <ACollapsedItem>Третий элемент</ACollapsedItem>
                        <ACollapsedItem>Четвертый элемент</ACollapsedItem>
                        <ACollapsedItem>Пятый элемент</ACollapsedItem>
                        <ACollapsedItem>Шестой элемент</ACollapsedItem>
                    </div>
                    <ACollapsedButton />
                </ACollapsedItems>
            </div>
        </div>
        <div class="ui-section">
            <SectionTitle class="ui-section-title" titleClass="headline-2"
                >&lt;ACollapseContent&gt;</SectionTitle
            >

            <div class="ui-grid">
                <ACollapseContent
                    showText="Больше элементов"
                    hideText="Меньше элементов"
                >
                    <Fragment> Элемент, который скрыт </Fragment>
                </ACollapseContent>
            </div>
        </div>
        <div class="ui-section">
            <SectionTitle class="ui-section-title" titleClass="headline-2"
                >&lt;AHelper&gt;</SectionTitle
            >

            <div class="ui-grid ui-dark-bg">
                <APolygonContainer color="violet-100">
                    <AHelper
                        image="helper-icon.png"
                        title="Заголовок"
                        description="Скачивайте мобильное приложение"
                    />
                </APolygonContainer>
            </div>
        </div>

        <div class="ui-section">
            <SectionTitle class="ui-section-title" titleClass="headline-2"
                >&lt;ASelectInput&gt;</SectionTitle
            >

            <FormRow cols={2}>
                <ASelectInput
                    size="m"
                    label="Тип карты"
                    placeholder="Дебетовая"
                    name="cardType"
                >
                    <ADropDownItem value="Дебетовая"
                        ><span class="body-m-light">Дебетовая</span
                        ></ADropDownItem
                    >
                    <ADropDownItem selected value="Кредитная"
                        ><span class="body-m-light">Кредитная</span
                        ></ADropDownItem
                    >
                    <ADropDownItem value="Кредитная 2"
                        ><span class="body-m-light">Кредитная 2</span
                        ></ADropDownItem
                    >
                </ASelectInput>

                <ASelectInput
                    size="m"
                    label="Категория основной карты"
                    placeholder="Выберите"
                    name="cardCategory"
                >
                    <ADropDownCheckbox checked size="m" id="10"
                        ><span class="body-m-light">Standard</span
                        ></ADropDownCheckbox
                    >
                    <ADropDownCheckbox checked size="m" id="11"
                        ><span class="body-m-light">Bonus</span
                        ></ADropDownCheckbox
                    >
                    <ADropDownCheckbox size="m" id="111"
                        ><span class="body-m-light">Bonus 2</span
                        ></ADropDownCheckbox
                    >
                    <ADropDownCheckbox size="m" id="222"
                        ><span class="body-m-light">Bonus 3</span
                        ></ADropDownCheckbox
                    >
                    <ADropDownCheckbox size="m" id="333"
                        ><span class="body-m-light">Bonus 4</span
                        ></ADropDownCheckbox
                    >
                    <ADropDownCheckbox size="m" id="444"
                        ><span class="body-m-light">Bonus 5</span
                        ></ADropDownCheckbox
                    >
                    <ADropDownCheckbox size="m" id="555"
                        ><span class="body-m-light">Bonus 6</span
                        ></ADropDownCheckbox
                    >
                    <ADropDownCheckbox size="m" id="666"
                        ><span class="body-m-light">Bonus 7</span
                        ></ADropDownCheckbox
                    >
                </ASelectInput>
            </FormRow>
        </div>

        <div class="ui-section">
            <SectionTitle class="ui-section-title" titleClass="headline-2"
                >&lt;ACurrencyInput&gt;</SectionTitle
            >

            <FormRow cols={2}>
                <ACurrencyInput
                    size="ms"
                    placeholder="1500"
                    hint="1 RUB = 0,01 USD"
                    label="У вас есть"
                    forId="you-have"
                    name="you-have"
                >
                    <ADropDownButton value="RUB" selected>RUB</ADropDownButton>
                    <ADropDownButton value="EUR">EUR</ADropDownButton>
                    <ADropDownButton value="USD">USD</ADropDownButton>
                    <ADropDownButton value="CNY">CNY</ADropDownButton>
                </ACurrencyInput>
                <ACurrencyInput
                    size="ms"
                    placeholder="9,77"
                    hint="1 USD = 97 RUB"
                    label="Вы получите"
                    forId="you-get"
                    name="you-get"
                >
                    <ADropDownButton value="RUB">RUB</ADropDownButton>
                    <ADropDownButton value="EUR">EUR</ADropDownButton>
                    <ADropDownButton value="USD" selected>USD</ADropDownButton>
                    <ADropDownButton value="CNY">CNY</ADropDownButton>
                </ACurrencyInput>
            </FormRow>
        </div>

        <div class="ui-section">
            <SectionTitle class="ui-section-title" titleClass="headline-2"
                >&lt;CardPromo&gt;</SectionTitle
            >

            <CardPromo
                backgroundColor="heavy-violet"
                title="Откройте счёт в Новиком"
                text="Бесплатное дистанционное обслуживание и бесплатное сопровождение сделки при открытии счёта в банке Новиком"
                image="assets/big-illustrations/large-business/account-reservation.png"
                benefits={cardOfferBenefits}
                hasPattern
            >
                <Fragment slot="footer">
                    <AButton element="a" size="lm" color="yellow" href="#"
                        >Открыть счет</AButton
                    >
                    <AButton
                        element="a"
                        size="lm"
                        color="white"
                        afterIcon="icon-chevron-right"
                        text
                        href="#">Подробнее</AButton
                    >
                </Fragment>
            </CardPromo>
        </div>

        <div class="ui-section">
            <SectionTitle class="ui-section-title" titleClass="headline-2"
                >&lt;CardProduct&gt;</SectionTitle
            >

            <div class="ui-grid ui-gap-2 ui-grid-col-3">
                <div>
                    <CardProduct
                        title="Зоголовок"
                        text="Текст"
                        icon="icon-a-money"
                        backgroundColor="gray"
                        iconColor="violet-100"
                    />
                </div>
                <div>
                    <CardProduct
                        title="Зоголовок 2"
                        text="Текст 2"
                        icon="icon-a-card-security"
                        backgroundColor="heavy-purple"
                        iconColor="yellow-150"
                    />
                </div>
                <div>
                    <CardProduct
                        title="Зоголовок 3"
                        text="Текст 2"
                        icon="icon-a-hand-money"
                        backgroundColor="gray"
                        iconColor="orange-100"
                    />
                </div>
            </div>
        </div>

        <div class="ui-section">
            <SectionTitle class="ui-section-title" titleClass="headline-2"
                >&lt;CardContact&gt;</SectionTitle
            >

            <div class="ui-grid ui-gap-2 ui-grid-col-3">
                <div>
                    <CardContact
                        title="Отдел поддержки клиентов МСП"
                        backgoroundColor="blue"
                        list={listConatact}
                    />
                </div>
                <div>
                    <CardContact
                        title="Отдел поддержки клиентов МСП"
                        description="Описание"
                        backgoroundColor="blue"
                        list={listConatact}
                        tag={{
                            text: "Частным клиентам",
                            color: "white",
                            outline: true,
                        }}
                    />
                </div>
                <div>
                    <CardContact
                        title="Отдел поддержки клиентов МСП"
                        description="Описание"
                        backgoroundColor="gray"
                        list={listConatact}
                        tag={{
                            text: "Частным клиентам",
                            outline: true,
                        }}
                    />
                </div>
            </div>
        </div>
        <div class="ui-section">
            <SectionTitle class="ui-section-title" titleClass="headline-2"
                >&lt;CardFeedback&gt;</SectionTitle
            >

            <div class="ui-grid ui-gap-2 ui-grid-col-2 ui-dark-bg">
                <div>
                    <CardFeedback
                        title="Остались вопросы"
                        description="Оставьте свой телефон и мы перезвоним вам, либо задайте вопрос в чате"
                    >
                        <Fragment slot="footer">
                            <AButton element="a" href="#" size="lm" outline>
                                Открыть чат
                            </AButton>
                            <AButton size="lm">Перезвоните мне</AButton>
                        </Fragment>
                    </CardFeedback>
                </div>
            </div>
        </div>

        <div class="ui-section">
            <SectionTitle class="ui-section-title" titleClass="headline-2"
                >&lt;DisplayStepper&gt;</SectionTitle
            >

            <div class="content-container">
                <ATabs useLayout>
                    <div class="a-accordion-content__wrapper">
                        <h3 class="headline-2 a-accordion-content__title">
                            Оформление гарантии
                        </h3>
                        <ATabSwiper class="a-accordion-content__tabs">
                            <ATabSwiperWrapper>
                                <ATab value="0" size="m">Онлайн</ATab>
                                <ATab value="1" size="m" isActive>В банке</ATab>
                            </ATabSwiperWrapper>
                        </ATabSwiper>
                        <ATabPanels>
                            <ATabPanel value="0">
                                <DisplayStepper steps={3}>
                                    <DisplayStepperItem number={1}>
                                        <h3 class="headline-3">Посетите</h3>
                                        <ARte class="body-l-light">
                                            <p>
                                                <a href="#"
                                                    >ближайший офис Новикомбанка</a
                                                > или <a href="#"
                                                    >закажите консультацию</a
                                                > сотрудника Банка по&nbsp;телефону
                                            </p>
                                        </ARte>
                                    </DisplayStepperItem>
                                    <DisplayStepperItem number={2}>
                                        <h3 class="headline-3">Подпишите</h3>
                                        <ARte class="body-l-light">
                                            <p>
                                                все необходимые документы
                                                в&nbsp;офисе
                                            </p>
                                        </ARte>
                                    </DisplayStepperItem>
                                    <DisplayStepperItem number={3}>
                                        <h3 class="headline-3">Внесите</h3>
                                        <ARte class="body-l-light">
                                            <p>деньги на&nbsp;счет вклада</p>
                                        </ARte>
                                    </DisplayStepperItem>
                                </DisplayStepper>
                            </ATabPanel>
                            <ATabPanel value="1">
                                <DisplayStepper steps={4}>
                                    <DisplayStepperItem
                                        number={1}
                                        color="yellow"
                                    >
                                        <ARte class="body-l-light">
                                            <p>
                                                Заполните заявку
                                                и&nbsp;подготовьте комплект
                                                документов
                                            </p>
                                        </ARte>
                                    </DisplayStepperItem>
                                    <DisplayStepperItem
                                        number={2}
                                        color="yellow"
                                    >
                                        <ARte class="body-l-light">
                                            <p>
                                                Получите консультацию
                                                специалиста по&nbsp;телефону
                                            </p>
                                        </ARte>
                                    </DisplayStepperItem>
                                    <DisplayStepperItem
                                        number={3}
                                        color="yellow"
                                    >
                                        <ARte class="body-l-light">
                                            <p>
                                                Согласуйте текст гарантии
                                                и&nbsp;подпишите документы
                                            </p>
                                        </ARte>
                                    </DisplayStepperItem>
                                    <DisplayStepperItem
                                        number={4}
                                        color="yellow"
                                    >
                                        <ARte class="body-l-light">
                                            <p>Получите решение</p>
                                        </ARte>
                                    </DisplayStepperItem>
                                </DisplayStepper>
                            </ATabPanel>
                        </ATabPanels>
                    </div>
                </ATabs>
            </div>
        </div>

        <div class="ui-section">
            <SectionTitle class="ui-section-title" titleClass="headline-2"
                >&lt;CardRating&gt;</SectionTitle
            >

            <div class="ui-grid">
                <div>
                    <CardRating
                        title="Рейтинги Банка НОВИКОМ"
                        image="/assets/big-illustrations/large-business/bank-rating.png"
                    >
                        <AList class="card-rating__list" size="l" isHeavy>
                            <li>АКРА&nbsp;&mdash; &laquo;А+(RU)&raquo;</li>
                            <li>НКР&nbsp;&mdash; &laquo;АА-.ru&raquo;</li>
                            <li>Эксперт РА&nbsp;&mdash; ruA+</li>
                        </AList>
                    </CardRating>
                </div>
            </div>
        </div>
    </div>
    <Fragment slot="footer">footer</Fragment>
</DefaultPageLayout>

<style lang="scss">
    @use "sass:map";
    @import "@styles/variables";
    .ui-section {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        margin: 60px 0;
    }

    .ui-grid {
        display: flex;
        grid-template-columns: 100%;
        flex-direction: column;
        gap: 1rem;
        height: 100%;
        align-items: flex-start;
    }

    .ui-section-title {
        margin-bottom: 24px;
    }

    .ui-description {
        margin: 0;
        font-size: 14px;
    }

    .ui-dark-bg,
    .ui-dark-light-bg,
    .ui-light-bg {
        padding: 16px 24px;
        border-radius: 0.25rem;
    }

    .ui-dark-bg {
        background-color: var(--dark-30);
    }

    .ui-dark-light-bg {
        background-color: var(--dark-70);
    }

    .ui-light-bg {
        background-color: var(--dark-10);
    }

    .ui-row {
        display: flex;
        align-items: flex-start;
        flex-wrap: wrap;
        gap: 1rem;
    }

    .ui-grid {
        display: grid;
    }

    .ui-grid-items-a-stretch {
        align-items: stretch;
    }

    .ui-grid-col-2 {
        grid-template-columns: 1fr 1fr;
    }

    .ui-grid-col-2 {
        grid-template-columns: 1fr 1fr;
    }

    .ui-grid-col-3 {
        grid-template-columns: 1fr 1fr 1fr;
    }

    .ui-gap-1 {
        gap: 1rem;
    }

    .ui-gap-2 {
        gap: 2rem;
    }
</style>
