---
import SectionLayout from "../layouts/SectionLayout.astro";
import ATag from "../ui/ATag/ATag.astro";
import SliderSlide from "../common/Sliders/common/SliderSlide/SliderSlide.astro";
import OfferCard, {
    type OfferCardColor,
} from "../common/OfferCard/OfferCard.astro";
import SectionTitle from "../ui/SectionTitle/SectionTitle.astro";
import PersistentSlider from "../common/Sliders/PersistentSlider/PersistentSlider.astro";

const offerCards = [
    {
        title: "Программа «Кешбэк»",
        description: "",
        imgSrc: "assets/big-illustrations/large-individual/contribution-rentier.png",
        href: "#",
        beforeNumberText: "до",
        numberText: "15,5%",
        afterNumberText: "",
        buttonText: "Открыть вклад",
        tagText: "Частным клиентам",
        cardColor: "green" as OfferCardColor,
    },
    {
        title: "Ипотека по программе <br>«IT-ипотека»",
        description: "",
        imgSrc: "assets/big-illustrations/large-individual/it-mortgage.png",
        href: "#",
        beforeNumberText: "от",
        numberText: "4,8%",
        afterNumberText: "",
        buttonText: "Подать заявку",
        tagText: "Частным клиентам",
        cardColor: "orange" as OfferCardColor,
    },
    {
        title: "Кредит<br>на образование",
        description: "",
        imgSrc: "assets/big-illustrations/large-individual/credit-education.png",
        href: "#",
        beforeNumberText: "от",
        numberText: "16%",
        afterNumberText: "",
        buttonText: "Оформить",
        tagText: "Частным клиентам",
        cardColor: "yellow" as OfferCardColor,
    },
    {
        title: "Программа «Кешбэк»",
        description: "",
        imgSrc: "assets/big-illustrations/large-individual/contribution-rentier.png",
        href: "#",
        beforeNumberText: "до",
        numberText: "15,5%",
        afterNumberText: "",
        buttonText: "Открыть вклад",
        tagText: "Частным клиентам",
        cardColor: "green" as OfferCardColor,
    },
    {
        title: "Ипотека по программе <br>«IT-ипотека»",
        description: "",
        imgSrc: "assets/big-illustrations/large-individual/it-mortgage.png",
        href: "#",
        beforeNumberText: "от",
        numberText: "4,8%",
        afterNumberText: "",
        buttonText: "Подать заявку",
        tagText: "Частным клиентам",
        cardColor: "orange" as OfferCardColor,
    },
    {
        title: "Кредит<br>на образование",
        description: "",
        imgSrc: "assets/big-illustrations/large-individual/credit-education.png",
        href: "#",
        beforeNumberText: "от",
        numberText: "16%",
        afterNumberText: "",
        buttonText: "Оформить",
        tagText: "Частным клиентам",
        cardColor: "yellow" as OfferCardColor,
    },
];
---

<SectionLayout class="section-see-also">
    <div class="content-container">
        <SectionTitle titleClass="headline-2" usePadding
            >Смотрите также</SectionTitle
        >
        <PersistentSlider
            spaceBetween="mobile-s:8,mobile:8,tablet:16,tablet-album:40,laptop:40,laptop-x:40,desktop:40"
            slidesPerView="mobile-s:1,mobile:1,tablet:2,tablet-album:2,laptop:3,laptop-x:3,desktop:3"
        >
            {
                offerCards.map((card) => (
                    <SliderSlide>
                        <OfferCard
                            imgSrc={card.imgSrc}
                            color={card.cardColor}
                            textButton={card.buttonText}
                            title={card.title}
                            description={card.description}
                            textIndicating={{
                                text: card.numberText,
                                beforeText: card.beforeNumberText,
                                afterText: card.afterNumberText,
                            }}
                        >
                            {card.tagText && (
                                <div class="offer-card__tag" slot="tag">
                                    <ATag>{card.tagText}</ATag>
                                </div>
                            )}
                        </OfferCard>
                    </SliderSlide>
                ))
            }
        </PersistentSlider>
    </div>
</SectionLayout>
