---
// табилца с лейблами и перестроением, используется в табах для процентных ставок

interface Props {
    tableData: object
}

const {tableData} = Astro.props
---

<div class="table-adaptive">
    <div class="table-adaptive__header">
        <div class="table-adaptive__row">
            {
                tableData.header.map((item) => (
                        <div class="table-adaptive__cell">
                            <span class="body-s-light">{item}</span>
                        </div>
                ))
            }
        </div>
    </div>
    <div class="table-adaptive__body">
        {
            tableData.body.map((row, idx) => (
                    <div class="table-adaptive__row">
                        {
                            row.cells.map((cell) => (
                                    <div class=`table-adaptive__cell ${cell.className}`>
                                        <span class="table-adaptive__label body-s-light">{tableData.header[idx]}</span>
                                        <span set:html={cell.text}></span>
                                    </div>
                            ))
                        }
                    </div>
            ))
        }
    </div>
</div>

<style lang="scss" is:global>
  @use "sass:map";
  @import "@styles/media-queries";

  .table-adaptive {
    width: 100%;

    &__header {
      display: none;

      @include use-media(tablet) {
        display: initial;
        color: var(--dark-70);
      }

      & .table-adaptive__row {
        border-bottom: none;

        @include use-media(laptop-x) {
          padding: 1rem 0;
        }
      }
    }

    &__body {
      width: 100%;

      display: flex;
      flex-direction: column;
      align-items: start;
    }

    &__row {
      display: flex;
      flex-direction: column;
      align-items: start;
      gap: 1rem;

      border-bottom: 1px dashed var(--blue-30);
      padding: 1rem 0;
      width: 100%;

      @include use-media(tablet) {
        flex-direction: row;
        align-items: center;
      }

      @include use-media(laptop-x) {
        padding: 1.5rem 0;
        gap: 2.5rem;
      }
    }

    &__cell {
      @include use-media(tablet) {
        min-width: 12.5rem; //200px
      }

      @include use-media(laptop-x) {
        max-width: 50rem; //800px
      }

      & p:not(:last-child) {
        margin-bottom: .5em;

        @include use-media(laptop-x) {
          margin-bottom: .75em;
        }
      }
    }

    &__label {
      color: var(--dark-70);
      margin-bottom: .5rem;
      font-weight: 400;
      display: block;

      @include use-media(tablet) {
        display: none;
      }
    }
  }

</style>
