---
import PatternBg from "@components/common/Pattern/PatternBg.astro";
import ABreadcrumbs from "../ui/ABreadcrumbs/ABreadcrumbs.astro";
interface Breadcrumb {
	title: string;
	url: string;
}

interface Props {
	breadcrumbs?: Breadcrumb[];
	title?: string;
	description?: string;
	backgroundColor?: 'blue' | 'heavy-purple' | 'heavy-violet';
    borderColor?: 'green' | 'none';
    img?: string;
	type?: string;
}

const {
	breadcrumbs,
	title,
	description,
	backgroundColor = 'blue',
    borderColor = 'green',
    img,
	type,
} = Astro.props as Props;
---

<div class:list={[
	'text-banner',
	`text-banner--${backgroundColor}`,
	`${type ? `text-banner--type-${type}` : ''}`,
	`text-banner--border-${borderColor}`,
]}>
	<div class="content-container">
        <div class="text-banner__inner">
            <div class="text-banner__content">
                {breadcrumbs &&
                    breadcrumbs.length > 0 && (
                        <ABreadcrumbs
                            links={breadcrumbs}
                        />
                    )
                }
                <div class="text-banner__title headline-0" set:html={title}></div>
                <div class="text-banner__description body-l-light" set:html={description}></div>
            </div>
            {
                img && (
                    <img class="text-banner__img" src={img} />
                )
            }
        </div>
	</div>
	<PatternBg theme="dark" type="section" />
</div>

<style lang="scss" is:global>
	@import "@styles/media-queries";

	.text-banner {
		position: relative;
		min-height: 20rem;
		overflow: hidden;

        &.text-banner--blue {
            background: linear-gradient(42.24deg, #383A74 20%, #2E1B52 80%);
        }

        &.text-banner--heavy-purple {
            background: linear-gradient(222.24deg, #101317 20%, #5A2375 80%);
        }

        &.text-banner--heavy-violet {
            background: linear-gradient(222.24deg, #101317 20%, #6655A2 80%);
        }

        &.text-banner--border-green {
            border-top: 0.5rem solid var(--green-100);
        }

        &.text-banner--border-none {
            border-top: none;
        }

        &__inner {
            display: flex;
            justify-content: space-between;
            position: relative;
            z-index: 1;
        }

		&__content {
			display: flex;
			flex-direction: column;
			gap: 1rem;
			padding: 2.5rem 0;

			@include use-media(tablet-album) {
				gap: 1.5rem;
				padding: 2.5rem;
			}
		}

		&__title,
		&__description {
			color: var(--dark-0);
		}

        &__img {
            display: none;
            transform: translateX(2.5rem);
            width: 100%;
            height: 100%;
            max-width: 20rem;
            max-height: 20rem;

            @include use-media(tablet) {
                display: block;
            }

            @include use-media(tablet-album) {
                max-width: 25rem;
                max-height: 25rem;
            }
        }

		@include use-media(tablet-album) {
			min-height: 25rem;
		}

		&--type-corp {
			border-top-color: var(--orange-100);
		}

		&--blue {
			background: linear-gradient(42.24deg, #383A74 20%, #2E1B52 80%);
		}

		&--heavy-purple {
            background: linear-gradient(222.24deg, #101317 20%, #5A2375 80%);
        }

        &--heavy-violet {
            background: linear-gradient(222.24deg, #101317 20%, #6655A2 80%);
        }
	}
</style>
