---
import AIcon from "../../AIcon.astro";

type Size = 'l' | 'm';

interface Props {
	checked?: boolean;
	id: number | string;
    name: string;
	size: Size;
	class?: string;
}

const {
	class: className,
	checked,
    name,
	id,
	size = 'l'
} = Astro.props as Props;
---

<div
	class="a-checkbox js-a-checkbox"
	class:list={[
		className,
		`a-checkbox--size-${size}`,
	]}
>
	<label class="a-checkbox__inner" for={id}>
		<input
			class="a-checkbox__input"
			id={id}
			type="checkbox"
			checked={checked}
			name={name}
		/>
		<span class="a-checkbox__box">
			<AIcon class="a-checkbox__icon" symbolId="icon-check" size="s" />
		</span>
		{
			Astro.slots['label'] && (
			<span class="a-checkbox__label">
				<slot name="label" />
			</span>
			)
		}
	</label>
</div>

<style lang="scss" is:global>
	.a-checkbox {
		$root: #{&};

		position: relative;

		&__inner {
			cursor: pointer;
			display: inline-flex;
            align-items: center;
			gap: 1rem;
		}

		&__input {
			position: absolute;
			-webkit-appearance: none;
			-moz-appearance: none;
			appearance: none;
		}

		&__box {
			border: 1px solid var(--purple-30);
			border-radius: 0.125rem;
			display: flex;
			align-items: center;
			justify-content: center;
			flex-shrink: 0;
			transition: border-color ease .33s, background-color ease .33s;
		}

		&__icon {
			opacity: 0;
			color: var(--dark-0);
		}

		&__label {
			transition: color ease .33s;
		}

		&__input:checked + &__box {
			background-color: var(--blue-100);
			border-color: var(--blue-100);
		}

		&__input:checked + &__box &__icon {
			opacity: 1;
		}

		&:hover & {
			&__box {
				border-color: var(--blue-100);
			}
		}

		&--size-l {
			#{$root}__box {
				width: 2rem;
				height: 2rem;
			}
		}

		&--size-m {
			#{$root}__box {
				width: 1.5rem;
				height: 1.5rem;
			}
		}

		& a {
			color: var(--blue-100);
			text-decoration: underline;
		}
	}


</style>
