mixin accordion(items, id, type)
    -
        var accordionSelector = `#${id}`
    .custom-accordion.accordion.accordion-flush(id=id)
        each item, index in items
            -
                var itemId = `${id}-${index+1}`
                var itemSelector = `#${itemId}`
            .custom-accordion__item.accordion-item(class=index===0 && 'active')
                h5.accordion-header.py-0
                    button.w-100.text-start.d-flex.align-items-center.justify-content-between.h5.fw-normal.py-3.py-md-4.py-lg-5.gap-3.shadow-none(class=index!==0 && 'collapsed', type="button", data-bs-toggle="collapse", data-bs-target=itemSelector, aria-expanded=`${index===0}`, aria-controls=itemId)
                        !=item.title
                        +svg-use("icon-chevron-down", "icon size-m violet-100")
                .accordion-collapse.collapse(class=index===0 && 'show', id=itemId, data-bs-parent=accordionSelector)
                    .accordion-body.d-flex.flex-column.gap-4.py-0.pb-4.pb-lg-5.ps-2.ps-sm-3.ps-lg-4
                        .custom-accordion__content.text-m.dark-70!= item.content
                        if item.linkList
                            .custom-accordion__link-list
                                each link in item.linkList
                                    +document-download(link)