mixin pagination(data, position='center', size)
    nav
        -
            var activeIndex = 0;
        ul.pagination.d-none.d-md-flex(class=`justify-content${position}`, class=size && `pagination-${size}`)
            if data.prevLink
                li.page-item
                    a.page-link(href=data.prevLink)
                        +svg-use("icon-chevron-left", "icon size-m")
            if data.firstLink
                li.page-item
                    a.page-link(href=data.firstLink.link)!= data.firstLink.linkText
                li.page-item
                    .page-link
                        +svg-use("icon-more", "icon size-m")
            each item, index in data.list
                -
                    if (item.isActive)
                        activeIndex = index + 1
                li.page-item(class=item.isActive && "active", aria-current=item.isActive && "page")
                    a.page-link(href=item.link)!= item.linkText
            if data.lastLink && data.lastLink.linkText !== data.list.at(-1).linkText
                li.page-item
                    .page-link
                        +svg-use("icon-more", "icon size-m")
                li.page-item
                    a.page-link(href=data.lastLink.link)!= data.lastLink.linkText
            if data.nextLink
                li.page-item
                    a.page-link(href=data.nextLink)
                        +svg-use("icon-chevron-right", "icon size-m")
        ul.pagination.d-flex.d-md-none.justify-content-between
            if data.prevLink
                li.page-item
                    a.page-link(href=data.prevLink)
                        +svg-use("icon-chevron-left", "icon size-m")
            else
                li.page-item.page-item--disabled
                    a.page-link(href='#')
                        +svg-use("icon-chevron-left", "icon size-m dark-50")
            li.min-w-50
                form
                    .position-relative.w-100
                        select#pagination-select(aria-label="Выбрать страницу" data-placeholder=`${activeIndex}/${data.lastLink.linkText}`).form-select.form-select--size-small.js-select
                            option
                            -
                                var n = 0
                            while n < +data.lastLink.linkText
                                -
                                    n++
                                option(value=n)!= n
            if data.nextLink
                li.page-item
                    a.page-link(href=data.nextLink)
                        +svg-use("icon-chevron-right", "icon size-m")