// tabsList - array
// link - str
// tabsClassName - str
// tabItemClassName - str
// isSmallTabs - bool

mixin tabs(tabsList, tabsClassName, tabItemClassName, isSmallTabs=false)
    .tabs-panel.js-tabs-slider.overflow-hidden.position-relative(class=isSmallTabs && 'tabs-panel--small')&attributes(attributes)
        .tabs-panel__navigation.d-none.d-lg-block.js-tabs-slider-navigation.w-100
            span.tabs-panel__navigation-item.tabs-panel__navigation-item-reverse.js-tabs-slider-navigation-prev.d-flex.align-items-center.justify-content-start.px-1.z-3.position-absolute.swiper-button-disabled
                span.icon.size-m
                    +svg-use("icon-chevron-left")
            span.tabs-panel__navigation-item.js-tabs-slider-navigation-next.d-flex.align-items-center.justify-content-end.px-1.z-3.position-absolute.swiper-button-disabled
                span.icon.size-m
                    +svg-use("icon-chevron-right")

        ul.swiper-wrapper.tabs-panel__list.nav.nav-tabs.d-inline-flex.flex-nowrap.w-auto.p-0.border.border-purple.rounded(class=tabsClassName)
            each tab, index in tabsList
                li.swiper-slide.w-auto.tabs-panel__list-item.nav-item.z-2
                    if tab.isActive
                        a.tabs-panel__list-item-link.nav-link.bg-transparent.active(class=tabItemClassName, aria-current="page", href=tab.link, data-bs-toggle=tab.id && "collapse", data-bs-target=tab.id && '#'+tab.id, aria-expanded=tab.id && 'true', class=tab.id && 'collapsed')= tab.linkText
                    else
                        a.tabs-panel__list-item-link.nav-link.bg-transparent(class=tabItemClassName, href=tab.link, data-bs-toggle=tab.id && "collapse", data-bs-target=tab.id && '#'+tab.id, aria-expanded=tab.id && 'false', class=tab.id && 'collapsed')= tab.linkText
