include ../../../components/forms/input
include ../../../components/forms/select
include ../../../components/forms/captcha
include ../../../components/forms/confirm

-
    var consultationForm = {
        formName: "consultation",
        selects: [
            {
                id: "region",
                label: "Регион",
                options: ["Москва", "Москва", "Москва"],
                placeholder: "Выберите регион",
            },
            {
                id: "subject-question",
                label: "Тема вопроса",
                options: ["Вопрос по резервированию", "Вопрос по резервированию", "Вопрос по резервированию"],
                required: true,
            },

        ],
        inputs: [
            {
                id: "organization",
                label: "Наименование организации",
                placeholder: "Укажите организацию",
                required: true,
                hidden: true,
                hint: "Полное или краткое согласно учредительным документам",
            },
            {
                id: "inn",
                label: "ИНН",
                placeholder: "Введите ИНН",
                required: false,
                hidden: true,
                mask: "inn"
            },
            {
                id: "phone",
                label: "Телефон",
                placeholder: "+7",
                required: true,
                mask: "phone"
            },
            {
                id: "e-mail",
                label: "E-mail",
                placeholder: "Введите почту",
                type: "email",
                required: true,
            },
        ],
    }

form(action="/" method="POST" novalidate id="callback-form" data-form).application-form
    .application-form__step(data-form-validate-group)
        .row.g-1.g-md-2.g-lg-2_5
            .application-form__col.col-12
                +select(consultationForm.selects[0], consultationForm.formName)
            .application-form__col.col-12.col-md-8
                +input(consultationForm.inputs[0], consultationForm.formName)
            .application-form__col.col-12.col-md-4
                +input(consultationForm.inputs[1], consultationForm.formName)
            .application-form__col.col-12.col-md-6
                +input(consultationForm.inputs[2], consultationForm.formName)
            .application-form__col.col-12.col-md-6
                +input(consultationForm.inputs[3], consultationForm.formName)
            .application-form__col.col-12
                +select(consultationForm.selects[1], consultationForm.formName)
            .application-form__col.col-12
                +captcha(consultationForm.formName)
            .application-form__col.col-12
                +confirm(consultationForm.formName)
        .d-flex.flex-column.align-items-center.flex-md-row.row-gap-3.column-gap-5.column-gap-lg-6.mt-6.mt-lg-7
            button.btn.btn-primary.btn-lg-lg.w-100.w-md-auto(type="submit" disabled aria-disabled="true" data-form-button) Отправить
            div.text-m.orange-100.text-center(data-form-error)
    div(
        hidden
        aria-hidden="true"
        data-success-title="Ваша заявка успешно отправлена!"
        data-success-info="Мы ответим на вашу заявку, по выбранному способу связи, как только получим и обработаем её"
        data-error-title="Не удалось отправить заявку"
        data-error-info="Проверьте правильно ли указаны все данные и отправьте обращение снова"
    ).js-message
