---
import type { ASliderInputType } from './interfaces';
import ASliderInputText from "./ASliderInputText/ASliderInputText.astro";

interface Props {
	class?: string;
	stepSize?: number;
	minValue?: number;
	maxValue?: number;
	startValue: number;
	label?: string;
	id: string;
	type: ASliderInputType;
	editable?: boolean
	steps?: Array<number>
}

const {
	class: className,
	stepSize= 1,
	minValue = 0,
	maxValue = 100,
	startValue = 0,
	label,
	id,
	type = 'price',
	editable = false,
	steps = [],
} = Astro.props as Props;
---

<div
	class="a-slider-input js-a-slider-input"
	class:list={[className]}
	data-type={type}
	data-steps={steps}
	data-start-value={startValue}
	data-max-value={steps.length ? false : maxValue}
	data-min-value={steps.length ? false : minValue}
	data-step-size={stepSize}
>
	{
		label && (<label for={id} class="a-slider-input__label body-s-light dark-70">{label}</label>)
	}
	{
		editable
			? (
				<ASliderInputText />
			)
			: (
				<div class="a-slider-input__display-value js-a-slider-input-display-value headline-3"></div>
			)
	}
	<div class="a-slider-input__inner js-a-slider-input-inner">
		<input
			id={id}
			class="a-slider-input__slider js-a-slider-input-slider"
			type="range"
			step="1"
			min="0"
			max="1"
			value="0"
		>
	</div>
	<div class="a-slider-input-text-steps js-a-slider-input-text-steps"></div>
</div>

<script>
	import initASliderInput from './';
	import {JS_CLASSES} from './';
	import type { ASliderInputState } from './interfaces';

	const sliderInputs: NodeListOf<HTMLDivElement> = document.querySelectorAll(JS_CLASSES.root);

	sliderInputs.forEach((input) => {
		const slider = initASliderInput(input);

		slider?.elements.root.addEventListener('input', (e) => {
			console.log(e);
		});
	});
</script>

<style lang="scss" is:global>
	.a-slider-input {
		&__label {
			display: block;
		}

		&__label, &__display-value {
			margin-bottom: 0.5rem;
			padding: 0 1rem;
		}

		&__display-value {
			padding: 0.438rem 1rem;
		}

		&__inner {
			position: relative;
			display: flex;
			align-items: center;
			z-index: 1;
			height: 1.5rem;
		}

		&__slider {
			position: relative;
			height: 0.25rem;
			width: 100%;
			appearance: none;
			background: var(--blue-30);
			border-radius: 0.25rem;
			z-index: 1;

			&::-webkit-slider-thumb {
				height: 1.5rem;
				width: 1.5rem;
				background: var(--blue-100);
				appearance: none;
				border-radius: 100%;
				border: 0.125rem solid var(--dark-10);
				cursor: grab;
			}

			&::-moz-range-thumb {
				height: 1.5rem;
				width: 1.5rem;
				background: var(--blue-100);
				appearance: none;
				border-radius: 100%;
				border: 0.125rem solid var(--dark-10);
				cursor: grab;
			}
		}
	}

	.a-slider-input-text-steps {
		display: flex;
		justify-content: space-between;
		align-items: center;
		gap: 0.5rem;
		height: 1.5rem;
	}

	.a-slider-input-text-step {
		text-align: center;
		text-wrap: nowrap;

		&:first-child {
			text-align: left;
		}

		&:last-child {
			text-align: right;
		}
	}

	.a-slider-input-step {
		position: absolute;
		width: 0.125rem;
		height: 0.75rem;
		background-color: var(--blue-30);
		border-radius: 0.125rem;
		top: 50%;
		transform: translate(-50%, -50%);
		z-index: 0;

		&.is-active {
			background-color: var(--blue-100);
		}
	}
</style>
