include ../../components/stepper

-
    var sectionTitle = "Как реструктуризировать задолженность"

    var allSteps = [
        {
            imageSrc: "step-indicator-1.svg",
            text: "Оформите заявку на сайте или у кредитного менеджера в офисе Новиком"
        },
        {
            imageSrc: "step-indicator-2.svg",
            text: "Получите ответ кредитного специалиста Новикома в течение 10 дней"
        },
        {
            imageSrc: "step-indicator-3.svg",
            text: "Подпишите документы в случае одобрения реструктуризации"
        },
    ]

section.section-restructuring-steps.section-layout.bg-dark-10
    .container
        .row.px-lg-6
            .h3.d-none.d-md-flex
                =sectionTitle
            a(
                data-bs-toggle="collapse"
                href="#restructuring-steps-content"
                role="button"
                aria-expanded="false"
                aria-controls="restructuring-steps-content"
            ).h3.d-flex.align-items-center.justify-content-between.dark-100.d-md-none
                =sectionTitle
                +svg-use("icon-chevron-down", "icon size-m violet-100")
        #restructuring-steps-content.section-restructuring-steps__wrapper.collapse.d-md-block.mt-6.mt-lg-7
            .row.row-gap-6.px-lg-6
                +stepper(allSteps, allSteps.length)
