extends ../templates/base

block title
    title= 'О банке - Награды'
    meta(name="description" content="Описание страницы с наградами")
block content

    -
        var bannerTextData = {
            title: "Награды",
            breadcrumbsArray: [
                {linkText: "О банке", link: "/"}
            ],
            description: "",
        }
        
        var tabsList = [
            {
                link: '#year-2024',
                id: 'year-2024',
                linkText: '2024 год',
                isActive: true
            },
            {
                link: '#year-2023',
                id: 'year-2023',
                linkText: '2023 год',
                isActive: false
            },
        ]

        var awardList2024 = [
            {
                title: 'Август',
                year: '2024',
                text: 'НОВИКОМ отмечен в номинации «За вклад в организацию и проведение международного военно-технического форума «Армия»',
                imageSrc: 'img/awards/individual-certificate.png',
            },
            {
                title: 'Май',
                year: '2024',
                text: 'Банк НОВИКОМ стал лауреатом Всероссийского конкурса образовательных программ и просветительских проектов кредитных организаций в интересах субъектов малого и среднего предпринимательства. Организаторы конкурса – Ассоциация развития финансовой грамотности и Ассоциация банков России – высоко оценили курс финансовой грамотности для МСП дочернего банка Госкорпорации Ростех',
                imageSrc: 'img/awards/individual-cup.png',
            },
            {
                title: 'Май',
                year: '2024',
                text: 'НОВИКОМ получил две награды премии FINAWARD. Дочерний банк Ростеха стал лауреатом ежегодной премии в области инноваций и достижений финансовой отрасли FINAWARD 2024. НОВИКОМ победил в специальной номинации за организацию первого в стране выпуска ЦФА для предприятия оборонно-промышленного комплекса. Отдельного диплома удостоились инновационные решения банка, нацеленные на улучшение клиентского опыта.',
                imageSrc: 'img/awards/individual-medal.png',
            },
            {
                title: 'Май',
                year: '2024',
                text: 'Торгово-промышленная палата РФ присудила НОВИКОМу победу в дополнительной номинации конкурса «Лучшая банковская программа для МСП – 2024». Экспертный совет назвал банк лучшим в развитии и продвижении инвестиционных возможностей для бизнеса. Помимо победы в дополнительной номинации, НОВИКОМ вошел в ТОП-3 лучших региональных банков с универсальной и базовой лицензией по итогам голосования предпринимателей.',
                imageSrc: 'img/awards/individual-certificate.png',
            },
            {
                title: 'Апрель',
                year: '2024',
                text: 'В Туле состоялся финал регионального этапа конкурса в области предпринимательской деятельности «Золотой Меркурий», генеральным партнером которого выступил Новикомбанк. На торжественной церемонии опорный банк госкорпорации Ростех получил награду в номинации «Лучшая банковская программа для МСП»',
                imageSrc: 'img/awards/individual-cup.png',
            },
            {
                title: 'Февраль',
                year: '2024',
                text: 'В рамках премии «Хедлайнеры ESG-принципов» Председателю Правления Новикомбанка Елене Георгиевой присуждена награда в номинации «Хедлайнер в реализации социальных программ внутрикорпоративных и внешних по взаимодействию c обществом (S)». Руководитель опорного банка Госкорпорации Ростех отмечена за внедрение лучших практик в области устойчивого развития. Премия «Хедлайнеры ESG-принципов» направлена на популяризацию и выявление профессионалов, погруженных в процесс внедрения ESG-принципов в деятельность своих компаний. Торжественная церемония награждения состоялась 29 февраля 2024 года в Доме журналистов в Санкт-Петербурге.',
                imageSrc: 'img/awards/individual-medal.png',
            }
        ]

        var awardList2023 = [
            {
                title: 'Декабрь',
                year: '2023',
                text: 'Опорный банк Госкорпорации Ростех стал победителем премии «Финансовая элита России» в номинации «Программа лояльности с максимальной выгодой». Жюри одной из старейших премий российского финансового рынка отметило программу лояльности Новикомбанка как наиболее интересное, а главное выгодное для клиента предложение среди систем поощрения российских банков',
                imageSrc: 'img/awards/individual-certificate.png',
            },
            {
                title: 'Декабрь',
                year: '2023',
                text: 'Новикомбанк, опорный банк Госкорпорации Ростех, стал победителем XVII премии Retail Finance Awards за достижения в области развития розничного финансового бизнеса в России. Информационно-образовательный курс по финансовой грамотности Новикомбанка был отмечен двумя наградами — за лучший социальный проект в категории «Выбор читателей» и в номинации «Цивилизация».',
                imageSrc: 'img/awards/individual-cup.png',
            },
            {
                title: 'Декабрь',
                year: '2023',
                text: 'Научно-исследовательский финансовый институт Минфина России объявил шорт-лист премии «ФинЗОЖ эксперт». Конкурс популяризует распространение навыков безопасного финансового поведения среди граждан. Курс по финансовой грамотности Новикомбанка представлен в шорте-листе финалистов премии.',
                imageSrc: 'img/awards/individual-medal.png',
            },
            {
                title: 'Декабрь',
                year: '2023',
                text: '07 декабря в Москве состоялась конференция GPM Awards Russia 2023, в рамках которой были награждены победители одноименного конкурса. Премия GPM Awards Russia 2023 по направлению «Люди» вручена Председателю Правления Новикомбанка Елене Георгиевой за Политику в области социальной направленности банковских продуктов.',
                imageSrc: 'img/awards/individual-certificate.png',
            },
            {
                title: 'Ноябрь',
                year: '2023',
                text: 'В Калуге прошла традиционная церемония вручения наград премии «Бренд года», которую организовало агентство «Комсомольская правда - Калуга». Статуэтки и дипломы получили представители более 50 предприятий и организаций. Опорный банк Госкорпорации Ростех впервые победил в номинации «Страховые и банковские услуги».',
                imageSrc: 'img/awards/individual-cup.png',
            },
            {
                title: 'Ноябрь',
                year: '2023',
                text: 'Новикомбанк отмечен медалью «30 лет успешной деятельности на банковском рынке России». В торжественной обстановке Александр Мурычев также вручил Председателю Правления Новикомбанка Елене Георгиевой Орден «России честь приумножая» за большой личный вклад в развитие экономики страны.',
                imageSrc: 'img/awards/individual-medal.png',
            },
            {
                title: 'Октябрь',
                year: '2023',
                text: 'В финале корпоративных игр ВФСО «Трудовые резервы» с Сочи наша команда спортсменов получила кубок «Самый спортивный банк»',
                imageSrc: 'img/awards/individual-certificate.png',
            },
            {
                title: 'Август',
                year: '2023',
                text: 'Новикомбанк ежегодно участвует в Международном военно-техническом форуме «АРМИЯ», выступая генеральным финансовым партнером. В 2022 году опорный банк Ростеха третий год подряд получил диплом за лучший стенд: оргкомитет форума высоко оценил его креативность и технологичность.',
                imageSrc: 'img/awards/individual-cup.png',
            },
            {
                title: 'Август',
                year: '2023',
                text: 'На XX Международном банковском форуме «Банки России ХХI век» в Сочи Ассоциация банков России (АБР) отметила заслуги Новикомбанка престижными отраслевыми наградами: Диплом в честь 30-летия со дня основания. Предправления Новикомбанка Елена Георгиева награждена почетным дипломом за личный вклад в развитие банковской отрасли. Серебряные знаки АБР вручены старшему вице-президенту Игорю Куржиямскому. Так же принято решение о включении Елены Георгиевой в состав Президиума Совета АБР.',
                imageSrc: 'img/awards/individual-medal.png',
            },
            {
                title: 'Май',
                year: '2023',
                text: 'Новикомбанк, опорный банк Госкорпорации Ростех, стал лауреатом премии «Финансист года» в номинации «Финансовая поддержка высокотехнологичных предприятий».',
                imageSrc: 'img/awards/individual-certificate.png',
            },
            {
                title: 'Февраль',
                year: '2023',
                text: 'Программа «Бонусы» Новикомбанка признана лучшей по итогам читательского рейтинга банковских программ лояльности, проведенного авторитетным журналом в области розничных финансов Retail Finance',
                imageSrc: 'img/awards/individual-medal.png',
            },
        ]

    include ../components/banners/banner-text
    include ../components/ui/tabs
    include ../components/ui/tabs-simple
    include ../cards/card-award
    include ../includes/header/header
    
    +banner-text(bannerTextData)

    section.section-layout.py-lg-11
        .container
            h3.mb-5.mb-lg-7
                | Рейтинги Банка НОВИКОМ
            .row
                .col-12
                    .d-none.d-lg-block.w-100
                        +tabs-simple(tabsList, false)
                    .d-block.d-lg-none.w-100
                        +tabs-simple(tabsList, true)
                    .tab-content.mt-5.mt-lg-7
                        #year-2024.tab-pane.fade.show.active(aria-labelledby="year-2024" tabindex="0" role="tabpanel")
                            .d-flex.flex-wrap.gap-4.gap-md-5.gap-xl-6
                                each award in awardList2024
                                    +card-award(award.imageSrc).h-auto.flex-basis-100.flex-basis-lg-33.flex-grow-1
                                        .d-flex.w-100.align-items-end.justify-content-between.mb-4
                                            h4.violet-100!= award.title
                                            .d-none.d-md-inline.h2.violet-100-important!= award.year
                                            .d-inline.d-md-none.h4.violet-100-important!= award.year
                                        p.mb-0!= award.text

                        #year-2023.tab-pane.fade(aria-labelledby="year-2023" tabindex="0" role="tabpanel")
                            .d-flex.flex-wrap.gap-4.gap-md-5.gap-xl-6
                                each award in awardList2023
                                    +card-award(award.imageSrc).h-auto.flex-basis-100.flex-basis-lg-33.flex-grow-1
                                        .d-flex.w-100.align-items-end.justify-content-between.mb-4
                                            h4.violet-100!= award.title
                                            .d-none.d-md-inline.h2.violet-100-important!= award.year
                                            .d-inline.d-md-none.h4.violet-100-important!= award.year
                                        p.mb-0!= award.text