extends ../templates/base

block title
    title= 'Финансирование и гарантии'
    meta(name="description" content="Описание главной страницы")
block content
    include ../includes/header/header
    include ../cards/card-service-app
    include ../components/banners/banner-text
    include ../components/announcement
    include ../components/ui/tabs-simple
    include ../cards/card-product
    include ../includes/layout/slider-card-product

    -
        var bannerTextData = {
            title: "Финансирование <br>и&nbsp;гарантии",
            breadcrumbsArray: [
                {linkText: "Корпоративным клиентам", link: "/"}
            ],
        }

        var tabsList = [
            {
                link: '#documents',
                id: 'documents',
                linkText: 'Документы и тарифы',
                isActive: true
            },
            {
                link: '#faq',
                id: 'faq',
                linkText: 'Вопросы и ответы',
                isActive: false
            },
        ]

        var cardProductListCorp = [
            {
                color: 'orange',
                tag: 'Корпоративным клиентам',
                title: 'Размещение денежных средств',
                img: 'large-corporate/deposits.png',
                link: 'Подробнее',
                description: 'Депозиты для корпоративных клиентов'
            },
            {
                color: 'orange',
                tag: 'Корпоративным клиентам',
                title: 'Меры господдержки',
                img: 'large-corporate/state-support.png',
                link: 'Подробнее',
                description: 'Льготное финансирование организациям'
            },
            {
                color: 'orange',
                tag: 'Корпоративным клиентам',
                title: 'Программа поощрения «Развитие»',
                img: 'large-corporate/program-development.png',
                link: 'Подробнее',
                description: 'Особые условия обслуживания в&nbsp;банке'
            },
            {
                color: 'orange',
                tag: 'Корпоративным клиентам',
                title: 'Размещение денежных средств',
                img: 'large-corporate/deposits.png',
                link: 'Подробнее',
                description: 'Депозиты для корпоративных клиентов'
            },
            {
                color: 'orange',
                tag: 'Корпоративным клиентам',
                title: 'Меры господдержки',
                img: 'large-corporate/state-support.png',
                link: 'Подробнее',
                description: 'Льготное финансирование организациям'
            },

        ]

        var cardList = [
            {
                href: "#",
                img: "large-corporate/crediting.png",
                title: "Корпоративное кредитование",
                description:
                        "Новиком предлагает кредитные продукты <br>специально под формат бизнеса",
                link: "Подробнее",
                color: "transparent",
                size: "large",
            },
            {
                href: "#",
                img: "large-corporate/checking-account.png",
                title: "Расчетный счет",
                description: "Открытие и&nbsp;ведение специального счета участника закупки по&nbsp;44-ФфЗ и&nbsp;223-ФЗ осуществляется бесплатно",
                link: "Подробнее",
                color: "transparent",
            },
            {
                href: "#",
                img: "large-corporate/guarantees.png",
                title: "Сопровождение контрактов",
                description:
                        "Обеспечение банковского сопровождения контрактов через открытие и&nbsp;ведение отдельных банковских счетов с&nbsp;бесплатным сопровождением сделки",
                link: "Подробнее",
                color: "transparent",
            },
        ];

        var productCards = [
            {
                title: "Страхование и&nbsp;оценка",
                description: "Страхование корпоративных рисков",
                icon: "icon-doc-certificate",
                iconColor: "orange-100",
                color: "transparent",
                link: "Подробнее",
            },
            {
                title: "Гарантии",
                description: "Выставление всех видов банковских гарантий",
                icon: "icon-a-reputation",
                iconColor: "orange-100",
                color: "transparent",
                link: "Подробнее",
            },
            {
                title: "Лизинг",
                description: "Новиком оказывает услуги лизинга через своего партнера&nbsp;&mdash; лизинговую компанию &laquo;Нацпромлизинг&raquo;",
                icon: "icon-a-car",
                iconColor: "orange-100",
                color: "transparent",
                link: "Подробнее",
            },
            {
                title: "Синдицированное кредитование",
                description: "Большой объем финансирования в&nbsp;рамках одной сделки",
                icon: "icon-a-money",
                iconColor: "orange-100",
                color: "transparent",
                link: "Подробнее",
            },
            {
                title: "Меры господдержки",
                description: "Льготное финансирование организациям",
                icon: "icon-a-bank",
                iconColor: "orange-100",
                color: "transparent",
                link: "Подробнее",
            },
            {
                title: "Карты",
                description: "Карта для совершения операций по&nbsp;счёту юридического лица",
                icon: "icon-a-cards",
                iconColor: "orange-100",
                color: "transparent",
                link: "Подробнее",
            },
            {
                title: "Cash Pooling",
                description: "Централизованное управление денежными потоками",
                icon: "icon-a-limits",
                iconColor: "orange-100",
                color: "transparent",
                link: "Подробнее",
            },
        ];

    +banner-text(
        bannerTextData,
        "orange",
        "bg-heavy-purple"
    )

    section.section-layout.bg-dark-10
        .container
            .row.row-gap-4.row-gap-md-5.row-gap-lg-7
                .card-offer-grid
                    each card in cardList
                        +card-product(card).card-product--bg-white

                .col-12
                    +card-service-app({
                        bgColor: 'purple',
                        title: "Интернет-банк для бизнеса",
                        benefits: [
                            {
                                icon: "icon-doc",
                                text: "Удаленный <br>документооборот"
                            },
                            {
                                icon: "icon-cash",
                                text: "Проведение <br>платежей"
                            },
                            {
                                icon: "icon-wallet",
                                text: "Управление <br>расчетными счетами"
                            }
                        ]
                    })
                        a(href="#").btn.btn-orange.d-none.d-md-inline-flex
                            | Перейти в интернет-банк
                        a(href="#").btn.btn-sm.btn-orange.d-md-none
                            | Перейти в интернет-банк


                .col-12.col-md-6.col-lg-4.pe-md-3.pe-lg-3-5
                    +card-product(productCards[0]).card-product--bg-white
                .col-12.col-md-6.col-lg-4.ps-md-3.ps-lg-3-5
                    +card-product(productCards[1]).card-product--bg-white
                .col-12.col-lg-4
                    +card-product(productCards[2]).card-product--bg-white
                .col-12.col-md-6.col-xl-3.pe-md-3.pe-lg-3-5
                    +card-product(productCards[3]).card-product--bg-white
                .col-12.col-md-6.col-xl-3.ps-md-3.ps-lg-3-5
                    +card-product(productCards[4]).card-product--bg-white
                .col-12.col-md-6.col-xl-3.pe-md-3.pe-lg-3-5
                    +card-product(productCards[5]).card-product--bg-white
                .col-12.col-md-6.col-xl-3.ps-md-3.ps-lg-3-5
                    +card-product(productCards[6]).card-product--bg-white
    section.section-layout.js-collapsed-mobile
        .container
            h3.d-none.d-md-block.mb-md-6.mb-lg-7.px-lg-6
                | Подробнее о&nbsp;услугах
            a(
                data-bs-toggle="collapse"
                href="#more-service"
                role="button"
                aria-expanded="false"
                aria-controls="more-service"
            ).h3.d-flex.align-items-center.justify-content-between.dark-100.d-md-none
                | Подробнее о&nbsp;услугах
                +svg-use("icon-chevron-down", "icon size-m violet-100")
            #more-service.collapse.d-md-block.mt-4.mt-md-6.mt-lg-7
                .row.px-lg-6
                    .col-12
                        +tabs-simple(tabsList, false)
                        .tab-content.mt-4.mt-md-6.mt-lg-7
                            #documents.tab-pane.fade.show.active(aria-labelledby="documents" tabindex="0" role="tabpanel")
                                include ../includes/layout/tabs/documents-corp-clients
                            #faq.tab-pane.fade(aria-labelledby="faq" tabindex="0" role="tabpanel")
                                include ../includes/layout/tabs/faq
        +pattern-bg('section-2', 'light', 'pattern-bg--hide-mobile')
    section.section-layout.bg-dark-10
        .container
            .row
                .col-12.col-xxl-6.d-flex.flex-column.gap-6.gap-lg-7

                    a(href="#").h3.d-flex.align-items-center.ps-lg-6.pt-xxl-6
                        span Объявления
                            |
                            |
                            span.d-none.d-md-inline для клиентов
                        span.icon.size-m.violet-100.ms-auto.ms-md-3
                            +svg-use("icon-chevron-right")

                    div.ps-lg-6.mt-xxl-auto.mw-100
                        .swiper.js-announcement-slider
                            -
                                var announcementList = [
                                    {
                                        date: '25.04.2024',
                                        title: 'Технические работы 30 апреля 2024 года в период с 0:00 до 3:30 (МСК)',
                                        link: '#'
                                    },
                                    {
                                        date: '25.04.2024',
                                        title: 'Режим работы клиентских офисов в мае',
                                        link: '#'
                                    },
                                    {
                                        date: '25.04.2024',
                                        title: 'Технические работы 30 апреля 2024 года в период с 0:00 до 3:30 (МСК)',
                                        link: '#'
                                    },
                                    {
                                        date: '25.04.2024',
                                        title: 'Режим работы клиентских офисов в мае',
                                        link: '#'
                                    },
                                    {
                                        date: '25.04.2024',
                                        title: 'Технические работы 30 апреля 2024 года в период с 0:00 до 3:30 (МСК)',
                                        link: '#'
                                    },
                                    {
                                        date: '25.04.2024',
                                        title: 'Режим работы клиентских офисов в мае',
                                        link: '#'
                                    }
                                ]
                            .swiper-wrapper
                                each item in announcementList
                                    .swiper-slide.js-announcement-slide
                                        +announcement(item)

                            +slider-controls().mt-3.mt-md-4
        +pattern-bg('section-2', 'light', 'pattern-bg--hide-mobile')
    section.section-layout
        .container
            h3.px-lg-6.mb-4.mb-md-6.mb-lg-7
                | Другие услуги для корпоративных клиентов
            +slider-card-product(cardProductListCorp)
