extends ../templates/base

block title
    title= 'Кредиты - Кредит на любые цели'
    meta(name="description" content="Описание страницы с кредитами")
block content

    include ../cards/card-text
    include ../cards/card-product
    include ../includes/header/header
    include ../components/banners/text-banner
    include ../components/banners/info-product-banner
    include ../components/ui/tabs
    include ../components/ui/tabs-simple
    include ../components/tabs-with-content
    include ../components/helper
    include ../components/benefit
    include ../components/step-item
    include ../components/banners/banner-product
    include ../includes/layout/slider-card-product

    -
        var allBenefits = [
            {
                spriteName: {
                    name: 'icon-a-date',
                    classList: 'size-xl'
                },
                title: 'От&nbsp;2&nbsp;до&nbsp;7&nbsp;рабочих дней',
                description: 'Срок рассмотрения кредитной заявки',
            },
            {
                spriteName: {
                    name: 'icon-a-money',
                    classList: 'size-xl'
                },
                title: 'От&nbsp;20&nbsp;000 <span class="currency">₽</span>',
                description: 'Минимальная сумма кредита',
            },
            {
                spriteName: {
                    name: 'icon-a-low-percent',
                    classList: 'size-xl'
                },
                title: 'Льготная ставка',
                description: 'Для заемщиков, получающих заработную плату на&nbsp;карту Банка',
            },
        ]

        var tabsList = [
            {
                link: '#calculator',
                id: 'calculator',
                linkText: 'Калькулятор',
                isActive: true
            },
            {
                link: '#loan-conditions',
                id: 'loan-conditions',
                linkText: 'Условия',
                isActive: false
            },
            {
                link: '#requirements',
                id: 'requirements',
                linkText: 'Требования к заемщику',
                isActive: false
            },
            {
                link: '#loan-repayment',
                id: 'loan-repayment',
                linkText: 'Погашение кредита',
                isActive: false
            },
            {
                link: '#documents',
                id: 'documents',
                linkText: 'Необходимые документы',
                isActive: false
            },
            {
                link: '#faq',
                id: 'faq',
                linkText: 'Вопросы и ответы',
                isActive: false
            },
        ]

    +banner-product(
        {
            title: "Кредит на&nbsp;любые цели для&nbsp;зарплатных клиентов",
            subtitle: "Воплощение задуманных планов и реализация любых целей уже сегодня!",
            imgSrc: "img/big-illustrations/large-individual/credit-for-any-purpose-salary-clients.png",
            bgColor: "heavy-violet",
            urlHref: "#",
            buttonText: "Оформить карту",
            benefits: [
                {
                    beforeNum: 'от',
                    num: '16,5%',
                    description: 'Минимальная ставка'
                },
                {
                    beforeNum: 'до',
                    num: '5 000 000',
                    currency: '₽',
                    description: 'Максимальная сумма кредита'
                },
                {
                    beforeNum: 'до',
                    num: '5 лет',
                    description: 'Максимальный срок выплаты'
                }
            ],
            breadcrumbsArray: [
                {
                    link: "#",
                    linkText: "Частным клиентам"
                },
                {
                    link: "#",
                    linkText: "Кредиты для зарплатных клиентов"
                }
            ],
        }
    )


    section.section-layout
        .container
            .row.mb-6.mb-lg-7.px-lg-6
                h3 Условия для&nbsp;зарплатных клиентов
            .row.row-gap-6.px-lg-6
                each item, index in allBenefits
                    .col-12.col-md-6.col-lg-4
                        +benefit(item.spriteName, item.title, item.description)
        +pattern-bg('section', 'light', 'pattern-bg--position-sm-bottom')

    section.section-layout.pt-0.pb-xxl-11
        .container
            .row
                .col-12
                    +polygon-container()
                        +helper("img/restructuring-additional-info.png", "bg-dark-10")
                            h4.mb-3 Для держателей зарплатных карт Банка
                            p.mb-0 Под зарплатной картой понимается действующая банковская карта, выпущенная на&nbsp;имя заемщика в&nbsp;рамках договора о&nbsp;зарплатном обслуживании, заключенного между Банком и&nbsp;организацией&nbsp;&mdash; работодателем клиента

    section.section-layout.js-collapsed-mobile
        .container
            h3.d-none.d-md-block.mb-md-6.mb-lg-7.px-lg-6
                | Условия кредитования
            a(
                data-bs-toggle="collapse"
                href="#conditions"
                role="button"
                aria-expanded="false"
                aria-controls="conditions"
            ).h3.d-flex.align-items-center.justify-content-between.dark-100.d-md-none
                | Условия кредитования
                +svg-use("icon-chevron-down", "icon size-m violet-100")
            #conditions.collapse.d-md-block.mt-4.mt-md-6.mt-lg-7
                .row.px-lg-6
                    .col-12
                        +tabs-simple(tabsList, false)
                        .tab-content.mt-4.mt-md-6.mt-lg-7
                            #calculator.tab-pane.fade.show.active(aria-labelledby="calculator" tabindex="0" role="tabpanel")
                                include ../includes/layout/loan-tabs/tab-calculator
                            #loan-conditions.tab-pane.fade(aria-labelledby="loan-conditions" tabindex="0" role="tabpanel")
                                include ../includes/layout/loan-tabs/tab-conditions
                            #requirements.tab-pane.fade(aria-labelledby="requirements" tabindex="0" role="tabpanel")
                                p Требования к заемщику
                            #loan-repayment.tab-pane.fade(aria-labelledby="loan-repayment" tabindex="0" role="tabpanel")
                                p Погашение кредита
                            #documents.tab-pane.fade(aria-labelledby="documents" tabindex="0" role="tabpanel")
                                include ../includes/layout/tabs/necessary-documents
                            #faq.tab-pane.fade(aria-labelledby="faq" tabindex="0" role="tabpanel")
                                include ../includes/layout/tabs/faq
        +pattern-bg('section-2', 'light', 'pattern-bg--hide-mobile')


    section.section-layout
        .container
            h3.px-lg-6.mb-6.mb-lg-7
                | Смотрите также
            +slider-card-product()
