extends ../templates/base

block title
    title= 'Меры господдержки - детальная'
    meta(name="description" content="Описание детальной страницы мер господдержки")
block content
    include ../includes/header/header
    include ../components/banners/banner-text
    include ../components/ui/tabs-simple
    include ../components/contact-block
    include ../includes/layout/slider-card-product
    include ../cards/card-feedback

    -
        var bannerTextData = {
            title: "Льготное финансирование мероприятий по&nbsp;снижению выбросов опасных загрязняющих веществ(ПП РФ &#8470;&nbsp;709)",
            breadcrumbsArray: [
                {
                    link: "#",
                    linkText: "Корпоративным клиентам"
                },
                {
                    link: "#",
                    linkText: "Финансирование"
                },
                {
                    link: "#",
                    linkText: "Меры господдержки"
                }
            ],
        }

        var tabsListAbout = [
            {
                link: '#conditions-for-measures',
                id: 'conditions-for-measures',
                linkText: 'Условия',
                isActive: true
            },
            {
                link: '#documents',
                id: 'documents',
                linkText: 'Документы и тарифы',
                isActive: false
            },
            {
                link: '#faq',
                id: 'faq',
                linkText: 'Вопросы и ответы',
                isActive: false
            },
        ]

        var contactList = [
             {
                 pattern: false,
                 title: "ООО &laquo;Нацпромлизинг&raquo;",
                 list: [
                     {
                         href: "tel:+74959747187",
                         text: "+7 (495) 974-71-87",
                         icon: "icon-phone",
                     },
                     {
                         href: "mailto:info@prom-lk.ru",
                         text: "info@prom-lk.ru",
                         icon: "icon-mail",
                         additionalClass: "text-decoration-underline",
                     },
                 ],
             },
             {
                 pattern: true,
                 title: "Остались вопросы",
                 description: "Оставьте свой телефон и мы перезвоним вам, либо задайте вопрос в чате",
                 buttons: [
                     {
                         type: "btn-outline-primary",
                         text: "Открыть чат"
                     },
                     {
                         type: "btn-primary",
                         text: "Перезвоните мне"
                     }
                 ]
             },
         ]

        var cardProductListCorp = [
            {
                color: 'orange',
                tag: 'Корпоративным клиентам',
                title: 'Размещение денежных средств',
                img: 'large-corporate/deposits.png',
                link: 'Подробнее',
                description: 'Депозиты для корпоративных клиентов'
            },
            {
                color: 'orange',
                tag: 'Корпоративным клиентам',
                title: 'Меры господдержки',
                img: 'large-corporate/state-support.png',
                link: 'Подробнее',
                description: 'Льготное финансирование организациям'
            },
            {
                color: 'orange',
                tag: 'Корпоративным клиентам',
                title: 'Программа поощрения «Развитие»',
                img: 'large-corporate/program-development.png',
                link: 'Подробнее',
                description: 'Особые условия обслуживания в&nbsp;банке'
            },
            {
                color: 'orange',
                tag: 'Корпоративным клиентам',
                title: 'Размещение денежных средств',
                img: 'large-corporate/deposits.png',
                link: 'Подробнее',
                description: 'Депозиты для корпоративных клиентов'
            },
            {
                color: 'orange',
                tag: 'Корпоративным клиентам',
                title: 'Меры господдержки',
                img: 'large-corporate/state-support.png',
                link: 'Подробнее',
                description: 'Льготное финансирование организациям'
            },

        ]

    +banner-text(
        bannerTextData,
        "orange",
        "bg-heavy-purple"
    )

    section.section-layout.js-collapsed-mobile
        .container
            h3.d-none.d-md-block.mb-md-6.mb-lg-7.px-lg-6
                | Подробнее о&nbsp;услуге
            a(
                data-bs-toggle="collapse"
                href="#about-service"
                role="button"
                aria-expanded="false"
                aria-controls="about-service"
            ).h3.d-flex.align-items-center.justify-content-between.dark-100.d-md-none
                | Об услуге
                +svg-use("icon-chevron-down", "icon size-m violet-100")
            #about-service.collapse.d-md-block.mt-4.mt-md-6.mt-lg-7
                .row.px-lg-6
                    .col-12
                        +tabs-simple(tabsListAbout, false)
                        .tab-content.mt-4.mt-md-6.mt-lg-7
                            #conditions-for-measures.tab-pane.fade.show.active(aria-labelledby="conditions-for-measures" tabindex="0" role="tabpanel")
                                include ../includes/layout/tabs/conditions-for-measures
                            #documents.tab-pane.fade(aria-labelledby="documents" tabindex="0" role="tabpanel")
                                include ../includes/layout/tabs/documents
                            #faq.tab-pane.fade(aria-labelledby="faq" tabindex="0" role="tabpanel")
                                include ../includes/layout/tabs/faq

        +pattern-bg('section-2', 'light', 'pattern-bg--hide-mobile')

    section.section-layout.bg-purple-10
        .container
            h3.mb-4.mb-md-6.mb-lg-7.px-lg-6 Контакты
            .row
                .col-12
                    .swiper.slider-cards.js-slider-cards(data-slides-per-view="mobile-s:1,mobile:1,tablet:1,tablet-album:2,laptop:2,laptop-x:2" data-space-between="mobile-s:8,mobile:8,tablet:16,tablet-album:16,laptop:16,laptop-x:16")
                        .swiper-wrapper
                            .swiper-slide.js-swiper-slide
                                +contact-block(contactList[0]).contact-block--bg-heavy-purple
                            .swiper-slide.js-swiper-slide
                                +card-feedback().h-100

                        +slider-controls().mt-3

    section.section-layout
        .container
            h3.px-lg-6.mb-4.mb-md-6.mb-lg-7
                | Другие услуги для корпоративных клиентов
            +slider-card-product(cardProductListCorp)
