extends ../templates/base

block title
    title= 'Карты - Мир Премиальная - кредитная карта'
    meta(name="description" content="Описание страницы с кредитами")
block content

    include ../cards/card-text
    include ../cards/card-product
    include ../cards/card-step
    include ../includes/header/header
    include ../components/banners/banner-text
    include ../components/banners/banner-product-info
    include ../components/ui/tabs
    include ../components/ui/tabs-simple
    include ../components/tabs-with-content
    include ../components/helper
    include ../components/benefit
    include ../components/banners/banner-product
    include ../includes/layout/slider-card-product

    -
        var allBenefits = [
            {
                spriteName: {
                    name: 'icon-a-date',
                    classList: 'size-xl'
                },
                title: 'От 15&nbsp;000 рублей',
                description: 'Минимальный размер кредита',
            },
            {
                spriteName: {
                    name: 'icon-a-money',
                    classList: 'size-xl'
                },
                title: 'До 3 ежемесячных окладов',
                description: 'Максимальный размер кредита',
            },
            {
                spriteName: {
                    name: 'icon-a-low-percent',
                    classList: 'size-xl'
                },
                title: '12 месяцев',
                description: 'Срок действия кредитного лимита с&nbsp;последующей пролонгацией',
            },
            {
                spriteName: {
                    name: 'icon-a-date',
                    classList: 'size-xl'
                },
                title: 'До 56 дней',
                description: 'Беспроцентный период',
            },
            {
                spriteName: {
                    name: 'icon-a-money',
                    classList: 'size-xl'
                },
                title: '0 <span class="currency">₽</span>',
                description: 'Стоимость обслуживания',
            },
            {
                spriteName: {
                    name: 'icon-a-low-percent',
                    classList: 'size-xl'
                },
                title: 'Надежность',
                description: 'Работает на&nbsp;территории России независимо от&nbsp;внешних экономических и&nbsp;политических факторов',
            },
        ]

        var tabContentList = [
            {
                link: '#how-to-top-up',
                id: 'how-to-top-up',
                linkText: 'Как пополнить карту',
                isActive: true
            },
            {
                link: '#cost',
                id: 'cost',
                linkText: 'Стоимость и сроки',
                isActive: false
            },
            {
                link: '#documents',
                id: 'documents',
                linkText: 'Документы и тарифы',
                isActive: false
            },
            {
                link: '#faq',
                id: 'faq',
                linkText: 'Вопросы и ответы',
                isActive: false
            },
        ]

        var spcCardProductList = [
            {
                color: 'green',
                title: 'Программа «Кешбэк»',
                img: 'large-individual/contribution-rentier.png',
                button: 'Подробнее',
                subtitle: {
                    before: 'до',
                    number: '7%',
                },
                description: 'Возврат рублями от&nbsp;покупок по&nbsp;карте'
            },
            {
                color: 'green',
                title: 'Программа &laquo;Бонусы&raquo;',
                img: 'large-individual/contribution-rentier.png',
                button: 'Подробнее',
                subtitle: {
                    before: 'до',
                    number: '20%',
                },
                description: 'Бонусные баллы за&nbsp;покупки'
            },
        ]

        var cardStepList = [
            {
                title: "Онлайн",
                text: "Закажите выпуск именной карты &laquo;Мир&raquo; прямо сейчас",
                button: {
                    href: "#",
                    text: "Оформить карту",
                }
            },
            {
                title: "Через менеджера",
                text: "Закажите консультацию сотрудника по&nbsp;телефону <span class='text-nowrap'>8&nbsp;800 250-70-07</span>"
            },
            {
                title: "В&nbsp;офисе банка",
                text: "Приходите в&nbsp;ближайший офис банка Новиком",
                link: {
                    href: "#",
                    text: "Найти на карте",
                }
            },
        ]

    +banner-product(
        {
            title: "Мир Премиальная",
            subtitle: "Карта национальной платежной системы &laquo;Мир&raquo; создана при поддержке государства",
            imgSrc: "img/hero-banner/mir-credit-premium.png",
            bgColor: "heavy-violet",
            urlHref: "#",
            buttonText: "Оформить карту",
            benefits: [
                {
                    beforeNum: 'до',
                    num: '56',
                    afterNum: 'дней',
                    description: 'Беспроцентный период'
                },
                {
                    num: '0',
                    currency: '₽',
                    description: 'Стоимость обслуживания'
                },
            ],
            breadcrumbsArray: [
                {
                    link: "#",
                    linkText: "Частным клиентам"
                },
                {
                    link: "#",
                    linkText: "Карты"
                }
            ],
        }
    )


    section.section-layout(tabindex="0")
        .container
            .row.mb-6.mb-lg-7.px-lg-6
                h3 Преимущества
            .row.row-gap-6.row-gap-md-7.px-lg-6
                each item, index in allBenefits
                    .col-12.col-md-6.col-xl-4
                        +benefit(item.spriteName, item.title)
                            span!= item.description
        +pattern-bg('section', 'light', 'pattern-bg--position-sm-bottom')

    section.section-layout(tabindex="0")
        .container
            h3.px-lg-6.mb-6.mb-lg-7
                | Подключите выгоду
            +slider-card-product(spcCardProductList, 'mobile-s:1,mobile:1,tablet:2,laptop:2,laptop-x:3')

    section.section-layout.js-collapsed-mobile(tabindex="0")
        .container
            h3.d-none.d-md-block.mb-md-6.mb-lg-7.px-lg-6
                | О&nbsp;карте Мир Премиальная
            a(
                data-bs-toggle="collapse"
                href="#conditions"
                role="button"
                aria-expanded="false"
                aria-controls="conditions"
            ).h3.d-flex.align-items-center.justify-content-between.dark-100.d-md-none
                | О&nbsp;карте Мир Премиальная
                +svg-use("icon-chevron-down", "icon size-m violet-100")
            #conditions.collapse.d-md-block.mt-4.mt-md-6.mt-lg-7
                .row.px-lg-6
                    .col-12
                        +tabs-simple(tabContentList, false)
                        .tab-content.mt-4.mt-md-6.mt-lg-7
                            #how-to-top-up.tab-pane.fade.show.active(aria-labelledby="how-to-top-up" tabindex="0" role="tabpanel")
                                include ../includes/layout/tabs/how-to-top-up
                            #cost.tab-pane.fade(aria-labelledby="cost" tabindex="0" role="tabpanel")
                                include ../includes/layout/tabs/cost-premium-credit
                            #documents.tab-pane.fade(aria-labelledby="documents" tabindex="0" role="tabpanel")
                                include ../includes/layout/tabs/documents
                            #faq.tab-pane.fade(aria-labelledby="faq" tabindex="0" role="tabpanel")
                                include ../includes/layout/tabs/faq
        +pattern-bg('section-2', 'light', 'pattern-bg--hide-mobile')

    section.section-layout.js-collapsed-mobile.bg-dark-10(tabindex="0")
        .container
            h3.d-none.d-md-block.mb-md-6.mb-lg-7.px-lg-6
                | Как оформить карту
            a(
                data-bs-toggle="collapse"
                href="#how-apply"
                role="button"
                aria-expanded="false"
                aria-controls="how-apply"
            ).h3.d-flex.align-items-center.justify-content-between.dark-100.d-md-none
                | Как оформить карту
                +svg-use("icon-chevron-down", "icon size-m violet-100")
            #how-apply.collapse.d-md-block.mt-4.mt-md-6.mt-lg-7
                .row.px-lg-6.row-gap-6
                    each item in cardStepList
                        .col-12.col-lg-4
                           +card-step(item).pe-xxl-11
    +banner-product-info({
        title: "О карте",
        tag: "Услуга",
        button: {
            href: "#",
            text: "Подробнее",
        },
        imageSrc: "img/banners/page-banner-2.png"
    })
        p.text-l.m-0 Предоставляет держателю возможность участвовать в&nbsp;акциях и&nbsp;различных мероприятиях, организуемых для держателей карт &laquo;Мир&raquo; АО&nbsp;&laquo;НСПК&raquo;: билеты на&nbsp;фестивали, посещение закрытых мероприятий, скидки при оплате товаров и&nbsp;услуг, розыгрыши ценных призов и&nbsp;т.д.

    section.section-layout.bg-blue-10.pt-0.pb-lg-11(tabindex="0")
        .container
            .row
                .col-12
                    +polygon-container("violet-100")
                        +helper("img/restructuring-additional-info.png", "bg-dark-0")
                            p.mb-0 Обеспечивает повышенную безопасность данных: АО&nbsp;&laquo;НСПК&raquo;, оператор платёжной системы &laquo;Мир&raquo;, на&nbsp;100% принадлежит банку России, что гарантирует наивысшие стандарты безопасности при проведении платежей
    section.section-layout.bg-blue-10(tabindex="0")
        .container
            .d-flex.align-items-center.justify-content-between.px-lg-6.mb-6.mb-lg-7
                h3 Спецпредложения
                a(href="#").btn.btn-sm.btn-link.btn-icon.d-none.d-md-inline-flex
                    | Смотреть все
                    +svg-use("icon-chevron-right-small", "icon size-s")
            include ../includes/layout/slider-cards-special

    section.section-layout(tabindex="0")
        .container
            h3.px-lg-6.mb-6.mb-lg-7
                | Смотрите также
            +slider-card-product()
