extends ../templates/base

block title
    title= 'Частные клиенты - Интернет-банк и Мобильное приложение'
    meta(name="description" content="Описание страницы с вкладами")
block content

    include ../includes/header/header
    include ../components/banners/banner-text
    include ../includes/layout/slider-card-product
    include ../components/ui/tabs-simple
    include ../components/stepper
    include ../components/benefit
    include ../components/announcement
    include ../cards/card-regal

    -
        var tabContentList = [
            {
                link: '#android',
                id: 'android',
                linkText: 'Android',
                isActive: true
            },
            {
                link: '#ios',
                id: 'ios',
                linkText: 'iOS (устройства Apple)',
                isActive: false
            },
            {
                link: '#instructions',
                id: 'instructions',
                linkText: 'Инструкции',
                isActive: false
            },
            {
                link: '#documents',
                id: 'documents',
                linkText: 'Документы и тарифы',
                isActive: false
            },
            {
                link: '#faq',
                id: 'faq',
                linkText: 'Вопросы и ответы',
                isActive: false
            }
        ]

        var allBenefits = [
            {
                spriteData: {
                    name: 'icon-a-bank',
                    classList: 'size-xl',
                },
                title: 'Платежи без комиссии',
                list: [
                    'Оплата услуг ЖКХ, интернета, сотовой связи',
                    'Госплатежи: налоги, штрафы ГИБДД и&nbsp;т.д.'
                ]
            },
            {
                spriteData: {
                    name: 'icon-a-prices',
                    classList: 'size-xl',
                },
                title: 'Доступ к&nbsp;продуктам банка 24/7',
                list: [
                    'Дебетовые и&nbsp;кредитные карты',
                    'Вклады',
                    'Кредиты'
                ]
            },
            {
                spriteData: {
                    name: 'icon-a-money',
                    classList: 'size-xl',
                },
                title: 'Переводы без комиссии',
                list: [
                    'Через СБП',
                    'По&nbsp;номеру телефона',
                    'Со&nbsp;счетов в&nbsp;других банках'
                ]
            },
            {
                spriteData: {
                    name: 'icon-a-money',
                    classList: 'size-xl',
                },
                title: 'Актуальная информация <br>о&nbsp;продуктах и&nbsp;услугах банка',
                list: [
                    'Выгодные условия и&nbsp;обновления',
                    'Акции',
                    'Новости'
                ]
            },
            {
                spriteData: {
                    name: 'icon-a-money',
                    classList: 'size-xl',
                },
                title: 'Управление <br>программами лояльности',
                list: [
                    'Бонусы',
                    'Кешбэк'
                ]
            },
            {
                spriteData: {
                    name: 'icon-a-money',
                    classList: 'size-xl',
                },
                title: 'Коммуникации с&nbsp;банком',
                list: [
                    'Онлайн-консультант 24/7',
                    'Ближайшие отделения и&nbsp;банкоматы на&nbsp;карте'
                ]
            }
        ]

        var bannerTextData = {
            title: "Интернет-банк и&nbsp;Мобильное приложение",
            breadcrumbsArray: [
                {linkText: "Частным клиентам", link: "/"},
                {linkText: "Онлайн-сервисы", link: "/"},
            ],
        }

    +banner-text(bannerTextData, 'green')

    section.section-layout.px-lg-6(tabindex="0")
        .container
            h3.mb-4.mb-md-6.mb-lg-7
                | Преимущества
            #benefits.row.row-gap-6
                each item, index in allBenefits
                    .col-12.col-md-6.col-lg-4(class=index > 3 && 'd-none d-md-block')
                        +benefit(item.spriteData, item.title)
                            if item.list
                                ul.list
                                    each listItem in item.list
                                        li!=listItem
                .col-12.d-md-none
                    button(
                        data-target="benefits"
                        role="button"
                    ).js-more-content-link.d-flex.gap-2.align-items-center.justify-content-center.violet-100.text-m.fw-bold
                        | Ещё преимущества
                        +svg-use("icon-chevron-down", "icon size-m")
        +pattern-bg('section', 'light', 'pattern-bg--position-sm-bottom')

    section.section-layout.py-6.py-lg-11(tabindex="0")
        .container
            +card-regal({
                title: "Награды",
                image: "img/tagline_awards.png",
            })
                p.text-l.mb-0 Банк Новиком стал серебряным лауреатом престижной премии крупнейшего digital-конкурса в&nbsp;Восточной Европе Tagline Awards за&nbsp;&laquo;Лучшее приложение финансовой компании&raquo;.

    section.section-layout.js-collapsed-mobile(tabindex="0")
        .container
            h3.d-none.d-md-block.mb-md-6.mb-lg-7.px-lg-6
                | Установка
            a(
                data-bs-toggle="collapse"
                href="#more"
                role="button"
                aria-expanded="false"
                aria-controls="more"
            ).h3.d-flex.align-items-center.justify-content-between.dark-100.d-md-none
                | Установка
                +svg-use("icon-chevron-down", "icon size-m violet-100")
            #more.collapse.d-md-block.mt-4.mt-md-6.mt-lg-7
                .row.px-lg-6
                    .col-12
                        +tabs-simple(tabContentList, false)
                        .tab-content.mt-4.mt-md-6.mt-lg-7
                            #android.tab-pane.fade.show.active(aria-labelledby="android" tabindex="0" role="tabpanel")
                                include ../includes/layout/tabs/android
                            #ios.tab-pane.fade(aria-labelledby="ios" tabindex="0" role="tabpanel")
                                include ../includes/layout/tabs/ios
                            #instructions.tab-pane.fade(aria-labelledby="instructions" tabindex="0" role="tabpanel")
                                include ../includes/layout/tabs/documents
                            #documents.tab-pane.fade(aria-labelledby="documents" tabindex="0" role="tabpanel")
                                include ../includes/layout/tabs/documents
                            #faq.tab-pane.fade(aria-labelledby="faq" tabindex="0" role="tabpanel")
                                include ../includes/layout/tabs/faq
        +pattern-bg('section-2', 'light', 'pattern-bg--hide-mobile')

    include ../includes/layout/section-announcement

    section.section-layout(tabindex="0")
        .container
            h3.px-lg-6.mb-4.mb-md-6.mb-lg-7
                | Смотрите также
            +slider-card-product()
