extends ../templates/base

block title
    title= 'Ипотека - Первичный рынок'
    meta(name="description" content="Описание страницы с кредитами")
block content

    include ../cards/card-text
    include ../cards/card-product
    include ../includes/header/header
    include ../components/banners/text-banner
    include ../components/banners/info-product-banner
    include ../components/ui/tabs
    include ../components/ui/tabs-simple
    include ../components/tabs-with-content
    include ../components/helper
    include ../components/benefit
    include ../components/step-item
    include ../components/banners/banner-product

    -
        var allBenefits = [
            {
                spriteName: {
                    name: 'icon-a-date',
                    classList: 'size-xl'
                },
                title: 'Работники организаций',
                description: 'Информация о&nbsp;принадлежности организации-работодателя к&nbsp;перечню стратегических партнеров Банка доводится до&nbsp;работников персональным менеджером в&nbsp;рамках услуги &laquo;Банк на&nbsp;работе&raquo; или по&nbsp;телефону&nbsp;8&nbsp;(800)&nbsp;250-70-07',
            },
            {
                spriteName: {
                    name: 'icon-a-date',
                    classList: 'size-xl'
                },
                title: 'Держатели зарплатных карт',
                description: 'Под зарплатной картой понимается действующая банковская карта, выпущенная на&nbsp;имя заемщика в&nbsp;рамках договора о&nbsp;зарплатном обслуживании, заключенного между Банком и&nbsp;организацией&nbsp;&mdash; работодателем клиента',
            },
        ]

        var tabsList = [
            {
                link: '#calculator',
                id: 'calculator',
                linkText: 'Калькулятор',
                isActive: true
            },
            {
                link: '#mortgage-conditions',
                id: 'mortgage-conditions',
                linkText: 'Условия',
                isActive: false
            },
            {
                link: '#rates',
                id: 'rates',
                linkText: 'Ставки',
                isActive: false
            },
            {
                link: '#requirements',
                id: 'requirements',
                linkText: 'Требования',
                isActive: false
            },
            {
                link: '#documents',
                id: 'documents',
                linkText: 'Документы',
                isActive: false
            },
            {
                link: '#insurance',
                id: 'insurance',
                linkText: 'Страхование',
                isActive: false
            },
            {
                link: '#real-estate',
                id: 'real-estate',
                linkText: 'Оценка недвижимости',
                isActive: false
            },
            {
                link: '#procedure',
                id: 'procedure',
                linkText: 'Порядок погашения',
                isActive: false
            },
            {
                link: '#faq',
                id: 'faq',
                linkText: 'Вопросы и ответы',
                isActive: false
            },
        ]

    +banner-product(
        {
            title: "Ипотека по&nbsp;программе &laquo;Первичный рынок&raquo;",
            subtitle: "Начисление зарплаты на&nbsp;карту Новикома",
            imgSrc: "img/big-illustrations/large-individual/mortgage-primary-market.png",
            bgColor: "heavy-violet",
            urlHref: "#",
            buttonText: "Оформить заявку",
            benefits: [
                {
                    beforeNum: 'от',
                    num: '7,4%',
                    description: 'Минимальная ставка'
                },
                {
                    beforeNum: 'до',
                    num: '30 000 000',
                    currency: '₽',
                    description: 'Максимальная сумма'
                },
                {
                    beforeNum: 'до',
                    num: '30 лет',
                    description: 'Срок выплаты'
                }
            ],
            breadcrumbsArray: [
                {
                    link: "#",
                    linkText: "Частным клиентам"
                },
                {
                    link: "#",
                    linkText: "Ипотека"
                }
            ],
        }
    )


    section.section-layout
        .container
            .row.mb-6.mb-lg-7.px-lg-6
                h3 Могут участвовать
            .row.row-gap-6.px-lg-6
                each item, index in allBenefits
                    .col-12.col-md-6
                        +benefit(item.spriteName, item.title, item.description)
        +pattern-bg('section', 'light', 'pattern-bg--position-sm-bottom')

    section.section-layout.js-collapsed-mobile
        .container
            h3.d-none.d-md-block.mb-md-6.mb-lg-7.px-lg-6
                | Подробнее
            a(
                data-bs-toggle="collapse"
                href="#more-info"
                role="button"
                aria-expanded="false"
                aria-controls="more-info"
            ).h3.d-flex.align-items-center.justify-content-between.dark-100.d-md-none
                | Подробнее
                +svg-use("icon-chevron-down", "icon size-m violet-100")
            #more-info.collapse.d-md-block.mt-4.mt-md-6.mt-lg-7
                .row.px-lg-6
                    .col-12
                        +tabs-simple(tabsList, false)
                        .tab-content.mt-4.mt-md-6.mt-lg-7
                            #calculator.tab-pane.fade.show.active(aria-labelledby="calculator" tabindex="0" role="tabpanel")
                                include ../includes/layout/tabs/mortgage-calculator
                            #mortgage-conditions.tab-pane.fade(aria-labelledby="mortgage-conditions" tabindex="0" role="tabpanel")
                                include ../includes/layout/loan-tabs/tab-conditions
                            #rates.tab-pane.fade(aria-labelledby="rates" tabindex="0" role="tabpanel")
                                include ../includes/layout/loan-tabs/tab-conditions
                            #requirements.tab-pane.fade(aria-labelledby="requirements" tabindex="0" role="tabpanel")
                                p Требования
                            #documents.tab-pane.fade(aria-labelledby="documents" tabindex="0" role="tabpanel")
                                include ../includes/layout/tabs/necessary-documents
                            #insurance.tab-pane.fade(aria-labelledby="insurance" tabindex="0" role="tabpanel")
                                p Страхование
                            #real-estate.tab-pane.fade(aria-labelledby="real-estate" tabindex="0" role="tabpanel")
                                p Оценка недвижимости
                            #procedure.tab-pane.fade(aria-labelledby="procedure" tabindex="0" role="tabpanel")
                                p Порядок погашения
                            #faq.tab-pane.fade(aria-labelledby="faq" tabindex="0" role="tabpanel")
                                p Вопросы и ответы
        +pattern-bg('section-2', 'light', 'pattern-bg--hide-mobile')


    section.section-layout
        .container
            h3.px-lg-6.mb-6.mb-lg-7
                | Смотрите также
            include ../includes/layout/slider-card-product
