extends ../templates/base

block title
    title= 'Бизнесу - Валютный контроль'
    meta(name="description" content="Описание страницы Валютный контроль раздела Бизнес")
block content
    include ../includes/header/header
    include ../components/banners/banner-product
    include ../cards/card-about
    include ../cards/card-feedback
    include ../cards/card-benefit
    include ../cards/card-rating
    include ../components/ui/tabs
    include ../components/ui/tabs-simple
    include ../includes/layout/slider-card-product
    include ../components/benefit
    include ../components/helper
    include ../components/stepper
    include ../components/ui/nav-tabs

    -
        var bannerProductData = {
            title: "Валютный контроль",
            subtitle: "Соблюдение требований валютного законодательства резидентами <br class='d-none d-xl-block'>и нерезидентами",
            type: "msb",
            imgSrc: "img/big-illustrations/large-business/currency-control-new.png",
            bgColor: "heavy-violet",
            patternClass: "pattern-bg--position-top",
            breadcrumbsArray: [
                {
                    link: "#",
                    linkText: "Малому и среднему бизнесу"
                },
                {
                    link: "#",
                    linkText: "ВЭД"
                }
            ],
            benefits: [
                {
                    title: 'Бесплатные <br class="d-block">консультации',
                    colorClass: 'yellow-100'
                },
                {
                    title: 'Индивидуальный подход',
                    colorClass: 'yellow-100'
                },
                {
                    title: 'Разнообразие сделок',
                    colorClass: 'yellow-100'
                }
            ],
            footer: [
                {
                    title: 'В валюте',
                    description: 'Расчеты между резидентами РФ',
                    colorClass: 'dark-0',
                    spriteData: {
                        icon: 'limits',
                        classList: 'size-xxl'
                    },
                },
                {
                    title: 'В рублях',
                    description: 'Расчеты между резидентами',
                    colorClass: 'dark-0',
                    spriteData: {
                        icon: 'limits',
                        classList: 'size-xxl'
                    },
                },
                {
                    title: 'В рублях или валюте',
                    description: 'Расчеты между резидентом РФ и нерезидентом',
                    colorClass: 'dark-0',
                    spriteData: {
                        icon: 'limits',
                        classList: 'size-xxl'
                    },
                },
                {
                    title: 'Операции с ценными <br>бумагами',
                    description: 'Российские и зарубежные',
                    colorClass: 'dark-0',
                    spriteData: {
                        icon: 'limits',
                        classList: 'size-xxl'
                    },
                }
            ]
        }

        var cardBenefitList = [
            {
                title: 'Вносить исправления',
                image: 'large-business/make-changes.png',
                bgColor: 'bg-blue-10',
                isBulletList: true,
                list: [
                    "в справку о подтверждающих документах",
                    "в сведения/информацию о валютной операции"
                ],
            },
            {
                title: 'Получать информацию',
                image: 'large-business/get-information.png',
                bgColor: 'bg-blue-10',
                isBulletList: true,
                list: [
                    "о своей ведомости банковского контроля (сокр.  ВБК)",
                    "о загруженных/незагруженных декларациях на товары"
                ],
            },
            {
                title: 'Отражать информацию',
                description: 'в ВБК при проведении расчетов через другой уполномоченный банк',
                descriptionSizeClass: 'text-l',
                image: 'large-business/reflect-information.png',
                bgColor: 'bg-blue-10'
            },
            {
                title: 'Обращаться по вопросам',
                description: 'валютного контроля в течение всего рабочего дня по телефону непосредственно к работнику валютного контроля',
                descriptionSizeClass: 'text-l',
                image: 'large-business/contact-with-questions.png',
                bgColor: 'bg-blue-10'
            },
        ]

        var additionalTabsList = [
            {
                linkText: "Виды",
                link: "#1",
                id: "additional-info-1",
                isActive: true
            },
            {
                linkText: "Сведения",
                link: "#2",
                id: "additional-info-2",
            },
            {
                linkText: "Ответственность",
                link: "#3",
                id: "additional-info-3",
            },
            {
                linkText: "Документы и тарифы",
                link: "#4",
                id: "additional-info-4",
            },
            {
                linkText: "Вопросы и ответы",
                link: "#5",
                id: "additional-info-5",
            }
        ]

    +banner-product(bannerProductData).banner-product--border-yellow.banner-product--size-xl

    section.section-layout(tabindex="0")
        .container
            h3.px-lg-6.mb-4.mb-md-6.mb-lg-7
                | Возможности
            .row
                .col-12.d-flex.flex-column.flex-md-row.flex-md-wrap.cards-gap
                    each item in cardBenefitList
                        +card-benefit(item).card-benefit--type-img.card-benefit--size-lg-large.overflow-visible.h-auto.flex-grow-1.flex-basis-100.flex-basis-md-33
        +pattern-bg("section", "dark")

    section.section-layout.pt-md-5.pt-lg-6(tabindex="0")
        .container
            .row
                .col-12
                    +polygon-container("yellow-100")
                        +helper("img/business-additional-info.png", "bg-blue-10")
                            h3.h4.mb-3 Основные нормативные документы в области валютного контроля
                            ul.m-0.text-l.d-flex.flex-column.row-gap-3
                                li Закон о валютном регулировании и валютном контроле от 10.12.2003 № 173-ФЗ (далее Федеральный закон № 173-ФЗ)
                                li Инструкция Банка России от 16.08.2017 N 181-И «О порядке представления резидентами и нерезидентами уполномоченным банкам подтверждающих документов и информации при осуществлении валютных операций, о единых формах учета и отчетности по валютным операциям, порядке и сроках их представления» (далее – Инструкция № 181-И).

    section.section-layout.js-collapsed-mobile.pb-md-0(tabindex="0")
        .container
            h3.d-none.d-md-flex.mb-4.mb-md-6.mb-lg-7.px-lg-6
                | Подробнее об услуге
            a(
                data-bs-toggle="collapse"
                href="#additional-info-content"
                role="button"
                aria-expanded="false"
                aria-controls="additional-info-content"
            ).h3.d-flex.align-items-center.justify-content-between.dark-100.d-md-none
                | Подробнее об услуге
                +svg-use("icon-chevron-down", "icon size-m violet-100")
            #additional-info-content.collapse.d-md-block.mt-4.mt-md-6.mt-lg-7
                .row.px-lg-6
                    .col-12
                        +tabs-simple(additionalTabsList, false)
                        .tab-content.mt-4.mt-md-6.mt-lg-7
                            #additional-info-1.tab-pane.fade.show.active(aria-labelledby="additional-info-1" tabindex="0" role="tabpanel")
                                .rte.rte--accordion.rte--w-xxl-60
                                    div
                                        h4 Предварительный вид валютного контроля осуществляется до проведения операции.
                                        p Банк проверяет
                                        ul
                                            li представленные участником внешнеэкономической деятельности документы: контракт/договор;
                                            li юридическую составляющую: правильность оформления контракта и описания его обязательных условий.
                                    span(aria-hidden="true").border-bottom-dashed
                                    div
                                        h4 Текущий вид валютного контроля производится непосредственно при реализации контракта и осуществлении валютных расчетов.
                                        p Контроль проводится путём проверки наличия в ВБК информации о произведенных отгрузках/ввозе товаров, оказании услуг.
                                    span(aria-hidden="true").border-bottom-dashed
                                    div
                                        h4 Последующий вид валютного контроля проводится после завершения сделки.
                                        p Банк сопоставляет все документы и информацию, которые подтверждают, что сделки совершены законно, а обязательства по контрактам выполнены.

                            #additional-info-2.tab-pane.fade(aria-labelledby="additional-info-2" tabindex="0" role="tabpanel")
                                .rte.rte--accordion.rte--w-xxl-60
                                    p Виды
                            #additional-info-3.tab-pane.fade(aria-labelledby="additional-info-3" tabindex="0" role="tabpanel")
                                .rte.rte--accordion.rte--w-xxl-60
                                    .mw-100
                                        +polygon-container("yellow-100")
                                            +helper("img/business-additional-info.png", "bg-blue-10")
                                                h4 Строгость и сроки наказания зависят от тяжести нарушений <br class="d-none d-xl-block">и количества соучастников.
                                    h4.fw-bold Нарушения в сфере валютного законодательства и санкции за них регулируются КоАП РФ (ст.15.25 «Штрафы за нарушение валютного контроля») и УК РФ (вплоть до принудительных работ и ограничения свободы)
                                    p
                                        b Проведение неоформленной сделки:
                                        ul
                                            li штраф организации — в сумме сделки
                                            li штраф должностного лица — до 30 тыс. руб.
                                        p
                                            b Несвоевременное уведомление о зарубежном счете компании:
                                        ul
                                            li штраф организации — от 100 тыс. до 1 млн. руб.
                                        p
                                            b Последующий вид валютного контроля проводится после завершения сделки.
                                        ul
                                            li штраф организации - от 40 тыс. до 50 тыс. руб.
                                            li штраф должностного лица — от 4 тыс. до 5 тыс. руб.
                                    span(aria-hidden="true").border-bottom-dashed
                                    div
                                        h4 По статье 193 УК РФ предусмотрена уголовная ответственность за нарушение валютного законодательства в крупном размере (от 9 млн. руб. и 45 млн. руб.).
                                        p
                                            b Наказанием по этой статье служит:
                                        ul
                                            li лишение свободы до 3-х лет
                                            li штраф в размере заработной платы за период от года до трех лет или принудительные работы сроком до 3-х лет.
                            #additional-info-4.tab-pane.fade(aria-labelledby="additional-info-4" tabindex="0" role="tabpanel")
                                .rte.rte--accordion.rte--w-xxl-60
                                    p Документы и тарифы
                            #additional-info-5.tab-pane.fade(aria-labelledby="additional-info-5" tabindex="0" role="tabpanel")
                                include ../includes/layout/tabs/faq
        +pattern-bg('section-2', 'light', 'pattern-bg--hide-mobile')

    section.section-layout(tabindex="0")
        .container
            h3.px-lg-6.mb-4.mb-md-6.mb-lg-7
                | Другие услуги для бизнеса
            +slider-card-product()
