extends ../templates/private-base

block title
    title= 'Private Banking'
    meta(name="description" content="Описание страницы с кредитами")

block content
    include ../cards/private-banking/pb-card-special
    include ../cards/private-banking/pb-card-benefit
    -
        var specialPrivilegesCards = [
            {
                title: "Персональное сопровождение",
                description: "Индивидуальный менеджер и&nbsp;команда финансовых консультантов для решения банковских и&nbsp;частных вопросов",
                image: 'img/bank01.png',
                additionalInfo: [
                    "Выезд менеджера в&nbsp;комфортную для переговоров локацию",
                    "Индивидуальный подход при рассмотрении заявок на&nbsp;кредит любой сложности",
                    "Круглосуточный Консьерж-сервис Aspire Lifestyles",
                ],
                large: true
            },
            {
                title: "Вклады",
                description: "Повышенная доходость для клиентов с&nbsp;крупным капиталом",
                image: 'img/safe09.png',
                large: false
            },
            {
                title: "Кредитование ",
                description: "Специальная линейка кредитных продуктов. Упрощённое оформление и&nbsp;короткий срок принятия решения",
                image: 'img/percent03.png',
                large: false
            },
        ];
        var supremeCardBenefits = [
            {
                icon: 'bank-icon.svg',
                text: 'Снятие наличных в&nbsp;любых банкоматах без комиссии',
            },
            {
                icon: 'airplane-icon.svg',
                text: 'Доступ в&nbsp;бизнес-залы аэропортов с&nbsp;Mir Pass',
            },
            {
                icon: 'percent-icon.svg',
                text: 'Повышенный кэшбэк до&nbsp;30% от&nbsp;покупок',
            },
            {
                icon: 'wallet-icon.svg',
                text: 'Дополнительные карты бесплатно',
            },
            {
                icon: 'spb-icon.svg',
                text: 'Переводы по&nbsp;номеру телефона до&nbsp;1&nbsp;млн ₽&nbsp;в&nbsp;другие банки по&nbsp;СБП без комиссии',
            },
        ];
        var bankingForYou = [
            {
                title: "Привилегии",
                image: 'img/pb-images/pb-stars.png',
                additionalInfo: [
                    "Безлимитный доступ в&nbsp;Бизнес-залы аэропортов и&nbsp;ж/д вокзалов по&nbsp;всему миру с&nbsp;сервисом MileOnAir/OnPass",
                    "Специальная партнёрская программас SimpleWinePrive, Beluga Boutique, Wheely, Novikov Group и&nbsp;другими",
                    "Сотрудничество с&nbsp;группой &laquo;Михайлов и&nbsp;партнёры&raquo;&nbsp;&mdash; экспертами в&nbsp;правовых вопросах, налогообложения, наследства, брачно-семейных отношений и&nbsp;прочих",
                ],
                large: true
            },
            {
                title: "Наличный оборот",
                description: "Льготный курс обмена валют и&nbsp;услуги инкассации и&nbsp;доставки наличности",
                image: 'img/pb-images/pb-coins.png',
                large: false
            },
            {
                title: "Сделки с недвижимостью ",
                description: "Особые условия по&nbsp;ипотеке и&nbsp;сопровождение сделок с&nbsp;недвижимостью (аккредитив/ячейки)",
                image: 'img/pb-images/pb-estate.png',
                large: false
            },
        ];
        var tabsList = [
            {id: "tab1", linkText: "Векселя", isActive: true},
            {id: "tab2", linkText: "Перевозка ценностей", isActive: false},
            {id: "tab3", linkText: "Индивидуальные ячейки", isActive: false},
            {id: "tab4", linkText: "Счета в пяти валютах", isActive: false},
            {id: "tab5", linkText: "Консьерж-служба", isActive: false},
            {id: "tab6", linkText: "Конверсионные операции по лучшему курсу", isActive: false},
            {id: "tab7", linkText: "Персональный менеджер", isActive: false}
        ];
        var financeCards = [
            {
                title: "Векселя",
                description: "Доходный и&nbsp;надёжный инструмент инвестирования временно свободных денежных средств. Предлагаем дисконтные, простые процентные и&nbsp;беспроцентные векселя",
                image: "/img/pb-images/pb-finance-cards/veksel.png",
                id: "veksel",
            },
            {
                title: "Перевозка ценностей",
                description: "Мы&nbsp;располагаем надёжным специализированным транспортом и&nbsp;опытными специалистами: инкассаторами, охраной и&nbsp;кассирами.",
                image: "/img/pb-images/pb-finance-cards/logistic.png",
                id: "logistic",
            },
            {
                title: "Индивидуальные ячейки",
                description: "Мы&nbsp;располагаем надёжным специализированным транспортом и&nbsp;опытными специалистами: инкассаторами, охраной и&nbsp;кассирами.",
                image: "/img/pb-images/pb-finance-cards/individualСells.png",
                id: "individualCells",
            },
            {
                title: "Текущие счета в пяти валютах",
                description: "Мы&nbsp;располагаем надёжным специализированным транспортом и&nbsp;опытными специалистами: инкассаторами, охраной и&nbsp;кассирами.",
                image: "/img/pb-images/pb-finance-cards/currentAccount.png",
                id: "currentAccount",
            },
            {
                title: "Конверсионные операции по лучшему курсу",
                description: "Мы&nbsp;располагаем надёжным специализированным транспортом и&nbsp;опытными специалистами: инкассаторами, охраной и&nbsp;кассирами.",
                image: "/img/pb-images/pb-finance-cards/conversionOperations.png",
                id: "conversionOperations",
            }
        ];
        var investmentCards = [
            {
                title: "Брокерское обслуживание",
                description: "Совершение сделок с&nbsp;обеспечением рыночных цен и&nbsp;услуг для достижения ваших целей.",
                image: "/img/pb-images/pb-investment-cards/pb-investment-broker.png",
                id: "broker",
            },
            {
                title: "Доверительное управление",
                description: "Профессиональное управление инвестиционным портфелем для максимальной выгоды.",
                image: "/img/pb-images/pb-investment-cards/pb-investment-management.png",
                id: "management",
            },
            {
                title: "Депозитарное обслуживание",
                description: "Сопровождение сделок и&nbsp;консультации по&nbsp;вопросам управления активами.",
                image: "/img/pb-images/pb-investment-cards/pb-investment-deposit.png",
                id: "deposit",
            },
            {
                title: "Инвестиционное консультирование",
                description: "Персонализированный подход к&nbsp;подбору стратегий и&nbsp;инструментов инвестирования.",
                image: "/img/pb-images/pb-investment-cards/pb-investment-consulting.png",
                id: "consulting",
            },
        ];


    section.pb-section-hero
        include ../includes/header/pb-header
        include ../includes/layout/private-banking/pb-main-nav
        .container
            h1.pb-section-hero__title.dark-0.text-center.animate.js-animation-start Лучшие финансовые инструменты <br>для&nbsp;достижения ваших целей
        video.pb-section-hero__video.animate.js-animation-start(autoplay='' loop='' muted='' poster='img/video-poster.jpg')
                    source(src='img/video-background.mp4' type='video/mp4')
        .pb-section-hero__overlay


    section.pb-section.pb-section--gradient.position-relative.z-1
        .container
            .d-flex.flex-column.row-gap-6.row-gap-lg-11
                h2.pb-section__title.dark-0.text-center.animate.js-animation Особые условия для&nbsp;важных клиентов
                .pb-cards-grid
                    +pb-card-special(specialPrivilegesCards[0]).pb-cards-grid__item.animate.js-animation
                    each card in specialPrivilegesCards.slice(1)
                        .pb-card-special.pb-cards-grid__item.animate.js-animation
                            .d-flex.flex-column.flex-md-row.row-gap-2.col-gap-md-3
                                .d-flex.flex-column.align-items-start.row-gap-4.row-md-gap-3
                                    h3.pb-card-special__title!= card.title
                                    p.pb-card-special__text!= card.description
                                .pb-card-special__image
                                    img(src=card.image, alt=card.title, loading="lazy")

    section.pb-section.py-lg-11
        .container
            h3.pb-section__title.dark-0.text-center.mb-4.mb-md-6.animate.js-animation Премиальная карта Мир&nbsp;Supreme
            p.pb-section__subtitle.dark-0.text-center.m-0.px-xl-6.animate.js-animation Дебетовая карта с&nbsp;ежемесячным начислением процентов на&nbsp;остаток средств или кредитная карта с&nbsp;бесплатным снятием наличных.
            .pb-card-wrapper.my-6.position-relative
                .pb-card-image.pb-card-image--type-dark.animate.js-animation
                    //.pb-card-image__mask
                    img(src="img/pb-images/pb-card-supreme-dark.png", alt="Supreme Card")
                .pb-card-image.pb-card-image--type-light.animate.js-animation
                    //.pb-card-image__mask
                    //    .pb-card-image__blick


                    img(src="img/pb-images/pb-card-supreme-light.png", alt="Supreme Card")
            .pb-benefits.d-flex.flex-column.flex-lg-row.flex-wrap.gap-4.align-items-md-start.justify-content-lg-center
                each benefit in supremeCardBenefits
                    +pb-card-benefit(benefit.icon, benefit.text).animate.js-animation
            .mt-6.text-center
                a(href="#").btn.btn-pb.btn-pb--primary.btn-pb--size-lg.w-100.w-md-auto.animate.js-animation Стать клиентом
    section.pb-section.pb-section--gradient.pb-section--bg-lines
        .container
            .d-flex.flex-column.row-gap-6.row-gap-lg-11
                h3.pb-section__title.dark-0.text-center.animate.js-animation Банк для вас
                .pb-cards-grid
                    +pb-card-special(bankingForYou[0]).pb-cards-grid__item.animate.js-animation
                    each card in bankingForYou.slice(1)
                        .pb-card-special.pb-cards-grid__item.animate.js-animation
                            .d-flex.flex-column.flex-md-row.row-gap-2.col-gap-md-3
                                .d-flex.flex-column.row-gap-4.row-md-gap-3
                                    h3.pb-card-special__title!= card.title
                                    p.pb-card-special__text!= card.description
                                .pb-card-special__image
                                    img(src=card.image, alt=card.title)

    section.pb-section.pb-section--gradient-linear
        .container
            h3.pb-section__title.dark-0.text-center.mb-4.d-md-none.animate.js-animation Премиум-услуги
            .pb-services.d-flex.flex-column.row-gap-4.row-gap-md-5.row-gap-lg-9
                ul.pb-services__header.nav.nav-tabs.flex-nowrap.justify-content-center.w-100.animate.js-animation(role="tablist")
                    li.nav-item(role="presentation")
                        button.nav-link.active#finance-tab(data-bs-toggle="tab" data-bs-target="#finance" type="button" role="tab" aria-controls="finance" aria-selected="true")
                            | Финансовые <span class="d-none d-md-inline">услуги</span>
                    li.nav-item(role="presentation")
                        button.nav-link#investment-tab(data-bs-toggle="tab" data-bs-target="#investment" type="button" role="tab" aria-controls="investment" aria-selected="false")
                            | Инвестиционные <span class="d-none d-md-inline">услуги</span>
                .tab-content
                    .tab-pane.fade.active.show#finance(role="tabpanel" aria-labelledby="finance-tab" tabindex="0")
                        .js-pb-tags-thumbs.swiper.mb-4.pb-tags-wrapper.animate.js-animation
                            .swiper-wrapper.d-flex.flex-wrap.row-gap-2
                                each tag in financeCards
                                    .swiper-slide.pb-tags(role="button")
                                        span= tag.title

                        .pb-services__slider.js-pb-slider.swiper.animate.js-animation
                            .swiper-wrapper
                                each card in financeCards
                                    .swiper-slide
                                        .pb-card-service
                                            .d-flex.flex-column.row-gap-3
                                                h3.pb-card-service__title!= card.title
                                                p.pb-card-service__text!= card.description
                                            .pb-card-service__image.mt-auto.mt-md-0
                                                img(src=card.image, alt=card.title)
                            .pb-services__pagination.d-flex.gap-2.justify-content-center.mt-4
                    .tab-pane.fade#investment(role="tabpanel" aria-labelledby="investment-tab" tabindex="0")
                        .js-pb-tags-thumbs.swiper.mb-4.pb-tags-wrapper.animate.js-animation
                            .swiper-wrapper.d-flex.flex-wrap.row-gap-2
                                each tag in investmentCards
                                    .swiper-slide.pb-tags(role="button")
                                        span= tag.title
                        .pb-services__slider.js-pb-slider.swiper.animate.js-animation
                            .swiper-wrapper
                                each card in investmentCards
                                    .swiper-slide
                                        .pb-card-service
                                            .d-flex.flex-column.row-gap-3
                                                h3.pb-card-service__title!= card.title
                                                p.pb-card-service__text!= card.description
                                            .pb-card-service__image.mt-auto.mt-md-0
                                                img(src=card.image, alt=card.title)
                            .pb-services__pagination.d-flex.gap-2.justify-content-center.mt-4

    section.pb-section.pb-section--gradient.pb-section--bg-lines
        .container
            form(action="#").pb-form.d-flex.flex-column.row-gap-4.row-gap-lg-5
                h4.pb-form__title.dark-0.text-center Стать клиентом
                .row.g-1
                    .col-12.col-md-6
                        .d-flex.flex-column.row-gap-1.row-gap-lg-2
                            label(for="name").form-label.form-label--pb.mb-0
                                | Имя
                            input#name(type="text" name="name" placeholder="Введите имя").form-control.form-control--pb
                    .col-12.col-md-6
                        .d-flex.flex-column.row-gap-1.row-gap-lg-2
                            label(for="phone").form-label.form-label--pb.mb-0
                                | Телефон
                            input#phone(type="text" name="phone" aria-describedby="mobile-phone-hint" placeholder="+7").js-mask-phone.form-control.form-control--pb
                .row.g-1
                    .col-12.col-md-8
                        .d-flex.flex-column.row-gap-1.row-gap-lg-2
                            label(for="select-date").form-label.form-label--pb.mb-0
                                | Удобное время для звонка
                            select#select-date(aria-label="Выберите дату").form-select.js-select
                                option(selected value="1") Сегодня
                                option(value="2") Список 2
                                option(value="3") Список 3
                                option(value="4") Список 4
                                option(value="5") Список 5
                                option(value="6") Список 6
                                option(value="7") Список 7
                                option(value="8") Список 8
                    .col-12.col-md-4
                        .form-control-time
                            input#hours(type="number" name="hours" min="1" max="24" placeholder="19").form-control.form-control--pb
                            input#minutes(type="number" name="minutes" min="0" max="59" placeholder="00").form-control.form-control--pb

                .form-check.form-check--pb
                    input#personal(type="checkbox" checked).form-check-input
                    label(for="personal").form-check-label
                        | Я&nbsp;согласен с&nbsp;условиями использования банком моих персональных данных для обработки данного обращения
                .pb-form__footer.d-flex.justify-content-center
                    button(type="submit").btn.btn-pb.btn-pb--primary.w-100.w-md-auto Отправить
    section.pb-section.pb-section--bg-black
        .container
            .pb-card-office.animate.js-animation
                .pb-card-office__content.d-flex.flex-column.align-items-start
                    h3.pb-card-office__title.mb-3.mb-lg-4 Контакты
                    p.pb-card-office__text.pr-text-color.mb-0 119180 Москва,ул. Большая Полянка д.&nbsp;50/1&nbsp;стр.&nbsp;1
                    .mt-auto.d-flex.justify-content-between.align-items-center.w-100
                        ul.pb-card-office__list.d-flex.flex-column.row-gap-2.row-gap-md-3.align-items-start
                            li
                                a(href="mailto:vip@novikom.ru") vip@novikom.ru
                            li
                                a(href="tel:+78002507007") +7 800 250-70-07
                        .pb-card-office__qr.d-none.d-xl-block
                            img(src="img/pb-images/pb-contact-qr.png" alt="qr-код" loading="lazy" width="80" height="80")
                .pb-card-office__map
                    img(src="img/pb-images/pb-contact-map.png" alt="карта" loading="lazy")
