extends ../templates/base

block title
    title= 'Страница Устойчивое развитие'
    meta(name="description" content="Описание страницы устойчивым развитием")
block content
    -
        var bannerTextData = {
            title: "ESG-банкинг и принципы <br class='d-none d-lg-block'>устойчивого развития",
            breadcrumbsArray: [
                {linkText: "О банке", link: "/"}
            ],
            description: "",
        }

        var cardProductList = [
            {
                title: 'Документы',
                img: 'large-individual/contribution-rentier.png',
                link: 'Подробнее',
            },
            {
                title: 'Закупки <br>у субъектов МСП',
                img: 'large-corporate/account-reservation.png',
                link: 'Подробнее',
            },
            {
                title: 'Реестр <br>недобросовестных поставщиков',
                img: 'large-corporate/account-reservation.png',
                link: 'Подробнее',
            },
        ]

        var benefitList = [
            {
                spriteData: {
                    name: 'icon-a-account',
                    classList: 'size-lxl',
                },
                title: 'Природа',
                list: [
                    'Чистая вода и санитария',
                    'Недорогостоящая и чистая энергия',
                    'Ответственное потребление и производство',
                    'Борьба с изменением климата',
                    'Сохранение морских экосистем',
                    'Сохранение экосистем суши'
                ]
            },
            {
                spriteData: {
                    name: 'icon-a-account',
                    classList: 'size-lxl',
                },
                title: 'Общество',
                list: [
                    'Ликвидация нищеты',
                    'Ликвидация голода',
                    'Хорошее здоровье и благополучие',
                    'Качественное образование',
                    'Гендерное равенство',
                    'Достойная работа и экономический рост'
                ]
            },
            {
                spriteData: {
                    name: 'icon-a-account',
                    classList: 'size-lxl',
                },
                title: 'Управление',
                list: [
                    'Индустриализация, инновации и инфраструктура',
                    'Устойчивые города и населенные пункты',
                    'Мир, правосудие и эффективные институты',
                    'Партнерство в интересах устойчивого развития.'
                ]
            }
        ]

        var tabsList = [
            {
                link: '#more-tab-1',
                id: 'more-tab-1',
                linkText: 'Нормативное регулирование',
                isActive: false
            },
            {
                link: '#more-tab-2',
                id: 'more-tab-2',
                linkText: 'Отчеты об устойчивом развитии',
                isActive: false
            },
            {
                link: '#more-tab-3',
                id: 'more-tab-3',
                linkText: 'ЭКО-пункты',
                isActive: true
            },
            {
                link: '#more-tab-4',
                id: 'more-tab-4',
                linkText: 'Нормативные документы',
                isActive: false
            },
        ]

        var allCards = [
            {
                id: 1,
                href: "#",
                title: "В Новикоме обсудили благотворительную помощь новым регионам",
                imageSrc: "img/news-cards/card-image-1.png",
                date: "24.07.2024",
                isNeedStickyIcon: false,
            },
            {
                id: 2,
                href: "#",
                imageSrc: "img/news-cards/card-image-1.png",
                title: "Новиком совместно с ВШЭ проведет лекции для участников форума «Инженеры будущего»",
                date: "18.07.2024",
                isNeedStickyIcon: false,
            },
            {
                id: 3,
                href: "#",
                imageSrc: "img/news-cards/card-image-1.png",
                title: "Стартовал молодежный промышленный форум «Инженеры будущего»",
                date: "18.07.2024",
                isNeedStickyIcon: false,
            },
        ]

        var paginationObject = {
            prevLink: "",
            nextLink: "#2",
            lastLink: {
                link: "#9",
                linkText: "9",
            },
            list: [
                {
                    link: "#1",
                    linkText: "1",
                    isActive: true,
                },
                {
                    link: "#2",
                    linkText: "2"
                },
                {
                    link: "#3",
                    linkText: "3"
                },
                {
                    link: "#4",
                    linkText: "4"
                }
            ]
        }

    include ../cards/card-news
    include ../components/banners/banner-text
    include ../includes/header/header
    include ../components/benefit
    include ../components/ui/tabs
    include ../components/ui/tabs-simple
    include ../components/ui/pagination
    include ../components/announcement
    include ../components/helper
    include ../components/quote

    +banner-text(
        bannerTextData,
        "green"
    )

    section.section-layout.py-lg-11
        .container
            .rte.rte--w-xxl-60.px-lg-6.mb-6.mb-lg-7
                h3 Что такое ESG и принципы устойчивого развития
                p ESG — подход реализует принципы экологической, социальной и управленческой ответственности и предусматривает ведение деятельности в соответствии с лучшими практиками корпоративного управления и с учетом ее благоприятного влияния на окружающую среду и общество.
            +polygon-container("violet-100")
                +helper("img/restructuring-additional-info.png", "bg-dark-10")
                    p.size-l.mb-0 В 2015 году Организация Объединенных наций разработала долгосрочную повестку по Целям Устойчивого Развития до 2030 года. Программа повестки содержит 17 целей по решению проблем в области ликвидации нищеты, предотвращения истощения ресурсов планеты, а также для <a href="#">обеспечения мирового благополучия</a>. Россия вошла в список из 193 стран, принявших данные цели.

    section.section-layout.py-lg-11.px-lg-6
        .container
            .row.row-gap-6
                .col-12
                    h3 Цели устойчивого развития
                each benefit in benefitList
                    .col-12.col-md-6.col-lg-4
                        +benefit(benefit.spriteData, benefit.title)
                            if benefit.list
                                ul.list
                                    each item in benefit.list
                                        li!= item

    section.section-layout.py-lg-11.px-lg-6
        .container
            .rte.rte--w-xxl-60
                h3 Обеспечение устойчивого развития в Банке
                p Применительно к деятельности Банка, ESG подход представляет собой концепцию банковской деятельности, основанную на принципах экологической, социальной и корпоративной ответственности в интересах текущего и будущих поколений, а также на практической реализации инициатив для достижения Национальных целей развития Российской Федерации, ЦУР (Целей устойчивого развития) и других общественно значимых ценностей.
                +polygon-container('violet-100', 'quote-polygon-container__content').quote-polygon-container
                    +quote("img/small-quote-sticker.png")
                        p.mb-3.mb-md-4.text-l
                            i Для реализации данного подхода руководством Банка была поставлена задача провести ESG-трансформацию Банка и адаптировать его корпоративную культуру, процессы и процедуры к задачам государства в области устойчивого развития.
                        p.mb-0.text-l.d-none.d-lg-block
                            i АО АКБ «НОВИКОМБАНК» последовательно интегрирует принципы устойчивого развития в свои стратегические и операционные планы, стремясь учитывать интересы всех сторон, при этом Банк ориентирован на последовательное развитие комплексной и эффективной модели управления ESG рисками.
                        p.mb-0.fw-semibold.text-m.d-block.d-lg-none
                            | АО АКБ «НОВИКОМБАНК» последовательно интегрирует принципы устойчивого развития в свои стратегические и операционные планы, стремясь учитывать интересы всех сторон, при этом Банк ориентирован на последовательное развитие комплексной и эффективной модели управления ESG рисками.
                p!= "В 2021 году в Банке создана Служба по управлению рисками устойчивого развития. В процесс обеспечения устойчивого развития Банка вовлечены функциональные подразделения и руководящие органы Банка. <br><br>В действующей Стратегии Банка, а также в ряде внутренних нормативных документов отражаются принципы ответственного видения бизнеса, учет экологических, социальных и управленческих факторов. <br><br>В основу ESG-стратегии Банка будут заложены национальные цели развития РФ и релевантные для Банка цели устойчивого развития ООН (ЦУР). Приоритетные направления устойчивого развития: ответственное финансирование, в том числе предоставление консультаций клиентам для совершенствования ESG - характеристик их бизнеса; разработка ESG - проектов совместно с клиентами; инвестиции в социально значимые проекты, а также формирование культуры и модели управления ESG-рисками."
                h4 Реализация ESG-трансформации
                p Особое внимание в ходе реализации ESG трансформации планируется уделить кредитованию экологических проектов, созданию новых зеленых и адаптационных инструментов, удобных для всех клиентских сегментов, с которыми работает Банк. Одним из важнейших направлений новой стратегии станет реализация проектов в области социальной инфраструктуры.
                div
                    h5 Банк также рассматривает вопросы
                    ul
                        li сокращения собственного экологического следа,
                        li снижение и улучшение структуры потребления энергии,
                        li снижение потребления воды,
                        li переход на безбумажный документооборот.
                p Процедуры контроля качества и ориентиров, по которым можно будет отслеживать успешность выполнения поставленных целей и задач стратегии, должны стать основой для оценки деятельности Банка на пути достижения поставленной цели.
                p В настоящее время Банк активно участвует в обсуждении инициатив по ESG на различных дискуссионных площадках, проводит консультации с рейтинговыми агентствами. В частности, являясь членом Проектной группы “ESG-банкинг” Ассоциации Банков России, принимает активное участие в формировании и обсуждении законодательных инициатив Ассоциации. Представители Банка являются членами Экспертного совета по устойчивому развитию и зеленому финансированию при Комитете Государственной думы РФ по финансовым рынкам и входят в Подгруппу «Доступные финансы для инвестиционных проектов» при Рабочей группе Минэкономразвития РФ.
                +polygon-container('violet-100', 'quote-polygon-container__content').quote-polygon-container
                    +quote("img/small-quote-sticker.png")
                        i.text-l
                            |   В декабре 2021 года Правлением Банка утвержден План мероприятий по развитию и внедрению ESG-принципов в Банке, который успешно реализуется в 2022 году. В частности, введен в действие Классификатор проектов устойчивого (в том числе зеленого) развития, все работники Банка прошли вводный обучающий курс по теме устойчивого развития, проводится углубленный анализ кредитного портфеля на предмет классификации проектов устойчивого развития, адаптируются операционная система и информационные ресурсы Банка с целью отражения и последующей агрегации в них информации об инициативах Банка и клиентов в области устойчивого развития.

    section.section-layout.py-lg-11
        .container
            .rte.rte--w-xxl-60.px-lg-6.mb-6.mb-lg-7
                h3 Продукты Банка в области устойчивого развития
                div
                    p Банк стремится предоставлять своим клиентам наиболее актуальные продукты и услуги в соответствии с принципами устойчивого развития, включая:
                    ul
                        li Консультирование на рынках заемного капитала, в т.ч. организация выпуска «зеленых» облигаций
                        li Кредитование, привязанное к целям устойчивого развития
                        li Организация финансирования проектов с привлечением государственных субсидий
                        li
                            span Выпуск <a href="#" class="blue-100">социально-платежных инструментов</a>
                    p В начале 2022 года Банком была запущена <a href="#" class="link blue-100">«Программа «Развитие»</a>, которая разработана совместно с Госкорпорацией Ростех в рамках реализации ESG-стратегии. Посредством этой программы Банк вносит вклад в укрепление кадрового потенциала высокотехнологичной промышленности.
                    p В августе 2022 года <a href="#" class="link blue-100">Национальное рейтинговое агентство (НРА) подтвердило</a> соответствие политики банка Новиком в области социальной направленности банковских продуктов международным и национальным принципам, стандартам и критериям в сфере устойчивого развития и социальной ответственности. На высокую оценку повлияло наличие у опорного банка Госкорпорации Ростех стимулирующих финансовых продуктов для сотрудников промышленности и участие в программах профессионального развития молодых инженеров.
                img(src="img/esg-certificate.png", alt="", loading="lazy").mobile-element-full-width
                p От Приморья до Подмосковья Банк развивает <a href="#" class="link">проект «Финансовая грамотность»</a>. Специалисты банка Новиком в течение 2022 года побывали в 14 регионах, где провели сотни лекций по финансовой грамотности для сотрудников ведущих производственных компаний. Семинары прошли в организациях авиастроительной, двигателестроительной и машиностроительной отраслей, охватив около 10 000 человек. Теперь к образовательной программе по финграмотности работники предприятий Ростеха могут подключиться онлайн из любой точки страны и с любого устройства: банк разработал специальный&nbsp;курс, который состоит из 10 видеолекций и доступен на <a href="#" class="link">платформе Академии Ростеха</a>.
            +polygon-container("violet-100")
                +helper("img/restructuring-additional-info.png", "bg-dark-10")
                    p.size-l.mb-0 Более подробно познакомиться с деятельностью Банка, направленной на реализацию национальных целей&nbsp;развития и ЦУР ООН, продуктами и инициативами в области устойчивого развития, можно в представленных ниже анонсах событий.

    section.section-layout.py-md-11.js-collapsed-mobile
        .container
            h3.d-none.d-md-block.mb-md-6.mb-lg-7.px-lg-6
                | Подробнее
            a(
                data-bs-toggle="collapse"
                href="#more-details"
                role="button"
                aria-expanded="false"
                aria-controls="more-details"
            ).h3.d-flex.align-items-center.justify-content-between.dark-100.d-md-none
                | Подробнее
                +svg-use("icon-chevron-down", "icon size-m blue-100")
            #more-details.collapse.d-md-block.mt-4.mt-md-6.mt-lg-7
                .row.px-lg-6
                    .col-12
                    .d-none.d-lg-block.w-100
                        +tabs-simple(tabsList, false)
                    .d-block.d-lg-none.w-100
                        +tabs-simple(tabsList, true)
                    .tab-content.mt-4.mt-md-6.mt-lg-7.min-h-50
                        #more-tab-1.tab-pane.fade(aria-labelledby="more-tab-1" tabindex="0" role="tabpanel")
                            .d-flex.flex-column.gap-4.gap-md-6.gap-xl-7(style="min-height: 400px")
                                p.text-l.mb-0 Нормативное регулирование - контент
                        #more-tab-2.tab-pane.fade(aria-labelledby="more-tab-2" tabindex="0" role="tabpanel")
                            .d-flex.flex-column.gap-4.gap-md-6.gap-xl-7(style="min-height: 400px")
                                p.text-l.mb-0 Отчеты об устойчивом развитии - контент
                        #more-tab-3.tab-pane.fade.show.active(aria-labelledby="more-tab-3" tabindex="0" role="tabpanel")
                            .d-flex.flex-column.gap-4.gap-md-6.gap-xl-7
                                p.mb-0.text-l.fw-semibold По ссылкам:
                                .d-flex.flex-column.gap-3.gap-md-4
                                    a(href="https://2gis.ru").blue-100.text-l 2gis.ru
                                    a(href="https://eco-punkt.ru").blue-100.text-l eco-punkt.ru
                                    a(href="https://eco-punkt.ru/map/").blue-100.text-l eco-punkt.ru/map/
                                    a(href="https://uberu.reo.ru").blue-100.text-l uberu.reo.ru

                                div
                                    h5.mb-4 вы сможете получить информацию о расположении ближайших пунктов:
                                    ul.list.list--size-l
                                        li сбора металлолома
                                        li сбора и утилизации бумаги
                                        li сбора стеклотары
                                        li приема батареек и прочих предприятий по утилизации отходов
                                        li ЭКО-пунктов
                        #more-tab-4.tab-pane.fade(aria-labelledby="more-tab-4" tabindex="0" role="tabpanel")
                            .d-flex.flex-wrap.gap-4.gap-md-5.gap-xl-6(style="min-height: 400px")
                                p.text-l.mb-0 Нормативные документы
        +pattern-bg('section-2', 'light', 'd-none d-md-block')

    section.section-layout.py-lg-11.d-none.d-lg-block
        .container
            .row.row-gap-5.row-gap-md-7
                each item in allCards
                    .col-12.col-md-6.col-lg-4
                        +card-news(item)
                .col-12
                    +pagination(paginationObject)
