extends ../templates/base

block title
    title= 'Частные клиенты'
    meta(name="description" content="Описание главной страницы")
block content
    -
        var linkDownloadList = [
            {
                href: "#",
                text: "Сборник тарифов на обслуживание банковских карт для физических лиц, выпущенных по 21.08.2022 г.",
                dateTime: "12.12.23 18:56",
                fileType: "XLS",
            },
            {
                href: "#",
                text: "Сборник тарифов на обслуживание банковских карт для физических лиц, выпущенных по 21.08.2022 г.",
                dateTime: "12.12.23 18:56",
                fileType: "XLS",
            },
            {
                href: "#",
                text: "Наименование документа",
                dateTime: "12.12.23 18:56",
                fileType: "XLS",
            },
            {
                href: "#",
                text: "Сборник тарифов на обслуживание банковских карт для физических лиц, выпущенных по 21.08.2022 г.",
                dateTime: "12.12.23 18:56",
                fileType: "XLS",
            },
        ]

    include ../components/document-download
    include ../components/ui/tabs
    include ../components/ui/pagination
    include ../components/ui/accordion-item
    include ../components/helper
    include ../components/stepper
    include ../components/banners/banner-product-info
    include ../cards/card-text
    include ../cards/card-product-list
    include ../cards/card-product
    include ../cards/card-service
    include ../cards/card-service-app
    include ../cards/card-benefit
    include ../cards/card-help
    include ../cards/card-step
    include ../cards/card-news

    section#typography.section-layout
        .container
            .d-flex.flex-column.row-gap-5
                h2 Типографика
                .row.row-gap-4.gap-md-0
                    .col-12.col-md-6
                        .d-flex.flex-column.gap-2
                            h1 Заголовок 1
                            h2 Заголовок 2
                            h3 Заголовок 3
                            h4 Заголовок 4
                            h5 Заголовок 5
                            h6 Заголовок 6
                    .col-12.col-md-6
                        .d-flex.flex-column.gap-3
                            span.text-l.fw-semibold Текстовый фрейм L Heavy
                            span.text-l Текстовый фрейм L
                            span.fw-semibold.fs-2.lh-base Текстовый фрейм M Heavy
                            span.text-m Текстовый фрейм M
                            span.fw-semibold.fs-3.lh-sm Текстовый фрейм S Heavy
                            span.text-s Текстовый фрейм S
                            span.fs-4.lh-sm Подсказка
                .row.row-gap-4
                    .col-12.col-md-6.col-xl-2
                        ul.fw-semibold.text-l.list
                            li Список L
                            li Список L
                            li Список L
                    .col-12.col-md-6.col-xl-2
                        ul.fw-semibold.text-l.list
                            li Список L Heavy
                            li Список L Heavy
                            li Список L Heavy
                    .col-12.col-md-6.col-xl-2
                        ul.list
                            li Список M
                            li Список M
                            li Список M
                    .col-12.col-md-6.col-xl-2
                        ul.fw-semibold.list
                            li Список M Heavy
                            li Список M Heavy
                            li Список M Heavy
                    .col-12.col-md-6.col-xl-2
                        ul.text-s.list
                            li Список S
                            li Список S
                            li Список S
                    .col-12.col-md-6.col-xl-2
                        ul.fw-semibold.text-s.list
                            li Список S Heavy
                            li Список S Heavy
                            li Список S Heavy
                .row.row-gap-4
                    .col-12.col-md-6.col-xl-3
                        .d-inline-flex.flex-nowrap.align-items-baseline.text-l.fw-semibold.gap-1
                            h4 Выгодно
                            | от
                            span.text-number-l.fw-bold 0
                            span.text-number-l.font-roboto.fw-bold ₽
                            | дней
                    .col-12.col-md-6.col-xl-5
                        each link in linkDownloadList
                            +document-download(link)

                    .col-12.col-md-6.col-xl-4
                        p.text-primary Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cum, natus.
                        p.text-secondary Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cum, natus.
                        p.text-success Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cum, natus.
    section#buttons.section-layout.pt-0
        .container
            .d-flex.flex-column.row-gap-5
                h2 Кнопки
                .row.row-gap-4.gap-md-0.row-gap-md-4
                    .col-12.col-md-6.col-xl-3.d-flex.flex-column.row-gap-3.p-3
                        button.btn.btn-primary.btn-lg(type="button") Кнопка Primary
                        button.btn.btn-primary(type="button") Кнопка Primary
                        button.btn.btn-primary.btn-sm(type="button") Кнопка Primary
                    .col-12.col-md-6.col-xl-3.d-flex.flex-column.row-gap-3.p-3
                        button.btn.btn-secondary.btn-lg(type="button") Кнопка Secondary
                        button.btn.btn-secondary(type="button") Кнопка Secondary
                        button.btn.btn-secondary.btn-sm(type="button") Кнопка Secondary
                    .col-12.col-md-6.col-xl-3.d-flex.flex-column.row-gap-3.p-3
                        button.btn.btn-tertiary.btn-lg(type="button") Кнопка Tertiary
                        button.btn.btn-tertiary(type="button") Кнопка Tertiary
                        button.btn.btn-tertiary.btn-sm(type="button") Кнопка Tertiary
                    .col-12.col-md-6.col-xl-3.bg-body-tertiary.p-3.d-flex.flex-column.row-gap-3
                        button.btn.btn-info.btn-lg(type="button") Кнопка Info
                        button.btn.btn-info(type="button") Кнопка Info
                        button.btn.btn-info.btn-sm(type="button") Кнопка Info
                    .col-12.col-md-6.col-xl-3.d-flex.flex-column.row-gap-3.p-3
                        button.btn.btn-outline-primary.btn-lg.btn-icon(type="button")
                            +svg-use("icon-download", "icon size-m")
                            | Outline Primary
                            +svg-use("icon-download", "icon size-m")

                        button.btn.btn-outline-primary.btn-icon(type="button")
                            +svg-use("icon-download", "icon size-m")
                            | Outline Primary
                            +svg-use("icon-download", "icon size-m")
                        button.btn.btn-outline-primary.btn-sm.btn-icon(type="button")
                            +svg-use("icon-download", "icon size-s")
                            | Кнопка Outline Primary
                            +svg-use("icon-download", "icon size-s")
                    .col-12.col-md-6.col-xl-3.d-flex.flex-column.row-gap-3.p-3
                        button.btn.btn-link.btn-lg.btn-icon(type="button")
                            +svg-use("icon-download", "icon size-m")
                            | Кнопка
                            +svg-use("icon-download", "icon size-m")
                        button.btn.btn-link.btn-icon(type="button")
                            +svg-use("icon-download", "icon size-m")
                            | Кнопка
                            +svg-use("icon-download", "icon size-m")
                        button.btn.btn-link.btn-sm.btn-icon(type="button")
                            +svg-use("icon-download", "icon size-s")
                            | Кнопка
                            +svg-use("icon-download", "icon size-s")
                    .col-12.col-md-6.col-xl-3.d-flex.flex-column.align-items-start.row-gap-3.bg-primary.p-3
                        button.btn.btn-link.btn-lg.text-info.btn-icon(type="button")
                            +svg-use("icon-download", "icon size-m")
                            | Кнопка
                            +svg-use("icon-download", "icon size-m")
                        button.btn.btn-link.text-info.btn-icon(type="button")
                            +svg-use("icon-download", "icon size-m")
                            | Кнопка
                            +svg-use("icon-download", "icon size-m")
                        button.btn.btn-link.btn-sm.text-info.btn-icon(type="button")
                            +svg-use("icon-download", "icon size-s")
                            | Кнопка
                            +svg-use("icon-download", "icon size-s")
    section#dropDown.section-layout.pt-0
        .container
            .d-flex.flex-column.row-gap-5
                h2 DropDown
                .row.row-gap-4.gap-md-0.row-gap-md-4(style="height: 200px")
                    .col-12.col-md-6.col-xl-3
                        .dropdown
                            button.btn.btn-sm.btn-primary.dropdown-toggle(type="button", data-bs-toggle="dropdown", aria-expanded="false")
                                | Онлайн-банк
                            ul.dropdown-menu
                                li
                                    a.dropdown-item.fw-bold(href="#") Для частных лиц
                                li
                                    a.dropdown-item.fw-bold(href="#") Для организаций

    section#chip.section-layout.pt-0
        .container
            .d-flex.flex-column.row-gap-5
                h2 Chip
                .row.row-gap-4.gap-md-0.row-gap-md-4
                    .col-6
                        .d-flex.flex-wrap.gap-3
                            a.chip.text-s(href="#")
                                | Зарплатный проект
                            a.chip.text-s(href="#")
                                | Зарплатная карта
                            a.chip.text-s(href="#")
                                | Расчетный счет
                            a.chip.text-s(href="#")
                                | Ипотека в новостройке
                            a.chip.text-s(href="#")
                                | Кредит на бизнес
                            a.chip.text-s(href="#")
                                | Депозиты
                            a.chip.text-s(href="#")
                                | Вклады
                            a.chip.text-s(href="#")
                                | Социально-платежная карта МИР
                            a.chip.text-s(href="#")
                                | Банковские гарантии
                    .col-6
                        .d-flex.flex-wrap.gap-3
                            span.chip.chip--outlined.caption-m
                                | chip--outlined
                            span.chip.chip--outlined.caption-m
                                | доб. 055
                            span.chip.chip--outlined.caption-m
                                | Банковские гарантии

    section#tabs-panel.section-layout.section-layout--padding-top-0
        -
            const tabsList = [
                {
                    link: '#',
                    linkText: 'Кнопка',
                },
                {
                    link: '#',
                    linkText: 'Кнопка',
                },
                {
                    link: '#',
                    linkText: 'Кнопка',
                },
                {
                    link: '#',
                    linkText: 'Кнопка',
                },
                {
                    link: '#',
                    linkText: 'Кнопка',
                },
                {
                    link: '#',
                    linkText: 'Кнопка',
                },
            ]

        .container
            .d-flex.flex-column.row-gap-5
                h2 Tab panel & Tab item
                .row.row-gap-4.gap-md-0.row-gap-md-4
                    .col-12.col-lg-8
                        +tabs(
                            tabsList,
                            "",
                            ""
                        )
                    .col-12.col-lg-4
                        ul.tabs-panel__list.nav.nav-tabs.d-inline-flex.flex-nowrap.w-auto.p-0.border.border-purple.rounded
                            li.w-auto.tabs-panel__list-item.nav-item.z-2
                                a.tabs-panel__list-item-link.nav-link.bg-transparent.active(aria-current="page" href=tabsList[0].link)= tabsList[0].linkText
                        ul.tabs-panel__list.nav.nav-tabs.d-inline-flex.flex-nowrap.w-auto.p-0.border.border-purple.rounded
                            li.w-auto.tabs-panel__list-item.nav-item.z-2
                                a.tabs-panel__list-item-link.nav-link.bg-transparent(href=tabsList[1].link)= tabsList[1].linkText
                .row.row-gap-4.gap-md-0.row-gap-md-4
                    .col-12
                        +tabs(
                            tabsList,
                            "",
                            "",
                            true
                        )


    section.card-text-list.section-layout.bg-dark-10.py-6
        -
            const cardTextItems = [
                {
                    title: 'Заголовок',
                    description: 'Текстовый фрейм L',
                    link: '#1'
                },
                {
                    title: 'Кредитные каникулы по ипотечным кредитам согласно Федеральному закону № 353-ФЗ',
                    link: '#2'
                }
            ]

        .container
            .d-flex.flex-column.row-gap-5.mb-4
                h2 Card Text
            .row.align-items-stretch.row-gap-4.row-gap-sm-6
                .col-12.col-md-6
                    +card-text(cardTextItems[0])
                .col-12.col-md-6
                    +card-text(cardTextItems[0])
                .col-12
                    +card-text(cardTextItems[1])

    section.loans-catalog__list.section-layout
        -
            const consumerLoans = [
                {
                    title: 'Кредит на любые цели<br> для зарплатных клиентов',
                    description: 'Воплощение задуманных планов и реализация любых целей уже сегодня',
                    imgSrc: 'big-illustrations/large-individual/credit-for-any-purpose-salary-clients.png',
                    links: [],
                    tagText: '',
                    textButton: 'Оформить заявку',
                    conditions: [
                        {
                            startText: '',
                            beforeText: 'от',
                            text: '18%',
                            afterText: '',
                            currency: '',
                            description: 'Ставка'
                        },
                        {
                            startText: '',
                            beforeText: 'до',
                            text: '1 500 000',
                            afterText: '',
                            currency: '₽',
                            description: 'Сумма'
                        },
                        {
                            startText: '',
                            beforeText: 'до',
                            text: '3 лет',
                            afterText: '',
                            currency: '',
                            description: 'Срок'
                        }
                    ]
                },
                {
                    title: 'Реструктуризация',
                    description: 'Программы для заемщиков, у которых возникли трудности с погашением кредита',
                    imgSrc: 'big-illustrations/large-individual/restructuring.png',
                    links: [],
                    tagText: '',
                    conditions: [
                        {
                            startText: 'Уменьшение',
                            beforeText: '',
                            text: '',
                            afterText: '',
                            currency: '',
                            description: 'Кредитной ставки'
                        },
                        {
                            startText: 'Кредитные',
                            beforeText: '',
                            text: '',
                            afterText: '',
                            currency: '',
                            description: 'Каникулы'
                        }
                    ]
                }
            ]

        .container
            .d-flex.flex-column.row-gap-5
                h2 Card Product List

                .row.row-gap-4.gap-md-0.row-gap-md-4
                    .col-12.position-relative.z-1.d-flex.flex-column.align-items-start.gap-5.gap-md-7
                        each item in consumerLoans
                            +card-product-list(item)

    section#card-product.section-layout.section-layout--padding-top-0
        -
            var cardProductList = [
                {
                    color: 'green',
                    tag: 'Частным клиентам',
                    title: 'Вклад «Рантье»',
                    img: 'large-individual/contribution-rentier.png',
                    button: 'Открыть вклад',
                    subtitle: {
                        before: 'до',
                        number: '15,5%',
                    }
                },
                {
                    color: 'orange',
                    tag: 'Корпоративным клиентам',
                    title: 'Резервирование <br>счетов',
                    img: 'large-corporate/account-reservation.png',
                    button: 'Подать заявку',
                    description: 'Дистанционная подача заявки на&nbsp;открытие расчетного счета'
                },
                {
                    color: 'yellow',
                    tag: 'Малому и среднему бизнесу',
                    title: 'Экспресс-гарантии <br>44-ФЗ, 223-ФЗ',
                    img: 'large-corporate/guarantees.png',
                    button: 'Подать заявку',
                    description: 'Принятие решения за&nbsp;1 день, до&nbsp;30&nbsp;000&nbsp;000&nbsp;рублей, без залога'
                },
            ]
        .container
            .d-flex.flex-column.row-gap-5
                h2 Card Product

                .row.row-gap-4.gap-md-0.row-gap-md-4
                    each item in cardProductList
                        .col-12.col-md-6.col-xl-4
                            +card-product(item)

    section#card-service.section-layout.pt-0
        .container
            .d-flex.flex-column.row-gap-5
                h2 Card Service

                .row.row-gap-4.gap-md-0.row-gap-md-4
                    -
                        var cardServiceList = [
                            {
                                href: "#",
                                title: "Интернет-банк",
                                icon: "icon-a-web-bank"
                            }
                        ]
                    each card in cardServiceList
                        .col-12.col-md-6.col-lg-4
                            +card-service(card)
                        .col-12.col-lg-8
                            +card-service-app({
                                title: "Мобильное приложение",
                                benefits: [
                                    {
                                        icon: "icon-mobile",
                                        text: "Управление кешбэком и&nbsp;бонусами"
                                    },
                                    {
                                        icon: "icon-time",
                                        text: "Доступ к&nbsp;услугам банка 24/7"
                                    },
                                    {
                                        icon: "icon-cash",
                                        text: "Платежи и&nbsp;переводы без комиссии"
                                    }
                                ]
                            })
                                a(href="#").btn.btn-info.d-none.d-md-inline-flex.align-items-center
                                    img(src="img/app-logos/ru-store.svg" width="94" height="24" alt="RuStore" loading="lazy")
                                a(href="#").btn.btn-info.d-none.d-md-inline-flex.align-items-center
                                    img(src="img/app-logos/ru-market.svg" width="120" height="28" alt="RuMarket" loading="lazy")
                                a(href="#").btn.btn-info.d-none.d-md-inline-flex.align-items-center
                                    img(src="img/app-logos/nash-store.svg" width="112" height="18" alt="NashStore" loading="lazy")
                                a(href="#").btn.btn-info.btn-icon.d-none.d-md-inline-flex
                                    | Скачать
                                    +svg-use("icon-download", "icon size-m")
                                a(href="#").btn.btn-sm.btn-info.btn-icon.d-md-none
                                    | Скачать
                                    +svg-use("icon-download-small", "icon size-s")


    section#card-sale.section-layout.pt-0
        .container
            .d-flex.flex-column.row-gap-5
                h2 Card Sale
                include ../includes/layout/slider-cards-sales

    section#card-step.section-layout.pt-0
        .container
            .d-flex.flex-column.row-gap-5
                h2 Card Step
                .row.px-lg-6.row-gap-6
                    -
                        var cardStepList = [
                            {
                                title: "Онлайн",
                                text: "Закажите выпуск именной карты &laquo;Мир&raquo; прямо сейчас",
                                button: {
                                    href: "#",
                                    text: "Подать заявку",
                                }
                            },
                            {
                                title: "Через менеджера",
                                text: "Закажите консультацию сотрудника по&nbsp;телефону <span class='text-nowrap'>8&nbsp;800 250-70-07</span>"
                            },
                            {
                                title: "В&nbsp;офисе банка",
                                text: "Приходите в&nbsp;ближайший офис банка Новиком",
                                link: {
                                    href: "#",
                                    text: "Найти на карте",
                                }
                            },
                        ]

                    each item in cardStepList
                        .col-12.col-lg-4
                            +card-step(item).pe-xxl-11

    section#steps.section-layout.pt-0
        .container
            .d-flex.flex-column.row-gap-5
                h2 Steps

                .row.row-gap-6.px-lg-6
                    -
                        var allSteps = [
                            {
                                imageSrc: "step-indicator-1.svg",
                                title: "Предоставить <br>в Банк документы",
                                text: "Заявление об изменении условий договора и документы, подтверждающие снижение дохода. Заявление может быть оформлено заемщиком в офисе Банка, может быть направлено заемщиком в Банк с использованием системы дистанционного банковского обслуживания «Интерактив».",
                                button: {
                                    href: "#",
                                    text: "Оформить карту",
                                },
                                colorClassName: "violet-100"
                            },
                            {
                                imageSrc: "step-indicator-2.svg",
                                title: "Банк проанализирует вашу <br>ситуацию и примет решение",
                                text: "Срок рассмотрения заявок на реструктуризацию составляет до 10 рабочих дней с даты предоставления полного пакета необходимых документов.",
                                colorClassName: "violet-100"
                            },
                            {
                                imageSrc: "step-indicator-3.svg",
                                title: "Одобрение <br>реструктуризации",
                                text: "Если реструктуризация одобрена, подписать дополнительное соглашение к кредитному договору и прочей кредитно-обеспечительной документации (при наличии).",
                                colorClassName: "violet-100"
                            },
                        ]
                    +stepper(allSteps, allSteps.length, "violet")

    section#card-special.section-layout.pt-0
        -
            var pressReleases = [
                {
                    tag: "Пресс-центр",
                    date: "07.12.2023",
                    title: "Новикомбанк рассказал о развитии финансовых инструментов",
                    titleIsSmall: true
                },
                {
                    tag: "Пресс-центр",
                    date: "06.12.2023",
                    title: "Новикомбанк и Республика Татарстан договорились о сотрудничестве",
                    titleIsSmall: true
                },
                {
                    tag: "Союз машиностроителей",
                    date: "05.11.2023",
                    title: "При поддержке Новикомбанка Росэлектроника начала серийный выпуск KVM-коммутаторов для удаленного управления оборудованием",
                    titleIsSmall: true
                },
                {
                    tag: "Пресс-центр",
                    date: "20.11.2023",
                    title: "Новикомбанк и Республика Татарстан договорились о сотрудничестве",
                    titleIsSmall: true
                }
            ]

        .container
            .d-flex.flex-column.row-gap-5
                .d-flex.flex-column.gap-2
                    h2 Card Special
                    h4 "Card News" and "Card Special" comps without image
                include ../includes/layout/slider-cards-special
                .swiper.js-slider-cards.slider-cards(data-slides-per-view="mobile-s:1,mobile:1,tablet:2,laptop:3,laptop-x:3" data-space-between="mobile-s:8,mobile:8,tablet:8,laptop:8,laptop-x:8")
                    .swiper-wrapper.js-swiper-wrapper
                        each item in pressReleases
                            .swiper-slide.js-swiper-slide
                                +card-special(item)

                    +slider-controls().mt-3.mt-md-4

    section#card-news.section-layout.pt-0
        -
            var allCardsNews = [
                {
                    id: 1,
                    href: "#",
                    tag: "Акция",
                    title: "Избранные категории для программы лояльности «Кешбэк» через мобильное приложение и интернет-банк",
                    date: "25.04.2024",
                    imageSrc: "img/news-cards/card-image-1.png",
                    isNeedStickyIcon: true,
                },
                {
                    id: 2,
                    href: "#",
                    tag: "Предложение от партнеров",
                    title: "Избранные категории для программы лояльности «Кешбэк» через мобильное приложение и интернет-банк",
                    date: "25.04.2024",
                    isNeedStickyIcon: true,
                },
                {
                    id: 3,
                    href: "#",
                    tag: "Платежная система МИР",
                    title: "Избранные категории для программы лояльности «Кешбэк» через мобильное приложение и интернет-банк",
                    date: "25.04.2024",
                }
            ]
        .container
            .d-flex.flex-column.row-gap-5
                .d-flex.flex-column.gap-2
                    h2 Card News
                    h4 "Card News" and "Card Special" comps with image
                .row.row-gap-5.row-gap-md-7
                    each item in allCardsNews
                        .col-12.col-md-6.col-lg-4
                            +card-news(item)

    section#pagination.section-layout.pt-0
        -
            var paginationObject = {
                prevLink: "",
                nextLink: "#2",
                lastLink: {
                    link: "#4",
                    linkText: "4",
                },
                list: [
                    {
                        link: "#1",
                        linkText: "1",
                        isActive: true,
                    },
                    {
                        link: "#2",
                        linkText: "2"
                    },
                    {
                        link: "#3",
                        linkText: "3"
                    },
                    {
                        link: "#4",
                        linkText: "4"
                    }
                ]
            }

            var paginationObject2 = {
                prevLink: "#3",
                nextLink: "#5",
                firstLink: {
                    link: "#1",
                    linkText: "1",
                },
                lastLink: {
                    link: "#9",
                    linkText: "9",
                },
                list: [
                    {
                        link: "#3",
                        linkText: "3"
                    },
                    {
                        link: "#4",
                        linkText: "4",
                        isActive: true
                    },
                    {
                        link: "#5",
                        linkText: "5"
                    }
                ]
            }
        .container
            .d-flex.flex-column.row-gap-5
                .d-flex.flex-column.gap-2
                    h2 Pagination
                .row.row-gap-5.row-gap-md-7
                    .col-12.col-md-6
                        +pagination(paginationObject)
                    .col-12.col-md-6
                        +pagination(paginationObject2)

    section#select.section-layout.pt-0
        .container
            .d-flex.flex-column.row-gap-5
                h2 Input / Select

                .row
                    .col-12.col-md-6.col-xl-3
                        .d-flex.flex-column.row-gap-2
                            label(for="inp5").form-label.mb-0
                                | Наименование
                                span.orange-100.ms-1 *
                            input#inp5(type="text" name="name5" placeholder="Введите текст").form-control.form-control-lg
                            span.caption-m.dark-70.d-block Подсказка
                    .col-12.col-md-6.col-xl-3
                        .d-flex.flex-column.row-gap-2
                            label(for="inp6").form-label.mb-0
                                | Наименование
                                span.orange-100.ms-1 *
                            input#inp6(type="text" name="name6" placeholder="Введите текст" disabled).form-control.form-control-lg
                            span.caption-m.dark-70.d-block Подсказка
                    .col-12.col-md-6.col-xl-3
                        .d-flex.flex-column.row-gap-2
                            label(for="inp7").form-label.mb-0
                                | Наименование
                                span.orange-100.ms-1 *
                            input#inp7(type="text" name="name7" placeholder="Введите текст").form-control
                            span.caption-m.dark-70.d-block Подсказка
                    .col-12.col-md-6.col-xl-3
                        .d-flex.flex-column.row-gap-2
                            label(for="inp8").form-label.mb-0
                                | Наименование
                                span.orange-100.ms-1 *
                            input#inp8(type="text" name="name8" placeholder="Введите текст" required).form-control.is-invalid
                            div.invalid-feedback Подсказка

                .row
                    .col-12.col-md-6.col-xl-3
                        .d-flex.flex-column.row-gap-2
                            label(for="inp1").form-label.mb-0
                                | Наименование
                                span.orange-100.ms-1 *
                            .input-group
                                input#inp1(type="text" name="name1" placeholder="Введите текст").form-control.form-control-lg
                                .input-group__currency
                                    select(aria-label="Выберите валюту").form-select.js-select
                                        option(selected value="RUB") RUB
                                        option(value="USD") USD
                                        option(value="CNY") CNY
                            span.caption-m.dark-70.d-block Подсказка
                    .col-12.col-md-6.col-xl-3
                        .d-flex.flex-column.row-gap-2
                            label(for="inp3").form-label.mb-0
                                | Наименование
                                span.ms-1 *
                            .input-group
                                input#inp3(type="text" name="name3" placeholder="Введите текст" disabled).form-control.form-control-lg
                                .input-group__currency
                                    select(aria-label="Выберите валюту" disabled).form-select.js-select
                                        option(value="RUB") RUB
                                        option(value="USD") USD
                                        option(value="CNY") CNY
                            span.caption-m.dark-70.d-block Подсказка
                    .col-12.col-md-6.col-xl-3
                        .d-flex.flex-column.row-gap-2
                            label(for="inp2").form-label.mb-0
                                | Наименование
                                span.orange-100.ms-1 *
                            .input-group
                                input#inp2(type="text" name="name1" placeholder="Введите текст").form-control
                                .input-group__currency
                                    select(aria-label="Выберите валюту").form-select.form-select--size-small.js-select
                                        option(selected value="RUB") RUB
                                        option(value="USD") USD
                                        option(value="CNY") CNY
                            span.caption-m.dark-70.d-block Подсказка
                    .col-12.col-md-6.col-xl-3
                        .d-flex.flex-column.row-gap-2
                            label(for="inp4").form-label.mb-0
                                | Наименование
                                span.ms-1 *
                            .input-group
                                input#inp4(type="text" name="name1" placeholder="Введите текст" disabled).form-control
                                .input-group__currency
                                    select(aria-label="Выберите валюту" disabled).form-select.form-select--size-small.js-select
                                        option(selected value="RUB") RUB
                                        option(value="USD") USD
                                        option(value="CNY") CNY
                            span.caption-m.dark-70.d-block Подсказка

                .row
                    .col-12.col-md-6.col-xl-3
                        .d-flex.flex-column.row-gap-2
                            label(for="select1").form-label.mb-0
                                | Наименование
                                span.orange-100.ms-1 *
                            select#select1(aria-label="Подсказка").form-select.js-select
                                option(selected value="1") Список 1
                                option(value="2") Список 2
                                option(value="3") Список 3
                                option(value="4") Список 4
                                option(value="5") Список 5
                                option(value="6") Список 6
                                option(value="7") Список 7
                                option(value="8") Список 8

                            span.caption-m.dark-70.d-block Подсказка
                    .col-12.col-md-6.col-xl-3
                        .d-flex.flex-column.row-gap-2
                            label(for="select3").form-label.mb-0
                                | Наименование
                                span.ms-1 *
                            select#select3(aria-label="Подсказка" disabled).form-select.js-select
                                option(selected value="1") Список 1
                                option(value="2") Список 2
                                option(value="3") Список 3
                                option(value="4") Список 4
                                option(value="5") Список 5
                                option(value="6") Список 6
                                option(value="7") Список 7
                                option(value="8") Список 8

                            span.caption-m.dark-70.d-block Подсказка

                    .col-12.col-md-6.col-xl-3
                        .d-flex.flex-column.row-gap-2
                            label(for="select2").form-label.mb-0
                                | Наименование
                                span.orange-100.ms-1 *
                            select#select2(aria-label="Подсказка" data-placeholder="Подсказка").form-select.form-select--size-small.js-select
                                option
                                option(value="1") Список 1
                                option(value="2" disabled) Список 2
                                option(value="3") Список 3
                                option(value="4") Список 4
                                option(value="5") Список 5
                                option(value="6") Список 6
                                option(value="7") Список 7
                                option(value="8") Список 8

                            span.caption-m.dark-70.d-block Подсказка

                    .col-12.col-md-6.col-xl-3
                        .d-flex.flex-column.row-gap-2
                            label(for="select4").form-label.mb-0
                                | Наименование
                                span.ms-1 *
                            select#select4(aria-label="Подсказка" data-placeholder="Подсказка" disabled).form-select.form-select--size-small.js-select
                                option
                                option(value="1") Список 1
                                option(value="2" disabled) Список 2
                                option(value="3") Список 3
                                option(value="4") Список 4
                                option(value="5") Список 5
                                option(value="6") Список 6
                                option(value="7") Список 7
                                option(value="8") Список 8

                            span.caption-m.dark-70.d-block Подсказка

    section#checkbox.section-layout.pt-0
        .container
            .d-flex.flex-column.row-gap-5
                h2 Checkbox / Radio

                .row.row-gap-3
                    .col-12.col-md-6.col-xl-3
                        .form-check
                            input#inp10(type="checkbox" value="").form-check-input
                            label(for="inp10").form-check-label
                                | Страхование
                    .col-12.col-md-6.col-xl-3
                        .form-check
                            input#inp11(type="checkbox" value="" checked).form-check-input
                            label(for="inp11").form-check-label
                                | Получаю зарплату на&nbsp;карту Новиком
                    .col-12.col-md-6.col-xl-3
                        .form-check
                            input#inp12(type="checkbox" value="" checked).form-check-input
                            label(for="inp12").form-check-label
                                a(href="#") Получаю зарплату на&nbsp;карту Новиком
                    .col-12.col-md-6.col-xl-3
                        .form-check
                            input#inp13(type="checkbox" value="" disabled).form-check-input
                            label(for="inp13").form-check-label
                                | Страхование
                .row.row-gap-3
                    .col-12.col-md-6.col-xl-3
                        .form-check.form-check--size-small
                            input#inp15(type="checkbox" value="").form-check-input
                            label(for="inp15").form-check-label
                                | Страхование
                    .col-12.col-md-6.col-xl-3
                        .form-check.form-check--size-small
                            input#inp16(type="checkbox" value="" checked).form-check-input
                            label(for="inp16").form-check-label
                                | Получаю зарплату на&nbsp;карту Новиком
                    .col-12.col-md-6.col-xl-3
                        .form-check.form-check--size-small
                            input#inp17(type="checkbox" value="" checked).form-check-input
                            label(for="inp17").form-check-label
                                a(href="#") Получаю зарплату на&nbsp;карту Новиком
                    .col-12.col-md-6.col-xl-3
                        .form-check.form-check--size-small
                            input#inp18(type="checkbox" value="" disabled).form-check-input
                            label(for="inp18").form-check-label
                                | Страхование
                .row.row-gap-3
                    .col-12.col-md-6.col-xl-3
                        .d-flex.flex-column.row-gap-2
                            .form-check
                                input#radio1(type="radio" name="radioGroup1").form-check-input
                                label(for="radio1").form-check-label
                                    | Радио по умолчанию
                            .form-check
                                input#radio2(type="radio" name="radioGroup1" checked).form-check-input
                                label(for="radio2").form-check-label
                                    | Радио выбранное по умолчанию
                            .form-check
                                input#radio3(type="radio" name="radioGroup1" disabled).form-check-input
                                label(for="radio3").form-check-label
                                    | Радио отключенное
                    .col-12.col-md-6.col-xl-3
                        .d-flex.flex-column.row-gap-2
                            .form-check.form-check--size-small
                                input#radio10(type="radio" name="radioGroup2").form-check-input
                                label(for="radio10").form-check-label
                                    | Радио по умолчанию
                            .form-check.form-check--size-small
                                input#radio11(type="radio" name="radioGroup2" checked).form-check-input
                                label(for="radio11").form-check-label
                                    | Радио выбранное по умолчанию
                            .form-check.form-check--size-small
                                input#radio12(type="radio" name="radioGroup2" disabled).form-check-input
                                label(for="radio12").form-check-label
                                    | Радио отключенное


    section#helper.section-layout.pt-0
        .container
            .d-flex.flex-column.row-gap-5
                h2 Helper

                .row
                    .col-12
                        +polygon-container()
                            +helper("img/restructuring-additional-info.png", "bg-dark-10")
                                p.mb-0 Банк вправе запросить дополнительные документы заемщика/созаемщика/поручителя <br />для подтверждения информации, указанной заемщиком/созаемщиком/поручителем.

    section#banner-product-info.section-layout.pt-0
        .container
            .d-flex.flex-column.row-gap-5.mb-5.mb-lg-6
                h2 Banner Product Info
        +banner-product-info({
            title: "Банк готов оказать необходимую поддержку в урегулировании задолженности в случаях",
            button: {
                href: "#",
                text: "Подробнее",
            },
            imageSrc: "img/banners/page-banner-1.png",
        }, 'bg-dark-10')
            ul.fw-normal.text-l.list.list--size-l
                li Если вы&nbsp;пострадали от&nbsp;недружественных действий других государств в&nbsp;приграничных субъектах Российской Федерации
                li Если вы&nbsp;пострадали в&nbsp;связи с&nbsp;чрезвычайными ситуациями природного характера (наводнениями) на&nbsp;территории субъектов Российской Федерации в&nbsp;рамках Федерального закона &laquo;О&nbsp;потребительском кредите (займе)&raquo; от&nbsp;21.12.2013 &#8470;&nbsp;353-ФЗ или по&nbsp;программе Банка

    section.section-custom-accordion.section-layout.pt-0
        -
            var linkDownloadList = [
                {
                    href: "#",
                    text: "Сборник тарифов на обслуживание банковских карт для физических лиц, выпущенных по 21.08.2022 г.",
                    dateTime: "12.12.23 18:56",
                    fileType: "XLS",
                    classSize: 'text-m'
                },
                {
                    href: "#",
                    text: "Сборник тарифов на обслуживание банковских карт для физических лиц, выпущенных по 21.08.2022 г.",
                    dateTime: "12.12.23 18:56",
                    fileType: "XLS",
                    classSize: 'text-m'
                },
                {
                    href: "#",
                    text: "Наименование документа",
                    dateTime: "12.12.23 18:56",
                    fileType: "XLS",
                    classSize: 'text-m'
                },
                {
                    href: "#",
                    text: "Сборник тарифов на обслуживание банковских карт для физических лиц, выпущенных по 21.08.2022 г.",
                    dateTime: "12.12.23 18:56",
                    fileType: "XLS",
                    classSize: 'text-m'
                },
            ]

            var accordionList = [
                {
                    id: 1,
                    title: 'Тарифы для физических лиц',
                    content: 'Тарифы для физических лиц, действующие во всех регионах присутствия Банка.',
                    linkList: linkDownloadList,
                    isOpen: true
                },
                {
                    id: 2,
                    title: 'Договор банковского обслуживания',
                    content: 'Тарифы для физических лиц, действующие во всех регионах присутствия Банка.',
                },
                {
                    id: 3,
                    title: 'Вместе с основной зарплатной картой мне выдали дополнительную. По каким тарифам она обслуживается?',
                    content: 'Тарифы для физических лиц, действующие во всех регионах присутствия Банка.',
                },
                {
                    id: 4,
                    title: 'Что делать, если потерял карту или забыл ПИН-код?',
                    content: 'Если есть подозрение, что ПИН-код мог стать доступен третьим лицам, незамедлительно заблокируйте карту. <br>Если ПИН-код не удается вспомнить карту необходимо перевыпустить.',
                },
                {
                    id: 5,
                    title: 'Иные документы',
                    content: 'Тарифы для физических лиц, действующие во всех регионах присутствия Банка.',
                },
            ]

            var cardBenefitData = {
                title: 'Защита от мошенников',
                description: 'Узнайте как уберечь себя и своих близких <br>от финансового мошенничества.',
                sprite: {
                    name: 'icon-a-protection',
                    classList: 'size-md-xxl'
                },
                link: '#'
            }

        .container
            h3.px-lg-6.mb-4.mb-md-6.mb-lg-7
                | Additional info (Accordion & Card-benefit)
            .row.row-gap-6
                .col-12.col-xxl-8.pe-xxl-6
                    .accordion#accordion-example-1
                        each item in accordionList
                            +accordion-item(item, 'accordion-example-1')
                                p.text-m.mb-0.dark-70!= item.content
                                if item.linkList
                                    .mt-4
                                        each link in item.linkList
                                            +document-download(link)

                .col-12.col-xxl-4
                    +card-benefit(cardBenefitData)

    section.section-custom-accordion.section-layout.pt-0
        -
            var accordionList2 = [
                {
                    id: 11,
                    title: 'Что нужно знать клиентам о продлении срока действия карт?',
                    content: 'Если есть подозрение, что ПИН-код мог стать доступен третьим лицам, незамедлительно заблокируйте карту. <br>Если ПИН-код не удается вспомнить карту необходимо перевыпустить.',
                    isOpen: true
                },
                {
                    id: 12,
                    title: 'Взимается ли комиссия за снятие наличных денежных средств в банкоматах, если моя организация – работодатель  является участником зарплатного проекта Банка?',
                    content: 'Если есть подозрение, что ПИН-код мог стать доступен третьим лицам, незамедлительно заблокируйте карту. <br>Если ПИН-код не удается вспомнить карту необходимо перевыпустить.',
                },
                {
                    id: 13,
                    title: 'Вместе с основной зарплатной картой мне выдали дополнительную. По каким тарифам она обслуживается?',
                    content: 'Если есть подозрение, что ПИН-код мог стать доступен третьим лицам, незамедлительно заблокируйте карту. <br>Если ПИН-код не удается вспомнить карту необходимо перевыпустить.',
                },
                {
                    id: 14,
                    title: 'Что делать, если потерял карту или забыл ПИН-код?',
                    content: 'Если есть подозрение, что ПИН-код мог стать доступен третьим лицам, незамедлительно заблокируйте карту. <br>Если ПИН-код не удается вспомнить карту необходимо перевыпустить.',
                },
                {
                    id: 15,
                    title: 'Мою карту заблокировал Банк. Что делать?',
                    content: 'Если есть подозрение, что ПИН-код мог стать доступен третьим лицам, незамедлительно заблокируйте карту. <br>Если ПИН-код не удается вспомнить карту необходимо перевыпустить.',
                },
            ]

            var cardHelpData = {
                title: 'Остались вопросы?',
                description: 'Оставьте свой телефон и мы перезвоним вам, либо задайте вопрос в чате',
                agreementText: 'Нажимая кнопку «Перезвоните мне», вы соглашаетесь с условиями предоставления информации',
                chatButtonIsVisible: true,
                sprite: {
                    name: 'icon-a-protection',
                    classList: 'size-md-xxl'
                },
                link: '#'
            }

        .container
            h3.px-lg-6.mb-4.mb-md-6.mb-lg-7
                | Additional info (Accordion & Card-help)

            .row.row-gap-6
                .col-12.col-xxl-8.pe-xxl-6
                    .accordion#accordion-example-2
                        each item in accordionList2
                            +accordion-item(item, 'accordion-example-2')
                                p.mb-0.dark-70!= item.content
                    a(href="#").btn.btn-link.btn-lg.d-inline-flex.gap-2.align-items-center.mt-4.mt-lg-6
                        span.text-m Все вопросы и ответы
                        +svg-use('icon-chevron-right-small', 'icon size-m')
                .col-12.col-xxl-4
                    +card-help(cardHelpData)
