---
import ACheckbox from "../../ACheckbox/ACheckbox.astro";

type Size = 's' | 'm';

interface Props {
    checked?: boolean,
    value?: any,
    id: string | number,
    size: Size,
}

const { id, checked,
    size = 's', value, } = Astro.props;
---
<div
     class:list={[
         'drop-down-checkbox',
         'js-drop-down-checkbox',
        `drop-down-checkbox--${size}`,
    ]}
>
    <ACheckbox size={size} id={id} checked={checked} value={value}>
        <Fragment slot="label">
            <slot />
        </Fragment>
    </ACheckbox>
</div>

<style lang="scss" is:global>
    .drop-down-checkbox {
        $root: #{&};

        & .a-checkbox__inner {
            padding: 1rem;
            width: 100%;
        }

        &#{$root}--s {
            & .a-checkbox {
                &__inner {
                    gap: .5rem;
                }
            }
        }

        &#{$root}--m {
            & .a-checkbox {
                &__inner {
                    gap: .75rem;
                }
            }
        }

        &:hover {
            background-color: var(--dark-10);

            & .a-checkbox {
                &__label {
                    color: var(--blue-100);
                }
            }
        }
    }
</style>

